div.phpdebugbar-widgets-modules table.phpdebugbar-widgets-params {
    display: none;
    width: 70%;
    margin: 10px;
    border: 1px solid #ddd;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    border-collapse: collapse;
}

div.phpdebugbar-widgets-modules table.phpdebugbar-widgets-params td {
    border: 1px solid #ddd;
    text-align: center;
}

div.phpdebugbar-widgets-modules table.phpdebugbar-widgets-params .phpdebugbar-widgets-name {
    width: 20%;
    font-weight: bold;
}

div.phpdebugbar-widgets-modules span.phpdebugbar-widgets-models,
div.phpdebugbar-widgets-modules span.phpdebugbar-widgets-views,
div.phpdebugbar-widgets-modules span.phpdebugbar-widgets-queries,
div.phpdebugbar-widgets-modules span.phpdebugbar-widgets-duration,
div.phpdebugbar-widgets-modules span.phpdebugbar-widgets-database {
    float: right;
    margin-left: 8px;
    color: #888;
}

div.phpdebugbar-widgets-modules span.phpdebugbar-widgets-models:before,
div.phpdebugbar-widgets-modules span.phpdebugbar-widgets-views:before,
div.phpdebugbar-widgets-modules span.phpdebugbar-widgets-queries:before,
div.phpdebugbar-widgets-modules span.phpdebugbar-widgets-duration:before,
div.phpdebugbar-widgets-modules span.phpdebugbar-widgets-database:before {
    font-family: PhpDebugbarFontAwesome;
    margin-right: 4px;
    font-size: 12px;
}

div.phpdebugbar-widgets-modules span.phpdebugbar-widgets-models:before {
    content: "\f1b3";
}

div.phpdebugbar-widgets-modules span.phpdebugbar-widgets-duration:before {
    content: "\f017";
}

div.phpdebugbar-widgets-modules span.phpdebugbar-widgets-views:before {
    content: "\f06c";
}

div.phpdebugbar-widgets-modules span.phpdebugbar-widgets-queries:before {
    content: "\f1c0";
}

div.phpdebugbar-widgets-modules span.phpdebugbar-widgets-database:before {
    content: "\f1c0";
}

div.phpdebugbar-widgets-modules table.phpdebugbar-widgets-params td.phpdebugbar-widgets-name {
    width: auto;
}

div.phpdebugbar-widgets-modules table.phpdebugbar-widgets-params td.phpdebugbar-widgets-name .phpdebugbar-fa {
    position: relative;
    top: 1px;
    margin-left: 3px;
}

div.phpdebugbar-widgets-modules {
    line-height: 20px;
}

div.phpdebugbar-widgets-modules table.phpdebugbar-widgets-params th,
div.phpdebugbar-widgets-modules table.phpdebugbar-widgets-params td {
    padding: 4px 10px;
}

div.phpdebugbar-widgets-modules table.phpdebugbar-widgets-params th {
    background-color: #efefef;
}

div.phpdebugbar-widgets-modules table.phpdebugbar-widgets-params td.phpdebugbar-widgets-name {
    text-align: right;
    vertical-align: top;
    white-space: nowrap;
}

div.phpdebugbar-widgets-modules table.phpdebugbar-widgets-params td.phpdebugbar-widgets-value {
    text-align: left;
}