.git
.github
.idea
.vscode
node_modules
**/node_modules
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/debugbar
bootstrap/cache/*.php
public/hot
public/storage
.env
.env.*
!.env.example
docker/production
terminals
*.md
!LICENSE
tests
phpunit.xml
.DS_Store
