/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/vendor
/public/themes
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/ignorables/*
composer.lock
yarn.lock
package-lock.json
