.env
.env.testing
.idea
.php_cs.cache
.vscode
.vagrant
/stubs
/data
/docker-compose-collection
Homestead.json
Homestead.yaml
/ignorables/*
/node_modules
npm-debug.log
package-lock.json
/public/css
/public/fonts
/public/js
/public/hot
/public/storage
/public/themes
/public/vendor
/lang/vendor
/storage/*.key
/storage/dcc-data/
/vendor
yarn.lock
yarn-error.log