/docker-compose-collection
/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/vendor
/public/themes
/public/fonts
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/ignorables/*
yarn.lock
package-lock.json
yarn.lock
.php_cs.cache
storage/*.key
/docker-compose-collection/
/resources/themes/velocity/*