<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true"
>
    <testsuites>
        <!-- Admin package testsuites. -->
        <testsuite name="Admin Unit Test">
            <directory suffix="Test.php">./packages/Webkul/Admin/tests/Unit</directory>
        </testsuite>
        <testsuite name="Admin Feature Test">
            <directory suffix="Test.php">./packages/Webkul/Admin/tests/Feature</directory>
        </testsuite>

        <!-- DataGrid package testsuites. -->
        <testsuite name="DataGrid Unit Test">
            <directory suffix="Test.php">./packages/Webkul/DataGrid/tests/Unit</directory>
        </testsuite>
        <testsuite name="DataGrid Feature Test">
            <directory suffix="Test.php">./packages/Webkul/DataGrid/tests/Feature</directory>
        </testsuite>

        <!-- Shop package testsuites. -->
        <testsuite name="Shop Unit Test">
            <directory suffix="Test.php">./packages/Webkul/Shop/tests/Unit</directory>
        </testsuite>
        <testsuite name="Shop Feature Test">
            <directory suffix="Test.php">./packages/Webkul/Shop/tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_DRIVER" value="array"/>
        <!-- <env name="DB_CONNECTION" value="sqlite"/> -->
        <!-- <env name="DB_DATABASE" value=":memory:"/> -->
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
    </php>
</phpunit>
