@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
//velocity variables
$white-color: #FFFFFF;
$font-color: rgba(0,0,0,0.83);
$button-primary-bg: #21A179;
$border-primary: #269c77;
$button-danger: #F05153;
$border-danger: #F05153;
$color-danger: #F05153;
$border-common: #CCCCCC;
$border-dark: #DCDCDC;
$border-light: #ECECEC;
$border-general: #E5E5E5;
$theme-color: #26A37C;
$btn-text-color: #FFFFFF;
$light-color: #FFFFFF;
$dark-color: #000000;
$light1-black: #141516;
$light2-black: #cfcfd0;
$link-color: #4D7EA8;
$light-link-color: #28557B;
$grey-clr: rgba(0,0,0,0.53);
$light-grey-clr: rgb(158, 158, 158);
$light-background: #F7F7F9;
$sidebar-width: 230px;
$box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

$font-family-pro: 'Source Sans Pro', sans-serif;
$font-family-regular: 'SourceSansPro-Regular';
$font-family-semibold: 'SourceSansPro-Semibold';
$font-family-bold: 'SourceSansPro-Bold';
