.bp-location-icon {
    background-image: url("../images/location.svg");
    width: 32px;
    height: 32px;
}

.bp-slot-icon {
    background-image: url("../images/slot.svg");
    width: 32px;
    height: 32px;
}

.bp-phone-icon {
    background-image: url("../images/phone.svg");
    width: 32px;
    height: 32px;
}