.stripe-close-icon {
    width: 24px;
    height: 24px;
    background-image: url("../images/icons/close-icon.svg");
    position: absolute;
    top: 5px;
    right: 5px;
}

.icon {
    display: inline-block;
    background-size: cover;
}

%menu-properties {
    width: 48px;
    height: 48px;
    display: inline-block;
    background-size: cover;
}

.stripe-icon {
    @extend %menu-properties;
    background-image: url("../images/icons/Icon-Stripe.svg");
}

.active {
    .stripe-icon {
        @extend %menu-properties;
        background-image: url("../images/icons/Icon-Stripe-Active.svg");
    }
}

#stripe-pay-button label {
    display: inline;
    color: #ffffff;
}

.more-payment-icons {
    text-align: center;
    margin-top: 15px;

    .visa-icon {
        width: 45px;
        height: 28px;
        background-image: url("../images/icons/visa.svg");
        padding-left: 32px;
    }

    .master-icon {
        width: 45px;
        height: 28px;
        background-image: url("../images/icons/master.svg");
        padding-left: 32px;
    }

    .mastro-icon {
        width: 45px;
        height: 28px;
        background-image: url("../images/icons/mastro.svg");
        padding-left: 32px;
    }

    .pci-icon {
        width: 45px;
        height: 28px;
        background-image: url("../images/icons/pci.svg");
        padding-left: 32px;
    }
}
.add-card {
    display: none;
}

.stripe-cards {
    // position: relative;
}

.stripe-block-modal {
    top: 120px;
    left: calc(50% - 222px) !important;
    display: block;
    position: fixed;
    z-index: 11;
    width: 450px;
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: 0 11px 23px 6px rgba(0,0,0,0.28);
    border-radius: 5px;
    margin-left: 0px !important;



    .stripe-title {
        padding-bottom: 20px;
        padding-top: 20px;
        text-align: center;
    }
}

.stripe-form-content {
    padding-top: 30px;
    padding-bottom: 10px;

    .stripe-fields {
        .control-group {
            margin-bottom: 10px;
        }
    }

    .btn.btn-primary.btn-lg {
        width: 100%;
    }
}

.stripe-errors {
    margin-bottom: 10px;
    color: #FF5252
}

.stripe-block-modal.close {
    display: none;
}

.stripe-card-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;

    .radio-container {
        padding-left: 28px;
    }

    span.icon {
        width: 35px;
        height:32px;
    }

    span.card-last-four, a#edit-card, a#delete-card {
        font-style: normal;
    }

    span.card-last-four, a#edit-card {
        margin-right: 14px;
    }
}

.stripe-cards-block {
    display: none;
}

.payment-icon {
    width: 25px;
}