.social-login-links {
    .icon {
        width: 18px;
        height: 18px;
        vertical-align: middle;
        margin-bottom: 3px;
        margin-right: 3px;
        display: inline-block;
        background-size: cover;

        &.icon-facebook {
            background-image: url("../images/facebook.svg");
        }

        &.icon-twitter {
            background-image: url("../images/twitter.svg");
        }

        &.icon-google {
            background-image: url("../images/google.svg");
        }

        &.icon-linkedin {
            background-image: url("../images/linkedin.svg");
        }

        &.icon-github {
            background-image: url("../images/github.svg");
        }

        &.icon-instagram {
            background-image: url("../images/instagram.svg");
        }
    }
}