@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500);.icon {
  display: inline-block;
  background-size: cover;
}

.dropdown-right-icon {
  background-image: URL("../images/icon-dropdown-left.svg");
  width: 8px;
  height: 8px;
  margin-left: auto;
  margin-bottom: 2px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.header {
  margin-top: 16px;
  margin-bottom: 21px;
}

.header .header-top {
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 80%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header-top div.left-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-top div.left-content ul.logo-container {
  margin-right: 12px;
}

.header .header-top div.left-content ul.logo-container li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header-top div.left-content ul.search-container li.search-group {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-top div.left-content ul.search-container li.search-group .search-field {
  height: 38px;
  border: 2px solid #c7c7c7;
  border-radius: 3px;
  border-right: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding-left: 12px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.header .header-top div.left-content ul.search-container li.search-group .search-icon-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 38px;
  width: 38px;
  border: 2px solid #c7c7c7;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.header .header-top div.left-content ul.search-container li.search-group .search-icon-wrapper .search-icon {
  margin-top: 4px;
  margin-left: 4px;
  height: 24px;
  width: 24px;
}

.header .header-top div.right-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-top div.right-content ul.account-dropdown-container {
  float: right;
  border-right: 2px solid #c7c7c7;
}

.header .header-top div.right-content ul.account-dropdown-container li.account-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 14px;
}

.header .header-top div.right-content ul.account-dropdown-container li.account-dropdown .account-icon {
  cursor: pointer;
  margin-right: 8px;
  height: 24px;
  width: 24px;
}

.header .header-top div.right-content ul.account-dropdown-container li.account-dropdown .account {
  cursor: pointer;
  padding-top: 3px;
  padding-right: 5px;
  margin-left: 8px;
}

.header .header-top div.right-content ul.account-dropdown-container li.account-dropdown .icon.arrow-down-icon {
  cursor: pointer;
  margin-top: 10px;
}

.header .header-top div.right-content ul.cart-dropdown {
  float: right;
}

.header .header-top div.right-content ul.cart-dropdown li.cart-summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 14px;
}

.header .header-top div.right-content ul.cart-dropdown li.cart-summary .cart-icon {
  margin: 0;
  height: 24px;
  width: 24px;
  margin-right: 8px;
}

.header .header-top div.right-content ul.cart-dropdown li.cart-summary .cart {
  padding-top: 3px;
  padding-right: 5px;
}

.header .header-top div.right-content ul.cart-dropdown li.cart-summary .cart .cart-count {
  color: #0031f0;
  padding-right: 3px;
}

.header .header-top div.right-content ul.cart-dropdown li.cart-summary .icon.arrow-down-icon {
  margin-top: 10px;
}

.header .header-top .right-responsive {
  display: none;
}

.header .header-top .right-responsive ul.right-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-top .right-responsive ul.right-wrapper li:not(:last-child) {
  margin-right: 7px;
}

.header .header-top .right-responsive ul.right-wrapper li:not(:last-child) span.icon {
  margin: 0;
  height: 24px;
  width: 24px;
}

.header .header-bottom {
  height: 48px;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  font-size: 16px;
  display: block;
  /* submenu positioning*/
}

.header .header-bottom ul.nav {
  display: block;
  font-size: 16px;
  height: 48px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.header .header-bottom .nav ul {
  margin: 0;
  padding: 0;
  border: 1px solid #B1B1B1;
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.4);
}

.header .header-bottom .nav a {
  display: block;
  color: #242424;
  text-decoration: none;
  padding: 0.8em 0.3em 0.8em 0.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
}

.header .header-bottom .nav {
  vertical-align: top;
  display: inline-block;
}

.header .header-bottom .nav li {
  position: relative;
  height: 45px;
}

.header .header-bottom .nav > li {
  float: left;
  margin-right: 1px;
}

.header .header-bottom .nav > li > a {
  margin-bottom: 1px;
}

.header .header-bottom .nav > li:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0 0 4px 0;
  float: right;
}

.header .header-bottom .nav > li:last-child img {
  margin-right: 6px;
}

.header .header-bottom .nav > li:last-child > a {
  border-radius: 0 4px 0 0;
}

.header .header-bottom .nav li li a {
  margin-top: 1px;
}

.header .header-bottom .nav li a:first-child:nth-last-child(2):before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border: 5px solid transparent;
  top: 50%;
  right: 5px;
}

.header .header-bottom .nav ul {
  position: absolute;
  white-space: nowrap;
  border: 1px solid #B1B1B1;
  background-color: white;
  z-index: 1;
  left: -99999em;
}

.header .header-bottom .nav > li:hover > ul {
  left: auto;
  min-width: 100%;
}

.header .header-bottom .nav > li li:hover > ul {
  left: 100%;
  margin-left: 1px;
  top: -1px;
}

.header .header-bottom .nav > li:hover > a:first-child:nth-last-child(2):before {
  margin-top: -5px;
}

.header .header-bottom .nav li li > a:first-child:nth-last-child(2):before {
  margin-top: -5px;
}

.header .header-bottom .nav li li:hover > a:first-child:nth-last-child(2):before {
  right: 10px;
}

section.slider-block {
  display: block;
  margin-bottom: 5%;
}

section.slider-block div.slider-content {
  width: 80%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}

section.slider-block div.slider-content ul.slider-images li {
  position: absolute;
  visibility: hidden;
}

section.slider-block div.slider-content ul.slider-images li.show {
  display: block;
  visibility: visible;
  width: 80%;
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

@-webkit-keyframes example {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes example {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

section.slider-block div.slider-content ul.slider-images li img {
  height: 500px;
  width: 100%;
}

section.slider-block div.slider-content div.slider-control {
  display: block;
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  bottom: 2%;
  right: 11%;
}

section.slider-block div.slider-content div.slider-control .dark-left-icon {
  background-color: #ffffff;
  height: 48px;
  width: 48px;
  max-height: 100%;
  max-width: 100%;
}

section.slider-block div.slider-content div.slider-control .light-right-icon {
  background-color: black;
  height: 48px;
  width: 48px;
  max-height: 100%;
  max-width: 100%;
}

.layered-filter-wrapper {
  width: 25%;
  float: left;
  margin-right: 20px;
  min-height: 1px;
}

.layered-filter-wrapper .filter-title {
  border-bottom: 1px solid #E8E8E8;
  font-size: 16px;
  color: #242424;
  padding: 10px 0;
}

.layered-filter-wrapper .filter-attributes .filter-attributes-item {
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 10px;
}

.layered-filter-wrapper .filter-attributes .filter-attributes-item .filter-attributes-title {
  padding: 10px 40px 0 10px;
  font-size: 16px;
  color: #5E5E5E;
  cursor: pointer;
  position: relative;
}

.layered-filter-wrapper .filter-attributes .filter-attributes-item .filter-attributes-title .remove-filter-link {
  font-weight: 400;
  color: #0031F0;
  margin-right: 10px;
}

.layered-filter-wrapper .filter-attributes .filter-attributes-item .filter-attributes-title .icon {
  background-image: url("../images/arrow-down.svg") !important;
  width: 10px;
  height: 10px;
  position: absolute;
  right: 15px;
  top: 14px;
}

.layered-filter-wrapper .filter-attributes .filter-attributes-item .filter-attributes-content {
  padding: 10px;
  display: none;
}

.layered-filter-wrapper .filter-attributes .filter-attributes-item .filter-attributes-content ol.items {
  padding: 0;
  margin: 0;
  list-style: none none;
}

.layered-filter-wrapper .filter-attributes .filter-attributes-item .filter-attributes-content ol.items li.item {
  padding: 8px 0;
  font-size: 16px;
  color: #5E5E5E;
}

.layered-filter-wrapper .filter-attributes .filter-attributes-item .filter-attributes-content ol.items li.item .checkbox {
  margin: 0;
}

.layered-filter-wrapper .filter-attributes .filter-attributes-item .filter-attributes-content ol.items li.item .checkbox .checkbox-view {
  height: 16px;
  width: 16px;
  background-image: url("../images/checkbox.svg");
}

.layered-filter-wrapper .filter-attributes .filter-attributes-item .filter-attributes-content ol.items li.item .checkbox input:checked + .checkbox-view {
  background-image: url("../images/checkbox-checked.svg");
}

.layered-filter-wrapper .filter-attributes .filter-attributes-item .filter-attributes-content .price-range-wrapper {
  margin-top: 21px;
}

.layered-filter-wrapper .filter-attributes .filter-attributes-item.active .filter-attributes-content {
  display: block;
}

.layered-filter-wrapper .filter-attributes .filter-attributes-item.active .filter-attributes-title .icon {
  background-image: url("../images//arrow-up.svg") !important;
}

.main-container-wrapper {
  margin-left: 10%;
  margin-right: 10%;
}

.main-container-wrapper .content-container {
  display: inline-block;
  width: 100%;
}

.main-container-wrapper .product-grid {
  display: grid;
  grid-gap: 30px;
}

.main-container-wrapper .product-grid.max-2-col {
  grid-template-columns: repeat(2, minmax(250px, 1fr));
}

.main-container-wrapper .product-grid.max-3-col {
  grid-template-columns: repeat(3, minmax(250px, 1fr));
}

.main-container-wrapper .product-grid.max-4-col {
  grid-template-columns: repeat(4, minmax(250px, 1fr));
}

.main-container-wrapper .product-grid .product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-container-wrapper .product-grid .product-card .product-image img {
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
  margin-bottom: 14px;
}

.main-container-wrapper .product-grid .product-card .product-name {
  font-size: 16px;
  margin-bottom: 14px;
  width: 100%;
}

.main-container-wrapper .product-grid .product-card .product-price {
  font-size: 16px;
  margin-bottom: 14px;
  width: 100%;
  font-weight: 600;
}

.main-container-wrapper .product-grid .product-card .product-price .price-label {
  font-size: 14px;
  font-weight: 400;
}

.main-container-wrapper .product-grid .product-card .product-price .regular-price {
  font-size: 16px;
  color: #A5A5A5;
  text-decoration: line-through;
  margin-right: 10px;
}

.main-container-wrapper .product-grid .product-card .product-price .special-price {
  font-size: 16px;
  color: #FF6472;
}

.main-container-wrapper .product-grid .product-card .product-ratings {
  width: 100%;
  margin-bottom: 14px;
}

.main-container-wrapper .product-grid .product-card .cart-fav-seg {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container-wrapper .product-grid .product-card .cart-fav-seg .addtocart {
  border-radius: 0px;
  margin-right: 10px;
  text-transform: uppercase;
}

.main-container-wrapper .bottom-toolbar {
  display: block;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.main-container-wrapper section.featured-products {
  display: block;
  margin-bottom: 5%;
}

.main-container-wrapper section.featured-products .featured-heading {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 20px;
}

.main-container-wrapper section.featured-products .featured-heading .featured-separator {
  color: lightgray;
}

.main-container-wrapper section.news-update {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin-bottom: 5%;
}

.main-container-wrapper section.news-update .news-update-grid {
  display: grid;
  grid-template-columns: 58.5% 40%;
  grid-gap: 20px;
}

.main-container-wrapper section.news-update .news-update-grid .block1 {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-container-wrapper section.news-update .news-update-grid .block1 img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
}

.main-container-wrapper section.news-update .news-update-grid .block2 {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: grid;
  grid-template-rows: repeat(2, minmax(50%, 1fr));
  grid-row-gap: 20px;
}

.main-container-wrapper section.news-update .news-update-grid .block2 .sub-block1 {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-container-wrapper section.news-update .news-update-grid .block2 .sub-block1 img {
  width: 100%;
}

.main-container-wrapper section.news-update .news-update-grid .block2 .sub-block2 {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-container-wrapper section.news-update .news-update-grid .block2 .sub-block2 img {
  width: 100%;
}

.footer {
  background-color: #f2f2f2;
  padding-left: 10%;
  padding-right: 10%;
}

.footer .footer-content .footer-list-container {
  display: grid;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: auto;
  grid-row-gap: 1vh;
}

.footer .footer-content .footer-list-container .list-container .list-heading {
  font-size: 16px;
  letter-spacing: -0.26px;
  text-transform: uppercase;
  color: #a5a5a5;
}

.footer .footer-content .footer-list-container .list-container .list-group {
  padding-top: 25px;
}

.footer .footer-content .footer-list-container .list-container .list-group li {
  margin-bottom: 12px;
  color: #242424;
  list-style-type: none;
  text-transform: uppercase;
}

.footer .footer-content .footer-list-container .list-container .list-group li span.icon-wrapper {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  height: 24px;
  width: 24px;
}

.footer .footer-content .footer-list-container .list-container .list-group li span.icon-wrapper span.icon {
  height: 24px;
  width: 24px;
}

.footer .footer-content .footer-list-container .list-container .form-container {
  padding-top: 10px;
}

.footer .footer-content .footer-list-container .list-container .form-container .control-group {
  margin: 0;
}

.footer .footer-content .footer-list-container .list-container .form-container .control-group .subscribe-field {
  width: 100%;
}

.footer .footer-content .footer-list-container .list-container .form-container .control-group .subscribe-field::-webkit-input-placeholder {
  font-family: "montserrat", sans-serif;
}

.footer .footer-content .footer-list-container .list-container .form-container .control-group .subscribe-field::-moz-placeholder {
  font-family: "montserrat", sans-serif;
}

.footer .footer-content .footer-list-container .list-container .form-container .control-group .btn-primary {
  background-color: black;
  margin-top: 8px;
  border-radius: 0px;
  text-align: center;
}

.content {
  padding-top: 15%;
  padding-bottom: 15%;
}

.content .sign-up-text {
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 18px;
  color: #5e5e5e;
  letter-spacing: -0.29px;
  text-align: center;
}

.content .login-form {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ffffff;
  border: 1px solid #c7c7c7;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 530px;
  min-width: 380px;
  min-height: 345px;
  padding-left: 25px;
  padding-right: 25px;
}

.content .login-form .login-text {
  font-size: 24px;
  font-weight: bold;
  color: #3a3a3a;
  letter-spacing: -0.23px;
  margin-top: 5%;
  margin-bottom: 3%;
}

.content .login-form .control-group {
  margin-bottom: 15px !important;
}

.content .login-form .control-group .control {
  width: 100% !important;
}

.content .login-form .forgot-password-link {
  font-size: 17px;
  color: #0031f0;
  letter-spacing: -0.11px;
  margin-bottom: 5%;
}

.content .login-form .signup-confirm {
  letter-spacing: -0.11px;
  margin-bottom: 5%;
}

.content .login-form .btn-primary {
  width: 100%;
  text-transform: uppercase;
  border-radius: 0px;
  height: 45px;
  margin-bottom: 4%;
}

.account-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 5.5%;
  margin-bottom: 5.5%;
}

.account-content .account-side-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border: 1px solid #e8e8e8;
  background: #ffffff;
  width: 25%;
  height: 100%;
  text-transform: capitalize;
  font-size: 16px;
  color: #5e5e5e;
}

.account-content .account-side-menu li {
  font-size: 16px;
  width: 95%;
  height: 50px;
  margin-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #c7c7c7;
  text-align: center;
}

.account-content .account-side-menu li:first-child {
  border-top: none;
}

.account-content .account-side-menu li:last-child {
  border-bottom: none;
}

.account-content .account-side-menu li.active {
  color: #0031f0;
}

.account-content .profile {
  margin-left: 5.5%;
  margin-top: 1%;
  width: 100%;
}

.account-content .profile .section-head .profile-heading {
  font-size: 28px;
  color: #242424;
  text-transform: capitalize;
  text-align: left;
}

.account-content .profile .section-head .profile-edit {
  font-size: 17px;
  margin-top: 1%;
  color: #0031f0;
  letter-spacing: -0.11px;
  float: right;
}

.account-content .profile .section-head .horizontal-rule {
  margin-top: 1.1%;
  width: 100%;
  height: 1px;
  vertical-align: middle;
  background: #e8e8e8;
}

.account-content .profile-content {
  font-size: 16px;
  color: #5e5e5e;
  margin-top: 1.4%;
}

.account-content .profile-content table tbody tr {
  height: 45px;
}

.account-content .profile-content table tbody tr td {
  width: 250px;
  text-transform: capitalize;
}

.account-content .edit-form-content {
  margin-left: 5.5%;
  margin-top: 1%;
  width: 100%;
}

.account-content .edit-form-content .edit-text {
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
}

.account-content .edit-form-content .edit-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ffffff;
  border: 1px solid #c7c7c7;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 345px;
  padding: 25px;
}

.account-content .edit-form-content .edit-form .control-group input,
.account-content .edit-form-content .edit-form .control-group select {
  font-family: "Montserrat", sans-serif;
  width: 100%;
}

section.product-detail, section.product-review {
  font-size: 16px;
  color: #242424;
}

section.product-detail div.category-breadcrumbs, section.product-review div.category-breadcrumbs {
  display: inline;
}

section.product-detail div.layouter, section.product-review div.layouter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  margin-top: 21px;
}

section.product-detail div.layouter .mixed-group .single-image, section.product-review div.layouter .mixed-group .single-image {
  padding: 2px;
}

section.product-detail div.layouter .mixed-group .single-image img, section.product-review div.layouter .mixed-group .single-image img {
  height: 280px;
  width: 280px;
}

section.product-detail div.layouter .mixed-group .details .product-name, section.product-review div.layouter .mixed-group .details .product-name {
  margin-top: 20px;
  font-size: 24px;
  margin-bottom: 20px;
}

section.product-detail div.layouter .mixed-group .details .price, section.product-review div.layouter .mixed-group .details .price {
  margin-bottom: 14px;
}

section.product-detail div.layouter .mixed-group .details .price .main-price, section.product-review div.layouter .mixed-group .details .price .main-price {
  font-size: 24px;
  color: #FF6472;
}

section.product-detail div.layouter .mixed-group .details .price .real-price, section.product-review div.layouter .mixed-group .details .price .real-price {
  color: #A5A5A5;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

section.product-detail div.layouter .rating-reviews, section.product-review div.layouter .rating-reviews {
  margin-top: 30px;
}

section.product-detail div.layouter .rating-reviews .title-inline, section.product-review div.layouter .rating-reviews .title-inline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}

section.product-detail div.layouter .rating-reviews .title-inline button, section.product-review div.layouter .rating-reviews .title-inline button {
  float: right;
  border-radius: 0px !important;
}

section.product-detail div.layouter .rating-reviews .overall, section.product-review div.layouter .rating-reviews .overall {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 150px;
}

section.product-detail div.layouter .rating-reviews .overall .left-side, section.product-review div.layouter .rating-reviews .overall .left-side {
  margin-bottom: 20px;
}

section.product-detail div.layouter .rating-reviews .overall .left-side .number, section.product-review div.layouter .rating-reviews .overall .left-side .number {
  font-size: 34px;
}

section.product-detail div.layouter .rating-reviews .overall .right-side, section.product-review div.layouter .rating-reviews .overall .right-side {
  display: block;
}

section.product-detail div.layouter .rating-reviews .overall .right-side .rater, section.product-review div.layouter .rating-reviews .overall .right-side .rater {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.product-detail div.layouter .rating-reviews .overall .right-side .rater .star, section.product-review div.layouter .rating-reviews .overall .right-side .rater .star {
  width: 50px;
  height: 20px;
  padding: 1px;
  margin-right: 8px;
}

section.product-detail div.layouter .rating-reviews .overall .right-side .rater .line-bar, section.product-review div.layouter .rating-reviews .overall .right-side .rater .line-bar {
  height: 4px;
  width: 158px;
  margin-right: 12px;
  background: #D8D8D8;
}

section.product-detail div.layouter .rating-reviews .overall .right-side .rater .line-bar .line-value, section.product-review div.layouter .rating-reviews .overall .right-side .rater .line-bar .line-value {
  height: 4px;
  width: 100px;
  background-color: #0031F0;
}

section.product-detail div.layouter .rating-reviews .reviews, section.product-review div.layouter .rating-reviews .reviews {
  margin-top: 34px;
  margin-bottom: 90px;
}

section.product-detail div.layouter .rating-reviews .reviews .review, section.product-review div.layouter .rating-reviews .reviews .review {
  margin-bottom: 25px;
}

section.product-detail div.layouter .rating-reviews .reviews .review .title, section.product-review div.layouter .rating-reviews .reviews .review .title {
  margin-bottom: 5px;
}

section.product-detail div.layouter .rating-reviews .reviews .review .stars, section.product-review div.layouter .rating-reviews .reviews .review .stars {
  margin-bottom: 15px;
}

section.product-detail div.layouter .rating-reviews .reviews .review .message, section.product-review div.layouter .rating-reviews .reviews .review .message {
  margin-bottom: 10px;
}

section.product-detail div.layouter .rating-reviews .reviews .view-all, section.product-review div.layouter .rating-reviews .reviews .view-all {
  margin-top: 15px;
  color: #0031f0;
  margin-bottom: 15px;
}

section.product-detail div.layouter div.product-image-group, section.product-review div.layouter div.product-image-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: 2.5%;
}

section.product-detail div.layouter div.product-image-group .side-group, section.product-review div.layouter div.product-image-group .side-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 4px;
}

section.product-detail div.layouter div.product-image-group .product-hero-image, section.product-review div.layouter div.product-image-group .product-hero-image {
  display: block;
  position: relative;
}

section.product-detail div.layouter div.product-image-group .product-hero-image .wishlist, section.product-review div.layouter div.product-image-group .product-hero-image .wishlist {
  position: absolute;
  top: 10px;
  right: 12px;
}

section.product-detail div.layouter div.product-image-group .product-hero-image .share, section.product-review div.layouter div.product-image-group .product-hero-image .share {
  position: absolute;
  top: 10px;
  right: 45px;
}

section.product-detail div.layouter .details .product-heading, section.product-review div.layouter .details .product-heading {
  font-size: 24px;
  color: #242424;
  margin-bottom: 14px;
}

section.product-detail div.layouter .details .rating, section.product-review div.layouter .details .rating {
  color: #242424;
  margin-bottom: 14px;
}

section.product-detail div.layouter .details .price, section.product-review div.layouter .details .price {
  margin-bottom: 14px;
}

section.product-detail div.layouter .details .price .main-price, section.product-review div.layouter .details .price .main-price {
  font-size: 24px;
  color: #FF6472;
}

section.product-detail div.layouter .details .stock-status, section.product-review div.layouter .details .stock-status {
  margin-bottom: 14px;
}

section.product-detail div.layouter .details .description, section.product-review div.layouter .details .description {
  margin-bottom: 14px;
}

section.product-detail div.layouter .details hr, section.product-review div.layouter .details hr {
  border-top: 1px solid #E8E8E8;
  margin-bottom: 17px;
}

section.product-detail div.layouter .details .attributes, section.product-review div.layouter .details .attributes {
  display: block;
  width: 100%;
}

section.product-detail div.layouter .details .attributes .attribute, section.product-review div.layouter .details .attributes .attribute {
  height: 39px;
  margin-bottom: 20px;
}

section.product-detail div.layouter .details .attributes .attribute .title, section.product-review div.layouter .details .attributes .attribute .title {
  float: left;
  height: 100%;
  min-width: 130px;
  padding-top: 9px;
}

section.product-detail div.layouter .details .attributes .attribute .values, section.product-review div.layouter .details .attributes .attribute .values {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

section.product-detail div.layouter .details .attributes .attribute .values .colors, section.product-review div.layouter .details .attributes .attribute .values .colors {
  margin-right: 5px;
}

section.product-detail div.layouter .details .attributes .attribute .values .colors:last-child, section.product-review div.layouter .details .attributes .attribute .values .colors:last-child {
  margin-right: 0;
}

section.product-detail div.layouter .details .attributes .attribute .values .red, section.product-review div.layouter .details .attributes .attribute .values .red {
  height: 37px;
  width: 37px;
  background: red;
  border: 1px solid #c7c7c7;
  border-radius: 2px;
}

section.product-detail div.layouter .details .attributes .attribute .values .blue, section.product-review div.layouter .details .attributes .attribute .values .blue {
  height: 37px;
  width: 37px;
  background: blue;
  border: 1px solid #c7c7c7;
  border-radius: 2px;
}

section.product-detail div.layouter .details .attributes .attribute .values .green, section.product-review div.layouter .details .attributes .attribute .values .green {
  height: 37px;
  width: 37px;
  background: green;
  border: 1px solid #c7c7c7;
  border-radius: 2px;
}

section.product-detail div.layouter .details .attributes .attribute .values .size, section.product-review div.layouter .details .attributes .attribute .values .size {
  margin-right: 5px;
  line-height: 38px;
  height: 37px;
  width: 60px;
  border: 1px solid #c7c7c7;
  border-radius: 2px;
  text-align: center;
  vertical-align: middle;
}

section.product-detail div.layouter .details .attributes .attribute .values .size:last-child, section.product-review div.layouter .details .attributes .attribute .values .size:last-child {
  margin-right: 0;
}

section.product-detail div.layouter .details .attributes .attribute .values .quantity .values .control, section.product-review div.layouter .details .attributes .attribute .values .quantity .values .control {
  height: 37px !important;
  width: 30px !important;
}

section.product-detail div.layouter .details .full-description, section.product-review div.layouter .details .full-description {
  font-size: 16px;
}

section.product-detail div.layouter .details .rating-reviews, section.product-review div.layouter .details .rating-reviews {
  margin-top: 30px;
}

section.product-detail div.layouter .details .rating-reviews .title, section.product-review div.layouter .details .rating-reviews .title {
  margin-bottom: 15px;
}

section.product-detail div.layouter .details .rating-reviews .overall, section.product-review div.layouter .details .rating-reviews .overall {
  margin-bottom: 5px;
}

section.product-detail div.layouter .details .rating-reviews .overall .number, section.product-review div.layouter .details .rating-reviews .overall .number {
  font-size: 34px;
}

section.product-detail div.layouter .details .rating-reviews .overall button, section.product-review div.layouter .details .rating-reviews .overall button {
  float: right;
  border-radius: 0px !important;
}

section.product-detail div.layouter .details .rating-reviews .reviews, section.product-review div.layouter .details .rating-reviews .reviews {
  margin-top: 34px;
  margin-bottom: 80px;
}

section.product-detail div.layouter .details .rating-reviews .reviews .review, section.product-review div.layouter .details .rating-reviews .reviews .review {
  margin-bottom: 25px;
}

section.product-detail div.layouter .details .rating-reviews .reviews .review .stars, section.product-review div.layouter .details .rating-reviews .reviews .review .stars {
  margin-bottom: 15px;
}

section.product-detail div.layouter .details .rating-reviews .reviews .review .message, section.product-review div.layouter .details .rating-reviews .reviews .review .message {
  margin-bottom: 10px;
}

section.product-detail div.layouter .details .rating-reviews .reviews .view-all, section.product-review div.layouter .details .rating-reviews .reviews .view-all {
  margin-top: 15px;
  color: #0031f0;
  margin-bottom: 15px;
}

/* cart pages and elements css begins here */
section.cart {
  color: #242424;
  font-size: 16px;
  margin-bottom: 80px;
}

section.cart .title {
  font-size: 24px;
}

section.cart .cart-content {
  margin-top: 21px;
  padding: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

section.cart .cart-content .left-side {
  width: 68.6%;
  margin-right: 2.4%;
}

section.cart .cart-content .left-side .item {
  padding: 1.1%;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

section.cart .cart-content .left-side .item .item-image {
  height: 160px;
  width: 160px;
}

section.cart .cart-content .left-side .item .item-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.cart .cart-content .left-side .item .item-details .item-title {
  font-size: 18px;
  margin-bottom: 10px;
}

section.cart .cart-content .left-side .item .item-details .price {
  margin-bottom: 10px;
}

section.cart .cart-content .left-side .item .item-details .price .main-price {
  font-size: 18px;
  margin-right: 4px;
}

section.cart .cart-content .left-side .item .item-details .price .real-price {
  margin-right: 4px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

section.cart .cart-content .left-side .item .item-details .price .discount {
  color: #FF6472;
}

section.cart .cart-content .left-side .item .item-details .summary {
  margin-bottom: 17px;
}

section.cart .cart-content .left-side .item .item-details .misc {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

section.cart .cart-content .left-side .item .item-details .misc div.qty-text {
  color: #5E5E5E;
  margin-right: 10px;
}

section.cart .cart-content .left-side .item .item-details .misc div.box {
  height: 38px;
  width: 60px;
  text-align: center;
  line-height: 38px;
  border: 1px solid #c7c7c7;
  border-radius: 3px;
  margin-right: 30px;
}

section.cart .cart-content .left-side .item .item-details .misc .remove {
  color: #0031F0;
  margin-right: 30px;
}

section.cart .cart-content .left-side .item .item-details .misc .towishlist {
  color: #0031F0;
}

section.cart .cart-content .left-side .misc-controls {
  float: right;
}

section.cart .cart-content .left-side .misc-controls span {
  margin-right: 15px;
}

section.cart .cart-content .left-side .misc-controls button {
  border-radius: 0px;
}

section.cart .cart-content .right-side {
  width: 29%;
  display: block;
}

section.cart .cart-content .right-side .price-section {
  width: 100%;
  padding: 10px 10px 18px 18px;
  margin-bottom: 20px;
}

section.cart .cart-content .right-side .price-section .title {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 8px;
  margin-bottom: 10px;
}

section.cart .cart-content .right-side .price-section .all-item-details {
  margin-bottom: 17px;
}

section.cart .cart-content .right-side .price-section .all-item-details .item-details {
  margin-bottom: 10px;
}

section.cart .cart-content .right-side .price-section .all-item-details .item-details .price {
  float: right;
}

section.cart .cart-content .right-side .price-section .horizontal-rule {
  width: 100%;
  height: 1px;
  vertical-align: middle;
  background: #e8e8e8;
}

section.cart .cart-content .right-side .price-section .total-details {
  margin-top: 10px;
}

section.cart .cart-content .right-side .price-section .total-details .amount {
  float: right;
}

section.cart .cart-content .right-side .coupon-section {
  padding: 10px 10px 18px 18px;
}

section.cart .cart-content .right-side .coupon-section .title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

section.cart .cart-content .right-side .coupon-section .control-group {
  margin-bottom: 12px !important;
}

section.cart .cart-content .right-side .coupon-section .control-group input.coupon-input::-moz-placeholder {
  font-family: "montserrat", sans-serif;
  font-size: 16px;
  color: #242424;
}

section.cart .cart-content .right-side .coupon-section .control-group input.coupon-input::-webkit-input-placeholder {
  font-family: "montserrat", sans-serif;
  font-size: 16px;
  color: #242424;
}

section.cart .cart-content .right-side .coupon-section button {
  margin-bottom: 10px;
  background-color: black;
  border-radius: 0px;
}

section.cart .cart-content .right-side .coupon-section .coupon-details .coupon {
  margin-bottom: 8px;
}

section.cart .cart-content .right-side .coupon-section .coupon-details .coupon .discount {
  float: right;
}

section.cart .cart-content .right-side .coupon-section .horizontal-rule {
  width: 100%;
  height: 1px;
  vertical-align: middle;
  background: #e8e8e8;
  margin-bottom: 9px;
}

section.cart .cart-content .right-side .coupon-section .after-coupon-amount .name {
  font-weight: bold;
}

section.cart .cart-content .right-side .coupon-section .after-coupon-amount .amount {
  float: right;
  font-weight: bold;
}

.related-products-wrapper {
  margin-bottom: 80px;
}

.related-products-wrapper .title {
  margin-bottom: 22px;
  font-size: 18px;
  color: #242424;
  text-align: center;
}

.related-products-wrapper .horizontal-rule {
  height: 1px;
  background: #E8E8E8;
  width: 148px;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}

.related-products-wrapper .related-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
}
