*
!Hind-Bold.ttf
!Hind-Regular.ttf
!NotoSansBengali-Bold.ttf
!NotoSansBengali-Regular.ttf
!NotoSansJP-Bold.ttf
!NotoSansJP-Regular.ttf
!NotoSansSC-Bold.ttf
!NotoSansSC-Regular.ttf
!NotoSansSinhala-Bold.ttf
!NotoSansSinhala-Regular.ttf
!.gitignore
