.dark-mode-velocity {
    background-color: $dark-mode-velocity-body-background-color;
    color: $dark-mode-velocity-text-color;

    header.sticky-header {
        background-color: $dark-mode-sticky-header-background-color;
    }

    .accordian {
        .accordian-header,
        .accordian-content {
            color: $white !important;
            
            p span {
                color: $white !important;
            }
           
        }
    }
    
    .product-policy-container .card {
        background-color: $dark-mode-velocity-body-background-color;
        box-shadow: 0 2px 5px 2px rgb(0 0 0 / 80%);
    }

    .booking-information {
        .ticket-name,
        .ticket-price,
        .ticket-item p,
        .book-slots h3, 
        .book-slots label {
            color: $white !important;
        }

        .booking-info-row {
            .icon,
            .title {
                color: $white !important;
            }
        }
    }

    .filters-container {
        .toolbar-wrapper > div label {
            color: $dark-mode-velocity-text-color-black;
        }
    }

    .category-list-container {
        .sub-categories, 
        .category-content {
            background-color:  $dark-mode-theme-color !important;
        }
    }

    .custom-form select {
        background: $dark-mode-theme-color;
    }

    .address-container {
        .card {
            color: $dark-mode-velocity-text-color-black;
        }
    }

    #mini-cart {
        .mini-cart-content {
            color: $white !important;
        }

        .modal-footer {
            color: $dark-mode-velocity-text-color;
        }
    }

    #cart-modal-content {
        color: $dark-mode-velocity-text-color-black;

        .small-card-container input {
            color: $dark-mode-velocity-text-color-black !important;
        }
    }

    #top {
        .dropdown {
            color: $white;
        }

        #account {
            .welcome-content {
                color: $white;
            }
        }
     
        .btn-link  {
            color: $white;

            option {
                background-color: $dark-mode-velocity-text-color-black;
            }
        }
    }

    .bundle-options-wrapper {
        .bundle-option-list {
            h3 {
                color: $white;
            }

            .bundle-option-item {
                .control-group {
                    color: $white;

                    label {
                        color: $white;
                    }

                    .control {
                        color: $white;
                    }
                }
            }
        }

        .bundle-summary {
            h3 {
                color: $white;
            }
        }
    }

    #header-search-icon {
        background-color: $dark-mode-theme-color !important;
    }

    header #search-form {
        input, 
        .btn-group select {
            border: 1px solid $border-header-search !important;
        }

        .select-icon {
            background-color: $dark-mode-theme-color !important;
        }
    }

    .reviews-container {
        color: $dark-mode-velocity-text-color-black;
    }

    .vue-go-top {
        background-color: $dark-mode-theme-color !important;
    }

    .category-list-container {
        background-color: $dark-mode-velocity-text-color-black;

        .sub-categories {
            background-color: $dark-mode-velocity-text-color-black;
        }
    }

    .page-item,
    .angle-left-icon,
    .angle-right-icon,
    .rango-arrow-left,
    .rango-arrow-right,
    .rango-arrow-down {
        color: $white !important;
    }

    .wishlist-icon i {
        color: $dark-mode-velocity-text-color-black;
    }

    .product-detail,
    .cart-item-list,
    .lg-card-container.list-card {
        .wishlist-icon i {
            color: $white;
        }
    }

    .product-card-new {
        .card-body {
            background-color: $dark-mode-velocity-body-background-color;
            color: $dark-mode-velocity-text-color !important;
            box-shadow:  0 2px 5px 1px rgb(0 0 0 / 60%);
        }
    }

    .sticker.new {
        background-color: $dark-mode-theme-color !important;
    }

    .cd-quick-view {
        color: $dark-mode-velocity-text-color-black;

        .close-btn {
            color: $dark-mode-velocity-text-color-black;
        }
    } 

    .social-link-seperator {
        span {
            color: $dark-mode-velocity-text-color-black;
        }
    }

    .quantity {
        .input-btn-group {
            button {
                .rango-minus {
                    color: $white;
                }

                .rango-plus {
                    color: $white;
                }
            }
        }
    }

    #cart-modal-content {
        .small-card-container {
            input {
                color: $white;
            }
        }
    } 

    .btn-add-to-cart {
        border-color: $dark-mode-theme-color !important;
        background-color: $dark-mode-theme-color !important;
    }

    .theme-btn {
        &.light {
            background-color: $white !important;

            &:hover {
                background-color: $white !important;
            }
        }
    }

    .btn-add-to-cart:hover {
        border-color: $dark-mode-dark-theme-color !important;
        background-color: $dark-mode-dark-theme-color !important;
    }

    .customer-info {
        .customer-name {
            background-color: $dark-mode-theme-color;
        }
    }

    .form-control {
        background-color: $dark-mode-theme-color;
        color: $white;
    }

    #header-search-icon {
        border: 1px solid $border-header-search;
    }

    .view-mode {
        .rango-view-grid-container.active,
        .rango-view-list-container.active {
            background-color: $dark-mode-theme-color;
            border: 1px solid $white;;
        }
    }

    .vue-slider {
        .vue-slider-process {
            background-color: #555 !important;
        }
    }

    .vue-slider {
        .vue-slider-dot-tooltip-text {
            background-color: #555 !important;
            border-radius: 0px;
            border-color: #555 !important;
        }
    }
    
    .account-content  {
        .wishlist-icon i,
        .per-page-label,
        .account-heading,
        .customer-name-text,
        .wishlist-container,
        .compare-container,
        .reviews-container,
        .sale-container {
            color: $white !important;

            .table {
                color: $white !important;
            }
        }

        .account-table-content {
            color: $white !important;
            
            .table table tr td,
            .filter-advance .filtered-tags,
            .filter-advance .datagrid-count,
             label {
                color: $white !important;
            }

            .card-body {
                color: $dark-mode-velocity-text-color-black;
            }
        }
    }
}