.dark-mode-velocity {
    background-color: $dark-mode-velocity-body-background-color;
    color: $dark-mode-velocity-text-color;

    header.sticky-header {
        background-color: $dark-mode-sticky-header-background-color;
    }

    #mini-cart {
        .mini-cart-content {
            color: $white !important;
        }

        .modal-footer {
            color: $dark-mode-velocity-text-color;
        }
    }

    #cart-modal-content {
        color: $dark-mode-velocity-text-color-black;

        .small-card-container input {
            color: $dark-mode-velocity-text-color-black !important;
        }
    }

    #top {
        .dropdown {
            color: $white;
        }

        #account {
            .welcome-content {
                color: $white;
            }
        }
     
        .btn-link  {
            color: $white;
            background-color: $dark-mode-velocity-text-color-black;
        }
    }

    #header-search-icon {
        background-color: $dark-mode-theme-color !important;
    }

    .vue-go-top {
        background-color: $dark-mode-theme-color !important;
    }

    .category-list-container {
        background-color: $dark-mode-velocity-text-color-black;

        .sub-categories {
            background-color: $dark-mode-velocity-text-color-black;
        }
    }

    .rango-arrow-left,
    .rango-arrow-right,
    .rango-arrow-down {
        color: $white;
    }

    .wishlist-icon i {
        color: $dark-mode-velocity-text-color-black;
    }

    .product-detail {
        .wishlist-icon i {
            color: $white;
        }
    }

    .product-card-new {
        .card-body {
            color: $dark-mode-velocity-text-color-black;
        }
    }

    .cd-quick-view {
        color: $dark-mode-velocity-text-color-black;

        .close-btn {
            color: $dark-mode-velocity-text-color-black;
        }
    } 

    .social-link-seperator {
        span {
            color: $dark-mode-velocity-text-color-black;
        }
    }

    .quantity {
        .input-btn-group {
            button {
                .rango-minus {
                    color: $white;
                }

                .rango-plus {
                    color: $white;
                }
            }
        }
    }

    #cart-modal-content {
        .small-card-container {
            input {
                color: $white;
            }
        }
    } 

    .btn-add-to-cart {
        border-color: $dark-mode-theme-color !important;
        background-color: $dark-mode-theme-color !important;
    }

    .theme-btn {
        border-color: $dark-mode-theme-color !important;
        background-color: $dark-mode-theme-color !important;

        &.light {
            background-color: $dark-mode-theme-color !important;

            &:hover {
                background-color: $dark-mode-dark-theme-color !important;
            }
        } 
    }

    .theme-btn:hover,
    .btn-add-to-cart:hover {
        border-color: $dark-mode-dark-theme-color !important;
        background-color: $dark-mode-dark-theme-color !important;
    }

    .customer-info {
        .customer-name {
            background-color: $dark-mode-theme-color;
        }
    }

    @media only screen and (max-width: 1300px) {
        .table {
            table {

                tbody tr td {
                    background-color: $dark-mode-velocity-body-background-color;
                }

            }
        }
    }   
}