@mixin box-shadow($shadows...) {
    -webkit-box-shadow: $shadows;
    -moz-box-shadow: $shadows;
    box-shadow: $shadows;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin rango-default {
    speak: none;
    line-height: 1;
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    font-variant: normal;
    -webkit-font-smoothing: antialiased;
    font-family: 'Webkul Rango' !important;
}

@mixin remove-padding-margin {
    width: 100% !important;
    margin: 0px !important;
    padding: 0px !important;
}
