/*
|--------------------------------------------------------------------------
| Velocity Variables
|--------------------------------------------------------------------------
|
| Below are all the variables used in Velocity's SCSS.
|
*/
/* theme colors */
$theme-color: #26A37C;
$theme-dark-color: #247959;

/* background colors */
$light-background: #F7F7F9;

/* font colors */
$font-color: rgba(0,0,0,0.83);
$font-color-light: rgba(255, 255, 255, 0.83);

/* button colors */
$button-danger: #F05153;
$button-primary-bg: #21A179;
$button-text-color: #FFFFFF;

/* border colors */
$border-common: #CCCCCC;
$border-danger: #F05153;
$border-dark: #DCDCDC;
$border-general: #E5E5E5;
$border-light: #ECECEC;
$border-primary: #269c77;
$border-header-search: #343434;

/* link colors */
$link-color: #4D7EA8;
$light-link-color: #28557B;

/* remaining colors */
$black-color: #111111;
$danger-color: #F05153;
$grey-color: rgb(158, 158, 158);
$light1-black: #141516;
$light2-black: #cfcfd0;
$white-color: #FFFFFF;

/* other stuffs */
$sidebar-width: 230px;
$box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
$material-icons-font-path: '../material-icons/iconfont/' !default;
$border-normal: 1px solid $border-dark;
$font-family-pro: 'Source Sans Pro', sans-serif;

$control-border-color: #C7C7C7;
$selection-color: rgba(0, 64, 255, 0.6);
$brand-color: #0041FF;
$menu-label-text-color: #B0BEC5;
$border-color: rgba(162, 162, 162, 0.2);

//Switch Color
$dark-mode-velocity-switch-background: #000;
$dark-mode-velocity-switch-border: #24384c;

// Dark Mode Color
$dark-mode-theme-color: #151515;
$dark-mode-dark-theme-color: #010204;
$dark-mode-sticky-header-background-color: #06111b;
$dark-mode-velocity-text-color: rgba(255,255,255,0.8);
$dark-mode-velocity-text-color-black: rgba(0, 0, 0, 0.83);
$dark-mode-velocity-background-color: #02080d;
$dark-mode-velocity-read-color: rgba(255, 255, 255, 0.5);
$dark-mode-velocity-unread-color: rgba(255, 255, 255, 1);
$dark-mode-velocity-navtop-left-color: #071e37;
$dark-mode-velocity-notification-border-color: #232d36;
$dark-mode-velocity-left-menubar-background-color: rgba(1, 10, 20, .5);
$dark-mode-velocity-left-submenubar-active-background-color: #031425;
$dark-mode-velocity-left-submenubar-background-color: #020f1c;
$dark-mode-velocity-left-menubar-active-background-color: #051e37;
$dark-mode-velocity-body-background-color: #04101b;
$dark-mode-velocity-table-head-backgound-color: rgba(7, 30, 55,0.2);
$dark-mode-velocity-pagination-page-item-active-background-color:rgba(40, 69, 100, 0.2);
$dark-mode-velocity-pagination-page-item-active-border-color:rgba(2, 57, 83, 0.2);
$flatpickr-day-startRange-hover:rgb(5, 30, 55);
$dark-mode-velocity-pending-color: #dbb709;