.icon {
    display: inline-block;
    background-size: cover;
}

%menu-properties {
    width: 48px;
    height: 48px;
    display: inline-block;
    background-size: cover;
}

.document-icon {
    @extend %menu-properties;
    background-image: url("../images/Icon-Document.svg");
}

.active {
    .document-icon {
        @extend %menu-properties;
        background-image: url("../images/Icon-Document-Active.svg");
    }
}