@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "velicon";
    src: url("../fonts/velicon.woff?hhi7p1") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@layer components {
    [class^="icon-"],
    [class*=" icon-"] {
        /* use !important to prevent issues with browser extensions that change fonts */
        font-family: "velicon" !important;
        speak: never;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;

        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .icon-add-new:before {
        content: "\e900";
    }
    .icon-arrow-down-2:before {
        content: "\e901";
    }
    .icon-arrow-down:before {
        content: "\e902";
    }
    .icon-arrow-left-stylish:before {
        content: "\e903";
    }
    .icon-arrow-left:before {
        content: "\e904";
    }
    .icon-arrow-right-stylish:before {
        content: "\e905";
    }
    .icon-arrow-right:before {
        content: "\e906";
    }
    .icon-arrow-up:before {
        content: "\e907";
    }
    .icon-bin:before {
        content: "\e908";
    }
    .icon-calendar:before {
        content: "\e909";
    }
    .icon-camera-fill:before {
        content: "\e90a";
    }
    .icon-camera:before {
        content: "\e90b";
    }
    .icon-cancel:before {
        content: "\e90c";
    }
    .icon-cart:before {
        content: "\e90d";
    }
    .icon-check:before {
        content: "\e90e";
    }
    .icon-compare-1:before {
        content: "\e90f";
    }
    .icon-compare:before {
        content: "\e910";
    }
    .icon-dislike:before {
        content: "\e911";
    }
    .icon-dollar-sign:before {
        content: "\e912";
    }
    .icon-double-arrow:before {
        content: "\e913";
    }
    .icon-download:before {
        content: "\e914";
    }
    .icon-email:before {
        content: "\e915";
    }
    .icon-eye:before {
        content: "\e916";
    }
    .icon-filter:before {
        content: "\e917";
    }
    .icon-flate-rate:before {
        content: "\e918";
    }
    .icon-Free-Shipping:before {
        content: "\e919";
    }
    .icon-grid-view:before {
        content: "\e91a";
    }
    .icon-hamburger:before {
        content: "\e91b";
    }
    .icon-heart-1:before {
        content: "\e91c";
    }
    .icon-heart:before {
        content: "\e91d";
    }
    .icon-left-arrow:before {
        content: "\e91e";
    }
    .icon-like:before {
        content: "\e91f";
    }
    .icon-listing:before {
        content: "\e920";
    }
    .icon-location:before {
        content: "\e921";
    }
    .icon-minus:before {
        content: "\e922";
    }
    .icon-more:before {
        content: "\e923";
    }
    .icon-orders:before {
        content: "\e924";
    }
    .icon-pen:before {
        content: "\e925";
    }
    .icon-plus:before {
        content: "\e926";
    }
    .icon-product:before {
        content: "\e927";
    }
    .icon-radio-select:before {
        content: "\e928";
    }
    .icon-radio-unselect:before {
        content: "\e929";
    }
    .icon-right-arrow:before {
        content: "\e92a";
    }
    .icon-search:before {
        content: "\e92b";
    }
    .icon-share:before {
        content: "\e92c";
    }
    .icon-sort-by:before {
        content: "\e92d";
    }
    .icon-sort:before {
        content: "\e92e";
        color: #7d7d7d;
    }
    .icon-star-fill:before {
        content: "\e92f";
    }
    .icon-star:before {
        content: "\e930";
    }
    .icon-support:before {
        content: "\e931";
    }
    .icon-truck:before {
        content: "\e932";
    }
    .icon-uncheck:before {
        content: "\e933";
    }
    .icon-users:before {
        content: "\e934";
    }
    .two-range-slider {
        -webkit-appearance: none;
        appearance: none;
        position: absolute;
        pointer-events: none;
        z-index: 3;
        height: 3px;
        top: 0;
        width: 100%;
        opacity: 0;
        margin: 0;
    }

    .two-range-slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        pointer-events: all;
        border-radius: 50%;
        cursor: pointer;
        width: 18px;
        height: 18px;
    }
    .journal-scroll::-webkit-scrollbar {
        width: 14px;
        cursor: pointer;
    }
    .journal-scroll::-webkit-scrollbar-track {
        background-color: #fff;
        cursor: pointer;
        border-radius: 12px;
        border: 1px solid #e9e9e9;
    }
    .journal-scroll::-webkit-scrollbar-thumb {
        cursor: pointer;
        background-color: #e9e9e9;
        border-radius: 12px;
        border: 3px solid transparent;
        background-clip: content-box;
    }
    .custom-select {
        -webkit-appearance: none;
        -moz-appearance: none;
        background: transparent;
        background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
        background-repeat: no-repeat;
        background-position-x: 96%;
        background-position-y: 14px;
    }

    .section-title {
        @apply text-[70px] font-normal text-navyBlue text-center px-[15px] leading-[90px] max-sm:text-[32px] max-sm:leading-normal font-dmserif;
    }

    * {
        @apply box-border font-poppins;
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    /* For IE, Edge and Firefox */
    .scrollbar-hide {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    .bs-single-card {
        @apply grid gap-2.5;
    }

    .bs-single-card img {
        @apply rounded-sm bg-[#F5F5F5];
    }

    .bs-single-card .price-block {
        @apply flex gap-2.5;
    }

    .bs-single-card .price-block .offer-price {
        @apply text-lg font-semibold;
    }

    .bs-single-card .price-block .original-price {
        @apply text-lg font-medium text-[#7D7D7D];
    }

    .bs-single-card .change-card-color {
        @apply flex gap-4 mt-[8px];
    }

    .bs-single-card .change-card-color span {
        @apply rounded-full w-[30px] h-[30px] block cursor-pointer;
    }

    .bs-single-card .change-card-color span.active {
        @apply border-black border-[3px];
    }

    .direction-ltr {
        direction: ltr;
    }

    .direction-rtl {
        direction: rtl;
    }

    .bs-main-sprite {
        background-image: url('../images/bs-main-sprite.png');
        background-repeat: no-repeat;
    }

    .bs-secondary-button {
        max-width: -moz-max-content;
        max-width: max-content;
        cursor: pointer;
        border-radius: 12px;
        border-width: 1px;
        --tw-border-opacity: 1;
        border-color: rgb(6 12 59 / var(--tw-border-opacity));
        --tw-bg-opacity: 1;
        background-color: rgb(255 255 255 / var(--tw-bg-opacity));
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-weight: 500;
        --tw-text-opacity: 1;
        color: rgb(6 12 59 / var(--tw-text-opacity));
    }

    .border-navyBlue {
        --tw-border-opacity: 1;
        border-color: rgb(6 12 59 / var(--tw-border-opacity));
      }
}
