@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "velicon";
    src: url("../fonts/velicon.woff?hhi7p1") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@layer components {
    [class^="icon-"],
    [class*=" icon-"] {
        /* use !important to prevent issues with browser extensions that change fonts */
        font-family: "velicon" !important;
        speak: never;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;

        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .icon-grid-view-fill:before {
        content: "\e919";
    }

    .icon-grid-view:before {
        content: "\e93c";
    }

    .icon-error:before {
        content: "\e937";
    }

    .icon-toast-done:before {
        content: "\e938";
    }

    .icon-toast-error:before {
        content: "\e939";
    }

    .icon-toast-exclamation-mark:before {
        content: "\e93a";
    }

    .icon-toast-info:before {
        content: "\e93b";
    }

    .icon-add-new:before {
        content: "\e900";
    }

    .icon-arrow-down:before {
        content: "\e901";
    }

    .icon-arrow-left-stylish:before {
        content: "\e902";
    }

    .icon-arrow-left:before {
        content: "\e903";
    }

    .icon-arrow-right-stylish:before {
        content: "\e904";
    }

    .icon-arrow-right:before {
        content: "\e905";
    }

    .icon-arrow-up:before {
        content: "\e906";
    }

    .icon-astreisk:before {
        content: "\e907";
    }

    .icon-bin:before {
        content: "\e908";
    }

    .icon-calendar:before {
        content: "\e909";
    }

    .icon-camera-fill:before {
        content: "\e90a";
    }

    .icon-camera:before {
        content: "\e90b";
    }

    .icon-cancel:before {
        content: "\e90c";
    }

    .icon-cart:before {
        content: "\e90d";
    }

    .icon-compare-1:before {
        content: "\e90e";
    }

    .icon-compare:before {
        content: "\e90f";
    }

    .icon-dislike:before {
        content: "\e910";
    }

    .icon-dollar-sign:before {
        content: "\e911";
    }

    .icon-double-arrow:before {
        content: "\e912";
    }

    .icon-download:before {
        content: "\e913";
    }

    .icon-email:before {
        content: "\e914";
    }

    .icon-eye:before {
        content: "\e915";
    }

    .icon-filter:before {
        content: "\e916";
    }

    .icon-flate-rate:before {
        content: "\e917";
    }

    .icon-Free-Shipping:before {
        content: "\e918";
    }

    .icon-hamburger:before {
        content: "\e91a";
    }

    .icon-heart-1:before {
        content: "\e91b";
    }

    .icon-heart:before {
        content: "\e91c";
    }

    .icon-left-arrow:before {
        content: "\e91d";
    }

    .icon-like:before {
        content: "\e91e";
    }

    .icon-listing:before {
        content: "\e91f";
    }

    .icon-location:before {
        content: "\e920";
    }

    .icon-minus:before {
        content: "\e921";
    }

    .icon-more:before {
        content: "\e922";
        color: #7d7d7d;
    }

    .icon-orders:before {
        content: "\e923";
    }

    .icon-pen:before {
        content: "\e924";
    }

    .icon-plus:before {
        content: "\e925";
    }

    .icon-product:before {
        content: "\e926";
    }

    .icon-radio-select:before {
        content: "\e927";
    }

    .icon-radio-unselect:before {
        content: "\e928";
    }

    .icon-right-arrow:before {
        content: "\e929";
    }

    .icon-search:before {
        content: "\e92a";
    }

    .icon-share:before {
        content: "\e92b";
    }

    .icon-sort-by:before {
        content: "\e92c";
    }

    .icon-sort:before {
        content: "\e92d";
        color: #7d7d7d;
    }

    .icon-star-fill:before {
        content: "\e92e";
    }

    .icon-star:before {
        content: "\e92f";
    }

    .icon-support:before {
        content: "\e930";
    }

    .icon-truck:before {
        content: "\e931";
    }

    .icon-check-box:before {
        content: "\e932";
    }

    .icon-uncheck:before {
        content: "\e933";
    }

    .icon-box-fill:before {
        content: "\e935";
    }

    .icon-tick:before {
        content: "\e936";
    }

    .icon-users:before {
        content: "\e934";
    }

    .journal-scroll::-webkit-scrollbar {
        width: 14px;
        cursor: pointer;
    }

    .journal-scroll::-webkit-scrollbar-track {
        background-color: #fff;
        cursor: pointer;
        border-radius: 12px;
        border: 1px solid #e9e9e9;
    }

    .journal-scroll::-webkit-scrollbar-thumb {
        cursor: pointer;
        background-color: #e9e9e9;
        border-radius: 12px;
        border: 3px solid transparent;
        background-clip: content-box;
    }

    .custom-select {
        -webkit-appearance: none;
        -moz-appearance: none;
        background: transparent;
        background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
        background-repeat: no-repeat;
        background-position-x: 96%;
        background-position-y: 14px;
    }

    * {
        @apply box-border font-poppins;
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    /* For IE, Edge and Firefox */
    .scrollbar-hide {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    .direction-ltr {
        direction: ltr;
    }

    .direction-rtl {
        direction: rtl;
    }

    .bs-main-sprite {
        background-image: url('../images/bs-main-sprite.png');
        background-repeat: no-repeat;
    }

    .bs-primary-button {
        @apply  font-medium rounded-[12px] text-white bg-navyBlue border border-navyBlue px-[30px] py-[15px] max-w-max cursor-pointer;
    }
    .bs-secondary-button {
        @apply  font-medium rounded-[12px] bg-white text-navyBlue border border-navyBlue  px-[30px] py-[15px] max-w-max cursor-pointer;
    }

    .shimmer {
        animation-duration: 2.2s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-name: skeleton;
        animation-timing-function: linear;
        background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
        background-size: 1250px 100%;
    }
    @keyframes skeleton {
        0% {
            background-position: -1250px 0;
        }

        100% {
            background-position: 1250px 0;
        }
    }

    .wrapper-404 {
        aspect-ratio: 16/9;
        position: relative;
        font-size: 394px;
        perspective: 4.5em;
        overflow: clip;
        place-self: stretch;
        top: 50%;
        transform: translateY(-62%);
    }

    .glow-404,
    .glow-shadow-404 {
        position: absolute;
        inset: 0;
        display: grid;
        place-content: center;
        font-family: 'DM Serif Display';
        overflow: hidden;
        letter-spacing: 24px;
    }

    .glow-404 {
        background-clip: text;
        -webkit-background-clip: text;
        color: #060C3B;
    }

    .glow-shadow-404 {
        color: #E6E7EB;
        mix-blend-mode: darken;
        transform: translateY(15.5%) rotateX(243deg) scaleY(-1) translateY(-23%) scaleY(1.35) translateX(7%) skewX(-45deg);
    }

    canvas[resize] {
        width: 100%;
        height: 100vh;
    }

    html {
        margin-top: 0px !important;
    }
    
    .break-word-custom {
        word-break: break-word;
    }
}
