.configuration-image {
    position: relative;
    height: 33px;
    width: 33px;
    top: 15px;
    border-radius: 3px;
    margin-right: 5px;
}

.download {
    position: relative;
    height: 24px !important;
    width: 24px !important;
    top: 12px;
    margin-right: 10px;
}

.aside-nav-toggle {
    height: 48px;
    width: 100%;
    padding-top: 15px;
    border-top: 1px solid rgba(162, 162, 162, 0.2);

    .close-icon,
    .open-icon {
        position: absolute;
        cursor: pointer;
        left: 45%;
    }
}

.aside-nav-toggle.open {
    display: none;
}

.linked-product-search-result {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 0 9px 0 rgba(0, 0, 0, 0.16);
    z-index: 10;
    text-align: left;
    border-radius: 3px;
    background-color: $white;
    width: 70%;
    max-height: 200px;
    overflow-y: auto;

    li {
        padding: 10px;
        border-bottom: 1px solid #e8e8e8;
        cursor: pointer;
    }
}

.cart-rule-conditions,
.catalog-rule-conditions {
    display: flex;
    column-gap: 10px;
   
    .attribute ,.operator,.value {
        width: 25%;
        padding-left: 0;

        .control-group{
            .control {
                width: 100% !important;
            }
        }

        .date:after{
            top:30% !important;
        }

        .cross-icon{
            top:35% !important;
        }
    }

    .actions {
        width: 44px;

        .icon {
            margin-top: 15px;
        }
    }       
}

@media only screen and (max-width: 770px) {
    .cart-rule-conditions,
    .catalog-rule-conditions {
        display: block;
        border: 1px solid #e8e8e8;
        padding: 10px;
    
        .attribute ,.operator,.value {
            width: 100%;
            padding-left: 0;

            .control-group{
                .control {
                    width: 100% !important;
                    margin-top: 0px !important;
                    margin-bottom: 0px !important;
                }
            }

            .date:after{
                top:18% !important;
            }

            .cross-icon{
                top:20% !important;
            }
        }

        .actions {
            width: 44px;

            .icon {
                margin: 0px;
            }
        }       
    }
}