.dark-mode{
    background-color: #04101b;
    color: rgba(255,255,255,.8);

    .read-all{
        color: rgba(255, 255, 255, 0.8);
    }

    .navbar-top{
        background-color: #051e37;
        
        .navbar-top-left {
            background-color: #071e37;
            border-bottom: 1px solid $seprator;
        }
        
        .profile-info {
            .app-version {
                padding: 10px 20px 0px 20px;
                margin-bottom: -10px;
                display: block;
                cursor: default;
                color: #a2a2a2;
            }
            .name {
                color: rgba(255,255,255,.8) !important;
            }
            .dropdown-list {
                right: 0px;
                bottom: inherit !important;
                border: 1px solid #24384c;
                border: 1px solid #24384c;
            }
        }
    } 
    
    .navbar-left {          
        background-color: $dark-bg;
        border-right: 1px solid $dark-bg;

        ul.menubar {
            li.menu-item { 

                > a {
                    padding: 5px 2px;
                    display: block;
                    color: #000;
                    width: 100%;
    
                    .icon {
                        display: inline-block;
                        vertical-align: middle;
                        transform: scale(0.7);
                    }
    
                    .menu-label {
                        display: none;
                        color: #B0BEC5;
                    }
    
                    .arrow-icon{
                        display: none;
                    }
    
                    &.active,&:hover {
                        padding: 5px 2px;
                        background-color: rgba(1, 10, 20, .5);
                    }
                }       
                
                &.active{  
                    > a{                 
                        background-color: rgba(1, 10, 20, .5);
                    }  
                }
                
                &:hover {               
    
                    ul.sub-menubar {   
                        background: #031425;
                        box-shadow: none; 
                        border: 1px solid #24384c;

    
                        .sub-menu-item {  

                            .menu-label {
                                color: #fff !important;                                    
                            }
        
                            &.active, &:hover {
                                background-color: #020f1c;
                                .menu-label {
                                    color: #fff !important;                                    
                                }
                            }                           
                        }
                    }
                }
            }
        } 

        &.open{
            ul.menubar {
                li.menu-item {
                    a {
                        .menu-label {
                            font-size: 14px;
                            font-weight: 200;
                            display: inline-block;
                            color: #B0BEC5;
                        }
    
                        .arrow-icon {
                            display: inline-block;
                        }
                    }
    
                    ul.sub-menubar {
                        display: none;
                        position: unset;
                        background-color: transparent;
                        border-radius: 0;
                        box-shadow: unset;
                        border: 0;
                    
                        li.sub-menu-item {
                            a {
                                padding-left: 52px;
                            }
                        }
                    }
    
                    &.active {
                        background: $dark-bg;
                        width: calc(100% - 1px);
    
                        .menu-label {
                            color: #fff;
                        }
    
                        ul.sub-menubar {
                            display: block;
                            background-color: #031425;
                            border:none !important;
    
                            .sub-menu-item {
                                .menu-label {
                                    color: #B0BEC5;
                                }
    
                                &.active, &:hover {
                                    background-color: rgba(1, 10, 20, .5);
                                    .menu-label {
                                        color: #fff !important;                                    
                                    }
                                }
                            }
                        }
                    }
    
                    &:hover {
                         background: $dark-bg;
                        .menu-label {
                            color: #fff;
                        }
                    }
                }
            }
    
        }
        
        .menubar-bottom {
            background-color: $dark-bg;
        }
    }   
    
    .nav-container {

        .nav-top {
           
            background: $dark-bg;
           
            .pro-info{
              
                .profile-info-desc{
                    display:inline-block;
                    margin-left: 40px;
            
                    .name{
                        color: #fff;
                    }
            
                    .role{
                        color: #fff;
                    }
                }
            }
        }  
        
        .nav-items{
          
            background: $dark-bg;
          
            .nav-item {
              
                a{
                    color:#fff;
                    display: block;
                    padding: 5px;
                }
        
                ul{
                    .navbar-child{ 
                        &.active,&:hover {
                          background-color: rgba(1, 10, 20, .5);;
                        }
                    }          
                }
        
                &.active {
                    background-color: #031425;
                    > a{
                      background-color: rgba(1, 10, 20, .5);
                    }
                  }
          
                 &:hover {
                   > a{
                     background-color: rgba(1, 10, 20, .5);
                   }
                }                
            }
          } 
            
    }
    
    .content-container{
        .inner-section{
            .content-wrapper{
                .page-header{
                    background-color: #04101b;
                    border-bottom: 1px solid #24384c;   
                }
            }
        }
        .content{
            .page-header{
                background-color: #04101b;
                border-bottom: 1px solid #24384c;
            }
        }
    }

    .table{
        background-color: #04101b;

        table {
            thead th {              
                background-color: rgba(7, 30, 55,0.2) !important;              
                color: rgba(255,255,255,.8);
            }        
            tbody td {
                color: rgba(255, 255, 255, 0.8);
                border-bottom: 1px solid $seprator;    
            }
        }
    }

    .modal-container {
        background: #04101b;

        .modal-header {         
    
            h3 {
                display: inline-block;
                font-size: 20px;
                color: rgba(255,255,255,.8);
                margin: 0;
            }
        }
    }

    .accordian, accordian {       
        .accordian-header, div[slot*="header"] {
            color: $font-color;
            border-top: solid 1px $border-color;
            border-bottom: solid 1px $border-color;
        }       
    }   

    @media only screen and (max-width: 1300px) {
        .table {
            table {               
    
                tbody tr td {                   
                    background-color: #04101b;                   
                }
    
            }
        }
    }
    
    .grid-dropdown-header {
        background-color: #000;  
        border: 1px solid #24384c;     
    }

    .dropdown-list{
        background-color: #000;
        .dropdown-container {
            background-color: #02080d;
            color: rgba(255,255,255,.8);
    
            label{
                color: rgba(255,255,255,.8);
            }            
            ul{
                li{
                    a{
                        color: rgba(255,255,255,.8);
                        &:hover{
                            color: #fff;
                        }
                    }
    
                }
            }
        }        
    } 

    .notification{
        background-color: #000;

        .dropdown-container {
           
            color: rgba(255,255,255,.8);
            border: 1px solid #232d36;
    
            label{
                color: rgba(255,255,255,.8);
            }            
            ul{
                .read{
                    background-color: #02080d;
                    border-bottom: 1px solid #24384c;
                    color: rgba(255, 255, 255, 0.5);

                    .notif-content > a{
                        text-decoration: none;
                        color: rgba(255, 255, 255, 0.5);

                        &:hover{
                            color:rgba(255, 255, 255, 0.5);
                        }
                    }
    
                }

                li{
                    background-color: #02080d;
                    border-bottom: 1px solid #24384c;
                    color: rgba(255, 255, 255, 1);

                    .notif-content > a{
                        text-decoration: none;
                        color: rgba(255,255,255,1); 

                        &:hover{
                            color:rgba(255, 255, 255, 1)
                        }
                    }
                }

                .bottom-li{
    
                    a{
                        display: initial;
                        color:rgba(255, 255, 255, 0.8) !important;
                    }
                }
            }
        }        
    } 

    .control-container {    
        .control {
            background: #000;           
        }
    } 
    
    select.control {       
        border: 1px solid #24384c;
    }

    .search-filter {
        .control{
            background-color: #02080d;
            color: rgba(255,255,255,.8);
            border: 1px solid #24384c;
        }
        .icon-wrapper{
            border: 1px solid #24384c;
        }
    }

    h1{
        color: rgba(255,255,255,.8);
    }

    .control-group{
        label{
            color:rgba(255, 255, 255, 0.8);
        }
        .control{
            border: 1px solid #24384c;
        }
    }

    .grid-container {     
        .grid-top {        
            .datagrid-filters {     
                .dropdown-filters {                 
                    &.per-page {                  
                        .control-group {                           
                            label {
                               color: rgba(255,255,255,.8);
                            }    
                        }
                    }
                }
            }
        }
    } 
  
    .tabs {
        ul { 
            border-bottom: solid 1px #24384c;       
            li {
                a {
                    color: rgba(255,255,255,.8);
                }
            }
        }
    }

    .accordian, accordian {       
        .accordian-header, div[slot*="header"] {
            background-color: #02080d;
            color: rgba(255,255,255,.5);
        }
        .accordian-content, div[slot*="body"] {
            background-color: #000;
            border-bottom: 1px solid #24384c;           
        }
        &.active>.accordian-content {
            background-color: #02080d;            
        }
        &.active>.accordian-header {
            background-color: #000;
        }
    }

    .sale-container {
        .sale{
            .sale-section {          
                .secton-title {
                    color: rgba(255,255,255,.8);
                    border-bottom: 1px solid #24384c;
                }    
                .section-content {          
                    .row {        
                        .title {
                            color: rgba(255,255,255,.8);
                        }    
                        .value {
                            color: rgba(255,255,255,.8);
                        }
                    }
                }
            }
        }
    
        .summary-comment-container {
            .comment-container {    
                .comment-list {                    
                    li {
                        p {
                            color: rgba(255,255,255,.8)
                        }
                    }
                }
            }
        }        
    }

    .control-group{
        .label{
            color: rgba(255,255,255,.8);
        }
        .control {
            background-color: #02080d;
            color: rgba(255,255,255,.8);            
        }        
    }
    
    .dashboard {    
        .card {
            background: #071e37;
            box-shadow: 0 5px 10px 2px rgb(0 0 0 / 80%);  
            .card-title {
                color: rgba(255,255,255,.8);
            }    
            .card-info { 
                ul {
                    li {                     
                        .description {
                            margin-top: 10px;
    
                            .name {
                                 color: rgba(255,255,255,.8);
                            }
    
                            .info {
                                 color: rgba(255,255,255,.8);
                                margin-top: 5px;
                            }
                        }
                    }
                }    
                               
                .no-result-found { 
                    p {
                        color: rgba(255,255,255,.8);
                    }
                }
            }
        }    
        .dashboard-stats {            
            .dashboard-card {
                background: #071e37;
                box-shadow: 0 5px 10px 2px rgb(0 0 0 / 80%);       
                
                .title{
                    color: rgba(255,255,255,.8);
                }
                .data {
                    color: $white;
                    .progress {
                        color: rgba(255,255,255,.8);    
                    }
                }
            }
        }    
    } 
    
    .pagination .page-item {
        background: #000;
        border: 1px solid 000;
        color: $white;
    }

    .pagination .page-item.active {
        background-color: rgba(40, 69, 100, 0.2) !important;
        color: $white;
        border-color: rgba(2, 57, 83, 0.2) !important;
    }

    .filter-tag .wrapper {       
        background: #02080d;
        border: 1px solid #02080d;        
        color: rgba(255,255,255,.8);
    }

    .notif{
        background-color: #02080d;

        .read{
            background-color: hsl(0deg 0% 13%) !important;
            color: rgba(255, 255, 255, 0.5);

            .notif-content > a{
                text-decoration: none;
                color: rgba(255, 255, 255, 0.5);
            }
        }

        li{
            border: 1px solid #24384c;

            color: rgba(255, 255, 255, 1);

            .notif-content > a{
                text-decoration: none;
                color: rgba(255, 255, 255, 1);
            }
        }
    }

    #notif-title{
        height: 50px;
        padding: 14px 10px;
        border-bottom: 1px solid #232d36;
        cursor: default;
    }

    .flatpickr-calendar {
        background: transparent;
        opacity: 0;
        display: none;
        text-align: center;
        visibility: hidden;
        padding: 0;
        -webkit-animation: none;
        animation: none;
        direction: ltr;
        border: 0;
        font-size: 14px;
        line-height: 24px;
        border-radius: 5px;
        position: absolute;
        width: 307.875px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        background-color: #02080d;
        -webkit-box-shadow: 1px 0 0 $black,-1px 0 0 $black,0 1px 0 $black,0 -1px 0 $black,0 3px 13px rgba(0,0,0,.08);
        box-shadow: 1px 0 0 $black,-1px 0 0 $black,0 1px 0 $black,0 -1px 0 $black,0 3px 13px rgba(0,0,0,.08);
    }

    .flatpickr-months .flatpickr-month {
        color: $white;
    }
    .flatpickr-weekdays .flatpickr-weekdaycontainer, span.flatpickr-weekday {
        color: $white;
    }

    .flatpickr-day.flatpickr-disabled, .flatpickr-day.flatpickr-disabled:hover, .flatpickr-day.nextMonthDay, .flatpickr-day.notAllowed, .flatpickr-day.notAllowed.nextMonthDay, .flatpickr-day.notAllowed.prevMonthDay, .flatpickr-day.prevMonthDay {
        color: rgba(255, 255, 255, 0.8);
        background: transparent;
        border-color: transparent;
        cursor: default;
    }

    .flatpickr-weekwrapper span.flatpickr-day, .flatpickr-weekwrapper span.flatpickr-day:hover {
        color: $white;
    
    }

    .flatpickr-day {
        color: $white;
    }

    .flatpickr-months .flatpickr-prev-month, .flatpickr-months .flatpickr-next-month {
        color: $white;
        fill: $white;
    }

    .flatpickr-day.endRange, 
    .flatpickr-day.endRange.inRange,
    .flatpickr-day.endRange.nextMonthDay, 
    .flatpickr-day.endRange.prevMonthDay, 
    .flatpickr-day.endRange:focus, 
    .flatpickr-day.endRange:hover, 
    .flatpickr-day.selected, 
    .flatpickr-day.selected.inRange, 
    .flatpickr-day.selected.nextMonthDay, 
    .flatpickr-day.selected.prevMonthDay, 
    .flatpickr-day.selected:focus, 
    .flatpickr-day.selected:hover, 
    .flatpickr-day.startRange, 
    .flatpickr-day.startRange.inRange, 
    .flatpickr-day.startRange.nextMonthDay, 
    .flatpickr-day.startRange.prevMonthDay, 
    .flatpickr-day.startRange:focus, 
    .flatpickr-day.startRange:hover {
        background: rgb(5, 30, 55) !important;
        color: $white;
        border-color: rgb(5, 30, 55) !important;
    }

    .flatpickr-day.inRange,
    .flatpickr-day.prevMonthDay.inRange,
    .flatpickr-day.nextMonthDay.inRange,
    .flatpickr-day.today.inRange,
    .flatpickr-day.prevMonthDay.today.inRange,
    .flatpickr-day.nextMonthDay.today.inRange,
    .flatpickr-day:hover,
    .flatpickr-day.prevMonthDay:hover,
    .flatpickr-day.nextMonthDay:hover,
    .flatpickr-day:focus,
    .flatpickr-day.prevMonthDay:focus,
    .flatpickr-day.nextMonthDay:focus {
        cursor: pointer;
        outline: 0;
        background: #24384c !important;
        border-color: #24384c !important;
    }

    .control-group .slider {
        top: -2px !important;
        right: -2px !important;
        background-color: $dark-mode-switch-background !important;
        border: 1px solid $dark-mode-switch-border !important;
    } 

    .control-group input:checked + .slider {
        background-color: $dark-mode-switch-background !important;
    }

}

.rtl.dark-mode {

    .navbar-left {          
        background-color: $dark-bg;
        border-right: 1px solid $dark-bg;

        ul.menubar {
            li.menu-item { 

                > a {
                    padding: 5px 2px;
                    display: block;
                    color: #000;
                    width: 100%;
    
                    .icon {
                        display: inline-block;
                        vertical-align: middle;
                        transform: scale(0.7);
                    }
    
                    .menu-label {
                        display: none;
                        color: #B0BEC5;
                    }
    
                    .arrow-icon{
                        display: none;
                    }
    
                    &.active,&:hover {
                        padding: 5px 2px;
                        background-color: rgba(1, 10, 20, .5);
                    }
                }       
                
                &.active{  
                    > a{                 
                        background-color: rgba(1, 10, 20, .5);
                    }  
                }
                
                &:hover {               
    
                    ul.sub-menubar {   
                        background: #031425;
                        box-shadow: none; 
                        border: 1px solid #24384c;

    
                        .sub-menu-item {  

                            .menu-label {
                                color: #fff !important;                                    
                            }
        
                            &.active, &:hover {
                                background-color: #020f1c;
                                .menu-label {
                                    color: #fff !important;                                    
                                }
                            }                           
                        }
                    }
                }
            }
        } 

        &.open{
            ul.menubar {
                li.menu-item {
                    a {
                        .menu-label {
                            font-size: 14px;
                            font-weight: 200;
                            display: inline-block;
                            color: #B0BEC5;
                        }
    
                        .arrow-icon {
                            display: inline-block;
                        }
                    }
    
                    ul.sub-menubar {
                        display: none;
                        position: unset;
                        background-color: transparent;
                        border-radius: 0;
                        box-shadow: unset;
                        border: 0;
                    
                        li.sub-menu-item {
                            a {
                                padding-left: 52px;
                            }
                        }
                    }
    
                    &.active {
                        background: $dark-bg;
                        width: calc(100% - 1px);
    
                        .menu-label {
                            color: #fff;
                        }
    
                        ul.sub-menubar {
                            display: block;
                            background-color: #031425;
                            border:none !important;
    
                            .sub-menu-item {
                                .menu-label {
                                    color: #B0BEC5;
                                }
    
                                &.active, &:hover {
                                    background-color: rgba(1, 10, 20, .5);
                                    .menu-label {
                                        color: #fff !important;                                    
                                    }
                                }
                            }
                        }
                    }
    
                    &:hover {
                         background: $dark-bg;
                        .menu-label {
                            color: #fff;
                        }
                    }
                }
            }
        }
        
        .menubar-bottom {
            background-color: $dark-bg;
        }
    }  
}   
