.dashboard {
    .page-header {
        margin-bottom: 0 !important;
        padding-bottom: 15px;
        border-bottom: 1px solid $border-color;
    }

    .page-content {
        margin-top: 15px;
    }

    .card {
        height: 445px;
        background-color: $card-background;
        border: 1px solid $border-color;
        box-shadow: 0 5px 10px 2px $border-color;
        border-radius: 0.25rem;
        padding: 20px 0px 0px 20px;
        overflow: auto;

        .card-title {
            font-size: 14px;
            color: $card-title;
            letter-spacing: -0.26px;
            text-transform: uppercase;
        }

        .card-info {
            width: 100%;
            display: inline-block;

            &.center {
                text-align: center;
            }

            ul {
                li {
                    border-bottom: 1px solid $border-color;
                    width: 100%;
                    display: inline-block;
                    padding: 10px 0;
                    position: relative;

                    .image {
                        height: 60px;
                        width: 60px;
                        float: left;
                        margin-right: 15px;

                        &.product {
                            background: #f2f2f2;
                        }

                        img {
                            width: 100%;
                        }
                    }

                    .description {
                        margin-top: 10px;

                        .name {
                            color: #0041ff;
                        }

                        .info {
                            color: #3a3a3a;
                            margin-top: 5px;
                        }
                    }

                    .icon.angle-right-icon {
                        position: absolute;
                        right: 30px;
                        top: 50%;
                        margin-top: -8px;
                    }

                    &:last-child {
                        border-bottom: 0;
                    }
                }
            }

            .no-result-found {
                margin-top: 146px;

                p {
                    margin: 0;
                    color: #a2a2a2;
                }
            }
        }
    }

    .dashboard-stats {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        grid-auto-rows: auto;
        grid-column-gap: 30px;
        grid-row-gap: 15px;

        .dashboard-card {
            height: 100px;
            background: $card-background;
            border: 1px solid $border-color;
            box-shadow: 0 5px 10px 2px $border-color;
            border-radius: 5px;
            position: relative;
            padding: 15px;

            .title {
                font-size: 14px;
                color: $card-title;
                text-transform: uppercase;
            }

            .data {
                padding-top: 13px;
                font-size: 32px;
                color: $dashboard-stats-data;

                .progress {
                    font-size: 14px;
                    color: #8e8e8e;
                    float: right;
                    margin-top: -2px;

                    .icon {
                        vertical-align: middle;
                    }
                }
            }
        }
    }

    .graph-stats {
        margin-top: 30px;
        width: 100%;
        display: inline-block;

        .left-card-container {
            float: left;
            width: 75%;
            padding-right: 9px;
        }

        .right-card-container {
            float: left;
            width: 25%;
            padding-left: 21px;
        }
    }

    .sale-stock {
        width: 100%;
        display: inline-block;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(435px, 1fr));
        grid-auto-rows: auto;
        grid-column-gap: 30px;
        grid-row-gap: 15px;
        margin-top: 30px;
    }
}