.sale-container {
    .sale-section {
        font-size: 16px;

        .secton-title {
            font-size: 18px;
            color: #8e8e8e;
            padding: 15px 0;
            border-bottom: 1px solid $border-color;
        }

        .section-content {
            display: block;
            padding: 20px 0;

            .row {
                display: block;
                padding: 7px 0;

                .title {
                    width: 200px;
                    color: $font-color;
                    letter-spacing: -0.26px;
                    display: inline-block;
                }

                .value {
                    color: $font-color;
                    letter-spacing: -0.26px;
                    display: inline-block;
                }
            }
        }
    }

    .table {
        .qty-row {
            display: block;
            margin-bottom: 5px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .radio {
            margin: 0;
        }
    }

    .sale-summary {
        margin-top: 2%;
        height: 130px;
        float: right;

        tr {
            td {
                padding: 5px 8px;
                vertical-align: text-bottom;
            }

            &.bold {
                font-weight: 600;
                font-size: 15px;
            }

            &.border {
                td {
                    border-bottom: 1px solid $border-color;
                }
            }
        }
    }
}

.stars {
    margin-top: 5px;

    .icon {
        width: 16px;
        height: 16px;
    }
}

.export-import {
    cursor: pointer;

    .export-icon,
    .import-icon {
        position: relative;
        top: 10px;
    }

    span {
        margin-left: 2px;
    }
}