$font-color: #3a3a3a;
$brand-color: #0041FF;
$selection-color: rgba(0, 64, 255, 0.6);
$info-color: #204d74;
$danger-color: #FC6868;
$success-color: #4CAF50;
$warning-color: #FFC107;
$control-border-color: #C7C7C7;
$border-color: rgba(162, 162, 162, 0.2);
$filter-toggle-color : #8e8e8e;
$color-white: #ffffff;
$color-black: #000000;
$color-black-shade : #000311;
$border-color: #e8e8e8;