// Icon scss
@import "icons";
@import "variables";
@import "mixins";
@import "animations";

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 500;
}

*:focus {
    outline: none;
}

a:link,
a:hover,
a:visited,
a:focus,
a:active {
    text-decoration: none;
    color: $brand-color;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1 {
    font-size: 28px;
    color: #3a3a3a;
    margin-top: 0;
}

h2 {
    font-size: 18px;
    color: #3a3a3a;
}

.hide {
    display: none !important;
}

.btn {
    @include box-shadow(
        0 1px 4px 0 rgba(0, 0, 0, 0.2),
        0 0 8px 0 rgba(0, 0, 0, 0.1)
    );
    border-radius: 3px;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    font: inherit;

    &:hover,
    &:active,
    &:focus {
        opacity: 0.75;
        border: none;
    }

    &.btn-sm {
        padding: 6px 12px;
    }
    &.btn-md {
        padding: 8px 16px;
    }
    &.btn-lg {
        padding: 10px 20px;
    }
    &.btn-xl {
        padding: 12px 24px;
        font-size: 16px;
    }

    &.btn-primary {
        background: $brand-color;
        color: #ffffff;
    }

    &[disabled="disabled"],
    &[disabled="disabled"]:hover,
    &[disabled="disabled"]:active {
        cursor: not-allowed;
        background: #b1b1ae;
        box-shadow: none;
        opacity: 1;
    }
}
.dropdown-open {
    position: relative;
}
.dropdown-list {
    width: 200px;
    @include box-shadow(
        0 2px 4px 0 rgba(0, 0, 0, 0.16),
        0 0 9px 0 rgba(0, 0, 0, 0.16)
    );
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
    display: none;
    z-index: 10;
    text-align: left;

    &.bottom-left {
        top: 42px;
        left: 0px;
    }
    &.bottom-right {
        top: 42px;
        right: 0px;
    }
    &.top-left {
        bottom: 42px;
        left: 0px;
    }
    &.top-right {
        bottom: 42px;
        right: 0px;
    }

    .dropdown-container {
        padding: 20px;
        overflow-y: auto;
        max-height: 280px;

        label {
            font-size: 15px;
            display: inline-block;
            text-transform: uppercase;
            color: #9e9e9e;
            font-weight: 700;
            padding-bottom: 5px;
        }

        ul {
            margin: 0px;
            list-style-type: none;
            padding: 0px;

            li {
                padding: 5px 0px;

                &:hover {
                    color: $brand-color;
                    cursor: pointer;
                }

                a:link,
                a:active,
                a:visited,
                a:focus {
                    color: #333333;
                    display: block;
                }
                a:hover {
                    color: $brand-color;
                }
            }
        }
    }
}

.table {
    width: 100%;
    overflow-x: auto;

    table {
        width: 100%;
        border-collapse: collapse;
        text-align: left;

        thead th {
            font-weight: 700;
            padding: 12px 10px;
            background: #f8f9fa;
            color: #3a3a3a;
        }

        tbody td {
            padding: 12px 10px;
            border-bottom: solid 1px #d3d3d3;
            color: #3a3a3a;
        }
    }
}

.dropdown-btn {
    min-width: 150px;
    text-align: left;
    background: #ffffff;
    border: 2px solid $control-border-color;
    border-radius: 3px;
    font-size: 14px;
    color: #8e8e8e;
    padding: 8px 35px 8px 10px;
    cursor: pointer;
    position: relative;

    &:hover,
    &:active,
    &:focus {
        opacity: 0.75;
        border: 2px solid $control-border-color;
    }

    .icon {
        position: absolute;
        right: 10px;
        top: 50%;
        margin-top: -4px;
    }
}

.pagination {
    .page-item {
        background: #ffffff;
        border: 2px solid $control-border-color;
        border-radius: 3px;
        padding: 7px 14px;
        margin-right: 5px;
        font-size: 16px;
        display: inline-block;
        color: #8e8e8e;
        vertical-align: middle;
        text-decoration: none;

        &.previous,
        &.next {
            padding: 6px 9px;
        }

        &.active {
            background: #0041ff;
            color: #fff;
            border-color: #0041ff;
        }

        .icon {
            vertical-align: middle;
            margin-bottom: 3px;
        }
    }
}

.checkbox {
    position: relative;
    display: block;
    vertical-align: middle;
    margin: 10px 5px 5px 0px;

    input {
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        z-index: 100;
    }

    .checkbox-view {
        background-image: url("../images/Checkbox.svg");
        height: 24px;
        width: 24px;
        margin: 0;
        display: inline-block !important;
        vertical-align: middle;
        margin-right: 5px;
    }

    input:checked + .checkbox-view {
        background-image: url("../images/Checkbox-Checked.svg");
    }

    input:disabled + .checkbox-view {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.radio {
    position: relative;
    display: block;
    margin: 10px 5px 5px 0px;

    input {
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        z-index: 100;
    }

    .radio-view {
        background-image: url("../images/controls.svg");
        background-position: -21px 0px;
        height: 20px;
        width: 20px;
        margin: 0;
        display: inline-block !important;
        vertical-align: middle;
        margin-right: 5px;
    }

    input:checked + .radio-view {
        background-position: -21px -21px;
    }

    input:disabled + .radio-view {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.control-group {
    display: block;
    margin-bottom: 25px;
    font-size: 15px;
    color: #333333;
    width: 750px;
    max-width: 100%;

    label {
        display: block;
        color: #3a3a3a;
    }

    textarea.control {
        height: 100px;
        padding: 10px;
    }

    .control {
        background: #fff;
        border: 2px solid $control-border-color;
        border-radius: 3px;
        width: 70%;
        height: 36px;
        display: inline-block;
        vertical-align: middle;
        transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
        padding: 0px 10px;
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 5px;

        &:focus {
            border-color: $brand-color;
        }

        &[disabled="disabled"] {
            border-color: #d3d3d3;
            background-color: #d3d3d3;
            cursor: not-allowed;
        }
    }

    .control-info {
        display: block;
        font-style: italic;
        color: #6f6f6f;
    }

    .control-error {
        display: none;
        color: #ff5656;
        margin-top: 5px;
    }

    &.has-error .control {
        border-color: $danger-color;
    }

    &.has-error .control-error {
        display: block;
    }
}

.alert-wrapper {
    width: 300px;
    top: 10px;
    right: 10px;
    position: fixed;
    z-index: 6;
    text-align: left;

    .alert {
        width: 300px;
        padding: 15px;
        border-radius: 3px;
        display: inline-block;
        box-shadow: 0px 4px 15.36px 0.64px rgba(0, 0, 0, 0.1),
            0px 2px 6px 0px rgba(0, 0, 0, 0.12);
        position: relative;
        animation: jelly 0.5s ease-in-out;
        transform-origin: center top;
        z-index: 500;
        margin-bottom: 10px;

        &.alert-error {
            background: $danger-color;
        }

        &.alert-success {
            background: $success-color;
        }

        &.alert-warning {
            background: $warning-color;
        }

        .icon {
            position: absolute;
            right: 10px;
            top: 10px;
            cursor: pointer;
        }

        p {
            color: #ffffff;
            margin: 0px;
            padding: 0px;
            font-size: 15px;
        }
    }
}

.tabs {
    ul {
        border-bottom: solid 1px $border-color;

        li {
            display: inline-block;

            a {
                padding: 15px 20px;
                cursor: pointer;
                margin: 0px 2px;
                text-align: center;
                color: #000311;
                display: block;
            }

            &.active a {
                border-bottom: 3px solid $brand-color;
            }
        }
    }
}

.accordian {
    .accordian-header {
        font-size: 18px;
        color: #3a3a3a;
        border-bottom: solid 1px $border-color;
        padding: 20px 15px;
        cursor: pointer;

        .icon {
            float: right;
        }
    }

    .accordian-content {
        padding: 20px 15px;
        display: none;
        transition: 0.3s ease all;
    }

    &.active .accordian-content {
        display: inline-block;
    }
}

.tree-container {
    .tree-item {
        padding-left: 30px;
        display: inline-block;
        margin-top: 10px;
        width: 100%;

        > .tree-item {
            display: none;
        }

        &.active > .tree-item {
            display: inline-block;
        }

        .checkbox {
            margin: 0;
            display: inline-block;
        }

        .expand-icon {
            display: inline-block;
            margin-right: 10px;
            cursor: pointer;
            background-image: url("../images/Expand-Light.svg");
            width: 18px;
            height: 18px;
            vertical-align: middle;
        }

        &.active {
            > .expand-icon {
                background-image: url("../images/Expand-Light-On.svg");
            }
        }
    }

    > .tree-item {
        padding-left: 0;
    }
}

.panel {
    box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    background: #fff;

    .panel-content {
        padding: 20px;
    }
}

/*   DataGrid   */

.grid-container {
    margin-top: 30px;

    .filter-wrapper {
        display: block;
        box-sizing: border-box;

        .filter-row-one,
        .filter-row-two {
            display: flex;
            flex-direction: row;
            // flex-wrap: wrap;
        }
        .filter-row-one {
            height: 40px;
            align-items: center;
            justify-content: space-between;

            .search-filter {
                .control {
                    font-family: "montserrat", sans-serif;
                    padding-left: 5px;
                    width: 380px;
                    height: 36px;
                    border: 2px solid $control-border-color;
                    border-radius: 3px;
                    font-size: 14px;
                }
            }

            .dropdown-filters {
                display: inline-flex;

                .column-filter {
                    margin-right: 5px;

                    .control {
                        font-family: "montserrat", sans-serif;
                        padding-left: 5px;
                        height: 36px;
                        width: 150px;
                        border: 2px solid $control-border-color;
                        border-radius: 3px;
                        background-color: white;
                        color: #8e8e8e;
                        font-size: 14px;
                    }
                }

                .more-filters {
                    margin-right: 5px;

                    .control {
                        font-family: "montserrat", sans-serif;
                        padding-left: 5px;
                        height: 36px;
                        width: 150px;
                        border: 2px solid $control-border-color;
                        border-radius: 3px;
                        background-color: white;
                        color: #8e8e8e;
                        font-size: 14px;
                    }
                }
            }
        }
        .filter-row-two {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-top: 15px;
            margin-bottom: 15px;

            .filter-one {
                margin-right: 10px;

                .filter-name {
                    margin-right: 5px;
                }

                .filter-value {
                    display: inline-flex;
                    background: #e7e7e7;
                    height: 36px;
                    padding-left: 5px;
                    padding-right: 10px;
                    padding-top: 8px;
                    padding-bottom: 5px;
                    color: #000311;
                    vertical-align: middle;

                    .cross-icon {
                        height: 18px !important;
                        width: 18px !important;
                    }
                }
            }
        }
    }
}

/*   DataGrid css ends in here   */
