/*  Data grid css starts here  */
.grid-container {
    user-select: none;

    .filter-wrapper {
        display: block;
        box-sizing: border-box;

        .filter-row-one,
        .filter-row-two {
            display: flex;
            flex-direction: row;
        }
        .filter-row-one {
            height: 40px;
            align-items: center;
            justify-content: space-between;

            .search-filter {
                .control {
                    font-family: "montserrat", sans-serif;
                    padding-left: 10px;
                    width: 380px;
                    height: 36px;
                    border: 2px solid $control-border-color;
                    border-radius: 3px;
                    border-right: 0px;
                    border-top-right-radius: 0px;
                    border-bottom-right-radius: 0px;
                    font-size: 14px;
                }
                .ic-wrapper {
                    display: block;
                    height: 36px;
                    width: 36px;
                    border: 2px solid $control-border-color;
                    border-left: none;
                    border-radius: 2px;

                    .search-icon {
                        margin-left: 4px;
                        margin-top: 4px;
                        height: 24px;
                        width: 24px;
                    }
                }
            }

            .dropdown-filters {
                display: inline-flex;

                .more-filters {
                    margin-right: 5px;

                    .dropdown-toggle {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        font-family: "montserrat", sans-serif;
                        padding-left: 5px;
                        height: 36px;
                        width: 150px;
                        border: 2px solid $control-border-color;
                        border-radius: 2px;
                        background-color: $color-white;
                        color: $filter-toggle-color;
                        font-size: 14px;

                        .dropdown-header {
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: space-between;

                            .arrow-down-icon {
                                margin-right: 5px;
                            }
                        }
                    }
                    .dropdown-list {
                        .dropdown-container {
                            ul {
                                li.filter-column-dropdown {
                                    .filter-column-select {
                                        width: 100%;
                                        background: $color-white;
                                        border: 2px solid $control-border-color;
                                        border-radius: 3px;
                                        height: 36px;
                                        display: inline-block;
                                        vertical-align: middle;
                                        -webkit-transition: 0.2s
                                            cubic-bezier(0.4, 0, 0.2, 1);
                                        transition: 0.2s
                                            cubic-bezier(0.4, 0, 0.2, 1);
                                        padding: 0px 5px;
                                        font-family: "montserrat", sans-serif;
                                        margin-top: 10px;
                                        margin-bottom: 5px;
                                    }
                                }
                                li {
                                    select {
                                        background: $color-white;
                                        border: 2px solid $control-border-color;
                                        border-radius: 3px;
                                        height: 36px;
                                        max-width: 100%;
                                        display: inline-block;
                                        vertical-align: middle;
                                        -webkit-transition: 0.2s
                                            cubic-bezier(0.4, 0, 0.2, 1);
                                        transition: 0.2s
                                            cubic-bezier(0.4, 0, 0.2, 1);
                                        padding: 0px 5px;
                                        font-family: "montserrat", sans-serif;
                                        margin-top: 10px;
                                        margin-bottom: 5px;
                                    }
                                    input {
                                        background: #fff;
                                        border: 2px solid #c7c7c7;
                                        border-radius: 3px;
                                        height: 36px;
                                        max-width: 100%;
                                        display: inline-block;
                                        vertical-align: middle;
                                        -webkit-transition: 0.2s
                                            cubic-bezier(0.4, 0, 0.2, 1);
                                        transition: 0.2s
                                            cubic-bezier(0.4, 0, 0.2, 1);
                                        padding: 0px 5px;
                                        font-family: "montserrat", sans-serif;
                                        margin-top: 10px;
                                        margin-bottom: 5px;
                                    }
                                }
                                .filter-condition-dropdown-string {
                                    display: none;
                                }
                                .filter-condition-dropdown-number {
                                    display: none;
                                }
                                .filter-condition-dropdown-datetime {
                                    display: none;
                                }

                                .filter-response-string {
                                    display: none;
                                }
                                .filter-response-boolean {
                                    display: none;
                                }
                                .filter-response-datetime {
                                    display: none;
                                }
                                .filter-response-number {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
        .filter-row-two {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-top: 6px;
            margin-bottom: 6px;

            .filter-one {
                margin-right: 10px;

                .filter-name {
                    margin-right: 5px;
                }

                .filter-value {
                    display: inline-flex;
                    background: #e7e7e7;
                    padding-left: 5px;
                    color: $color-black-shade;
                    vertical-align: middle;

                    .f-value {
                        margin: auto;
                    }

                    .cross-icon {
                        margin: 5px;
                        height: 18px !important;
                        width: 18px !important;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .table {
        thead {
            .mass-action-wrapper {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;

                .massaction-remove {
                    margin-top: 4px;
                    margin-right: 10px;
                }

                .selected-items {
                    margin-right: 15px;
                }
            }
            tr {
                th.grid_head {

                    .sort-down-icon, .sort-up-icon {
                        margin-left: 5px;
                        margin-top: -3px;
                        vertical-align: middle;
                    }
                }

                th.grid_head.sortable {
                    cursor: pointer;
                }

                th {
                    text-transform: capitalize;
                }
            }
        }

        tbody {
            td.action {
                a:first-child {
                    margin-right: 10px;
                }
            }
        }

        .pagination {
            margin-top:20px;
        }
    }
}
/*   DataGrid css ends in here   */
