.grid-container {
    display: block;
    width: 100%;
    height: 100%;
}

.filter-row-one {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.filter-row-two {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.search-filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    .control {
        background: #ffffff;
        border: 2px solid $control-border-color;
        border-right: none;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-radius: 3px;
        height: 36px;
        width: 360px;
        padding-left: 10px;
        font-size: 15px;
        color: #8E8E8E;
    }

    .contorl:focus {
        border-color: $brand-color;
    }

    .icon-wrapper {
        border: 2px solid $control-border-color;
        border-radius: 3px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        height: 36px;
        width: 36px;
        margin-left: -1px;

        .search-icon {
            margin-top: 3px;
            margin-left: 3px;
        }
    }
}

.dropdown-header {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    height: 36px;
    width: 202px;
    border: 2px solid $control-border-color;
    border-radius: 3px;
    color: #8E8E8E;
    padding: 0px 5px 0px 5px;

    .arrow-icon-down {
        float: right;
    }
}

.filter-tag {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    height: 28px;
    width: 98px;
    border-radius: 2px;

    .wrapper {
        margin-left: 10px;
        padding: 0px 5px 0px 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        background: #E7E7E7;
        font-size: 14px;
        height: 28px;
        color: #000311;
        letter-spacing: -0.22px;
    }
}