@import "mixins";

.grid-container {
    display: block;
    width: 100%;
}

.filter-row-one {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .dropdown-filters {
        position: absolute;
        right: 25px;
    }
}

.filter-row-two {
    display: inline-flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.search-filter {
    display: inline-flex;

    .control {
        font-size: 15px;
        border: 2px solid $control-border-color;
        border-right: none;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-radius: 3px;
        height: 36px;
        width: 280px;
        padding-left: 10px;
    }

    .contorl:focus {
        border-color: $brand-color;
    }

    .icon-wrapper {
        border: 2px solid $control-border-color;
        border-radius: 3px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        height: 36px;
        width: 36px;
        margin-left: -1px;

        .search-icon {
            margin-top: 3px;
            margin-left: 3px;
        }
    }
}

.grid-dropdown-header {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    height: 36px;
    width: 200px;
    border: 2px solid $control-border-color;
    border-radius: 3px;
    color: #8E8E8E;
    padding: 0px 5px 0px 5px;

    .arrow-icon-down {
        float: right;
    }
}

.dropdown-list.dropdown-container {
    padding: 15px;
    width: 100%;
    top: 43px;

    ul {
        li {
            .control-group {
                margin-bottom: 15px;
            }
        }
    }

    .apply-filter {
        padding: 10px;
        width: 100%;
    }
}

.filter-tag {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    height: 28px;
    border-radius: 2px;
    margin-right: 20px;

    .wrapper {
        margin-left: 10px;
        padding: 5px 10px 5px 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        background: #E7E7E7;
        font-size: 14px;
        height: 28px;
        color: #000311;
        letter-spacing: -0.22px;
        @include border-radius(2px);

        .icon.cross-icon {
            margin-left: 10px;
            cursor: pointer;
        }
    }
}