// Left Side Menu Icon
%menu-properties {
    width: 48px;
    height: 48px;
    margin-bottom: 10px;
    display: inline-block;
    background-size: cover;
}
.icon {
    display: inline-block;
    background-size: cover;
}
.icon-dashboard {
    @extend %menu-properties;
    background-image: url('../images/Icon-Dashboard.svg');
}
.icon-configuration {
    @extend %menu-properties;
    background-image: url('../images/Icon-Configure.svg');
}
.icon-settings {
    @extend %menu-properties;
    background-image: url('../images/Icon-Settings.svg');
}

.angle-right-icon {
    background-image: url('../images/Angle-Right.svg');
    width: 17px;
    height: 17px;
}

.angle-left-icon {
    background-image: url('../images/Angle-Right.svg');
    width: 17px;
    height: 17px;
}

.arrow-down-icon {
    background-image: url('../images/Arrow-Down-Light.svg');
    width: 14px;
    height: 8px;
}

.white-cross-sm-icon {
    background-image: url('../images/Icon-Sm-Cross-White.svg');
    width: 18px;
    height: 18px;
}

.accordian-up-icon {
    background-image: url('../images/Accordion-Arrow-Up.svg');
    width: 24px;
    height: 24px;
}
.accordian-down-icon {
    background-image: url('../images/Accordion-Arrow-Down.svg');
    width: 24px;
    height: 24px;
}

.trash-icon {
    background-image: url('../images/Icon-Trash.svg');
    width: 24px;
    height: 24px;
}

.remove-icon {
    background-image: url('../images/Icon-remove.svg');
    width: 24px;
    height: 24px;
}

.pencil-lg-icon {
    background-image: url('../images/Icon-Pencil-Large.svg');
    width: 24px;
    height: 24px;
}

.search-icon {
    background-image: url('../images/icon-search.svg');
    width: 24px;
    height: 24px;
}

.sortable-icon {
    background-image: url('../images/Icon-Sortable.svg');
    width: 24px;
    height: 24px;
}

.sort-down-icon {
    background-image: url('../images/Icon-Sort-Down.svg');
    width: 18px;
    height: 18px;
}

.active {
    .icon-dashboard {
        background-image: url('../images/Icon-Dashboard-Active.svg');
    }

    .icon-settings {
        background-image: url('../images/Icon-Settings-Active.svg');
    }

    .icon-configuration {
        @extend %menu-properties;
        background-image: url('../images/Icon-Configure-Active.svg');
    }

    .arrow-down-icon {
        background-image: url('../images/Arrow-Down.svg');
        width: 14px;
        height: 8px;
    }

    &.icon-dashboard {
        background-image: url('../images/Icon-Dashboard-Active.svg');
    }

    &.icon-settings {
        background-image: url('../images/Icon-Settings-Active.svg');
    }

    &.icon-configuration {
        @extend %menu-properties;
        background-image: url('../images/Icon-Configure-Active.svg');
    }

    &.arrow-down-icon {
        background-image: url('../images/Arrow-Down.svg');
        width: 14px;
        height: 8px;
    }
}