.footer {
    width: 100%;
    background-color: #ffffff;
    display: inline-block;

    .newsletter-subscription {
        padding: 10px 130px;
        background-color: #4d7ea8;

        .newsletter-wrapper {
            display: flex;
            display: -webkit-box;
            display: -ms-flexbox;
            -ms-flex-pack: justify;
            -webkit-box-pack: justify;
            justify-content: space-between;

            input.subscribe-field {
                width: 300px;
                height: 38px;
                border: none;
                font-size: 18px;
                padding: 10px 20px;
                color: rgba(0,0,0,0.83);
                border-radius: 5px 0px 0px 5px;
            }

            button.subscribe-btn {
                left: -1px;
                height: 38px;
                font-size: 18px;
                line-height: 10px;
                position: relative;
                border-radius: 0px 5px 5px 0px;
            }

            .social-icons {
                padding: 20px 0;
                color: $light-color;

                i {
                    margin: 0;
                }

                .within-circle {
                    background: #4d7ea8;
                    border: 1px solid rgba(255, 255, 255, 0.52);
                }

                img {
                    background: #4d7ea8;
                    border: 1px solid rgba(255, 255, 255, 0.52);
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }

            .subscribe-newsletter {
                padding: 30px 0;
            }
        }
    }

    .footer-content {
        .newsletter-subscription {
            color: white;
        }

        > .row {
            padding: 60px 130px;
            background: #30383F;

            .logo {
                width: 150px;
                height: 35px;
            }

            .footer-ct-content {
                > div {
                    margin: 0;
                    padding: 0;
                    font-size: 14px;
                    line-height: 2.5rem;

                    li a {
                        color: rgba(255,255,255,0.83);
                    }
                }
            }

            .footer-rt-content {
                .row {
                    > div {
                        width: 100%;
                        display: block;
                    }

                    .bg-image {
                        width: 42px;
                        height: 30px;
                        display: inline-block;
                        background-position: left;
                    }

                    .bg-image:not(:last-child) {
                        margin-right: 3px;
                    }

                    .cash {
                        background-image: url('../images/static/cash.png');
                    }
                    .cheque {
                        width: 57px !important;
                        background-image: url('../images/static/cheque.png');
                    }
                    .visa {
                        background-image: url('../images/static/visa.png');
                    }
                    .master-card {
                        background-image: url('../images/static/master-card.png');
                    }
                    .paypal {
                        background-image: url('../images/static/paypal.png');
                    }
                    .discover {
                        background-image: url('../images/static/discover.png');
                    }
                }

                .row:not(:last-child) {
                    padding-bottom: 20px;
                }

                h3 {
                    font-size: 14px;
                    color: rgba(255,255,255,0.52);
                }
            }
        }

        .footer-statics {
            .software-description {
                p {
                    @extend .clr-dark;

                    font-size: 14px;
                }
            }
        }
    }

    .top-brands {
        padding: 40px;
        padding-left: 10%;
        padding-right: 10%;

        .top-brands-body {
            padding: 15px;

            ul {
                width: 85%;
                display: inline-block;

                li {
                    display: inline-block;
                }
            }
        }
    }

    .footer-copy-right {
        width: 100%;
        height: 60px;
        line-height: 6rem;
        text-align: center;
        background: #30383F;;
        color: rgba(255,255,255,0.83);

        p {
            padding: 0px 20px;
        }
    }

}

@media all and (max-width: 720px) {
    .footer {
        padding-left: 15px;
    }
    .footer .footer-list-container {
        padding-left: 0px !important;
    }
    .footer .currency {
        display: block !important;
    }
}