
/* @author Shubham Mehrotra */
body {
    overflow-x: hidden;
    scroll-behavior: smooth;

    .container-margin {
        margin: auto 20px;
    }
}

.account-modal {
    @extend .modal-dialog;

    right: 10px;
    z-index: 100;
    width: 350px !important;
    position: absolute !important;

    .theme-btn {
        padding: .5rem .9rem;
    }

    .modal-footer {
        .text-left {
            padding-left: 5px;
        }
    }
}

.category-list-container {
    z-index: 10;
    padding: 0px !important;
    background: $white-color;
    position: absolute !important;
    box-shadow: inset -1px 0 0 0 $border-light;

    .category {
        @extend .cursor-pointer;

        width: 100%;
        line-height: 2.5rem;
        display: inline-block;

        span {
            top: -4px;
            position: relative;
        }
    }
}

.category-list-container li {
    padding: 7px 0 5px 15px;
}

.category-list-container li:hover {
    background: $border-light;
}

.category-list-container {
    .sub-category-container {
        position: relative;
    }

    .sub-categories {
        top: -40px;
        left: 100%;
        z-index: 100;
        padding-top: 10px;
        position: absolute;
        background: $light-color;
        border-left: 1px solid $border-common;
        box-shadow: inset -1px 0 0 0 $border-light;
    }
}

.root-category-menu {
    border-bottom: solid 1px #d8e6ed;
}

.angle-right-icon {
    width: 22px;
    height: 20px;
    float: right;
    margin-right: 10px;
    background-image: url("../images/Icon-Arrow-Right.svg");
}

.banner-icon {
    height: 525px;
    display: inline-block;
}

.card-product-image-container {
    height: 300px;
    min-height: 100px;
    max-height: 300px;

    img {
        width: 100%;
        height: 100%;
    }

    .background-image-group {
        @extend .full-back-size;

        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
}


.hide-text {
    white-space: nowrap;
    width: 100%;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden !important;
}

.card-bottom-container {
    margin-top: 12px;
}

.card-actual-price {
    text-decoration: line-through;
}

.card-discount {
    color: rgba(38, 163, 124, 0.83);
}

.no-border-shadow {
    border: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.card-bottom-container .rango-heart {
    float: right;
    margin-top: 8px;
    cursor: pointer;
    font-size: 20px;
}

header #search-form > *:focus {
    outline: none;
    box-shadow: none;
}

.disable-active:active,
.disable-active:focus {
    outline: none;
    box-shadow: none;
}

.container-margin > .container-fluid {
    margin-bottom: 60px;
}

.v-mr-20 {
    margin-right: 2rem;
}

.popular-product-categories .active {
    color: #4D7EA8;
    padding: 0 10px 5px 10px;
    display: inline-block;
    border-bottom: 2px solid;
}

.popular-product-categories .switch-buttons {
    top: -3px;
    position: relative;
}

.align-vertical-top {
    vertical-align: top;
}

.card-sale-btn {
    top: 5px;
}

.star-rating > * {
    font-size: 14px;
}

/* advertisements */
.advertisement-four-container {
    .offers-ct-panel {
        > .row {
            padding: 0 10px;
        }

        .offers-ct-top {
            height: 180px;
        }

        .offers-ct-bottom {
            height: 220px;
        }
    }

    > .row:first-child {
        padding: 0 10px !important;
    }

    .col-4:nth-child(2) {
        padding-left: 10px;
        padding-right: 10px;
    }

    img {
        width: 100%;
        height: 100%;
        max-height: 425px;
    }

    img:nth-of-type(1),
    img:last-child {
        padding: 0;
    }
}

.advertisement-two-container {
    img {
        width: 100%;
        height: 500px;
    }
}

.advertisement-three-container {
    .col-6:first-child {
        img {
            height: 100%;
        }
    }

    .top-container,
    .bottom-container {
        img {
            height: 225px;
        }
    }

    .bottom-container {
        padding-top: 15px;
    }
}
/* advertisements */

.recetly-viewed-items {
    padding-left: 10px !important;
    padding: 0px !important;
}

/* product policy section */
.product-policy-container {
    .card {
        border: none;
        padding: 20px;
        background: #FFFFFF;

        .col-sm-10 {
            line-height: 3.5rem;
        }
    }
}
/* product policy section */

/* category with custom option */

.category-with-custom-options {

    .row:nth-child(1) {
        margin-bottom: 0px;

        .category-image {
            height: 350px;
        }

        > div {
            padding: 0;
            background-repeat: no-repeat;

            &:first-child() {
                max-height: 345px;
                background-size: cover;
                background-image: url('../images/girl.png');
            }

            &:nth-child(3) {
                max-height: 345px;
                background-size: cover;
                background-image: url('../images/man.png');
            }
        }
    }

    .row:nth-child(2) {
        .category-image {
            height: 350px;
        }

        > div {
            padding: 0;
            background-repeat: no-repeat;

            &:nth-child(2) {
                max-height: 345px;
                background-size: cover;
                background-image: url('../images/man.png');
            }

            &:nth-child(4) {
                max-height: 345px;
                background-size: cover;
                background-image: url('../images/girl.png');
            }
        }
    }

    .categories-collection {
        height: 100%;
        min-height: 330px;
        max-height: 345px;
        padding-left: 36px;
        background:#2B2B2B;

        h2 {
            color: white;
        }

        li {
            color: rgba(255,255,255,0.83);
        }

        .category-text-content {
            top: 50%;
            position: relative;
            transform: translateY(-50%);
        }
    }
}

/* category with custom option */

/* hot & popular categories */

.hot-categories-container {
    .hot-category-wrapper {
        padding: 0 10px 15px 0;

        .card {
            height: 100%;
            padding: 20px;
            border: none;
            // box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.14);
            // -webkit-box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.14);
        }

        .velocity-divide-page {
            .left {
                width: 30px;
                height: 30px;
                margin-left: 10px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .right {
                padding-left: 50px !important;
            }
        }
    }

    .hot-category-wrapper:nth-last-child(2) {
        padding: 15px 0 15px 0px;
    }

    .hot-category-wrapper:last-child {
        padding: 15px 0 15px 10px;
    }
}

.hot-categories-container,
.popular-categories-container {
    ul {
        line-height: 2.5rem;
    }

    li {
        font-size: 16px;
    }
}

.popular-categories-container {
    .popular-category-wrapper {
        padding: 0 8px;

        .card {
            height: 100%;
            border: none;
            // box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.14);
            // -webkit-box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.14);

            .category-image {
                height: 180px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .card-image {
            height: 180px;
            background-size: 100% 100%;
            background-image: url('../images/man.png');
        }

        .card-description {
            padding: 25px;
            margin-top: 15px;
        }
    }

    .popular-category-wrapper:first-child {
        padding-left: 0;
    }

    .popular-category-wrapper:nth-last-child(2) {
        padding-right: 0px;
    }

    .popular-category-wrapper:last-child {
        padding-left: 16px;
        padding-right: 0px;
    }
}

/* hot & popular categories */

/* Customer Reviews */
.reviews-container {
    .card {
        border: none;
        height: 100%;
        padding: 20px;
        padding-left: 15px;
        padding-right: 15px;

        .customer-info {
            > div {
                padding: 0;
                display: inline-block;
            }

            > div:first-child() {
                width: 60px;
                margin-right: 10px;
            }

            > div:last-child() {
                width: calc(100% - 75px);
            }
        }

        .review-info {
            height: 100%;
            padding: 20px 25px;
            box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.14);

            > div:not(:last-child) {
                margin-bottom: 15px;
            }
        }
    }

    .product-info {
        display: inline-block;
    }
}
/* Customer Reviews */

/* sidebar */
.categories-sidebar-container {
    @extend .fs14;

    margin: 0;
    margin-bottom: 60px;
    display: inline-block;

    > .row {
        &.disabled {
            cursor: not-allowed;
        }
    }

    .main-category {
        padding: 8px 15px;
        border-top: 1px solid $border-common;
        border-bottom: 1px solid $border-common;
    }

    .content-list {
        margin: 0;
        width: 100%;
        text-align: left;
        list-style: none;
        position: relative;
        vertical-align: top;
        display: inline-block;

        ul {
            width: 100%;
            height: 100%;
            padding-left: 10px;
            display: inline-flex;
            background-color: $link-color;

            li {
                a {
                    display: block;
                    cursor: pointer;
                    font-size: 16px;
                    font-weight: 600;
                    letter-spacing: 0;
                    position: relative;
                    color: $white-color;
                    text-decoration: none;
                    padding: 8px 20px 8px 5px;
                }
            }
        }
    }
}

.velocity-divide-page {
    position: relative;

    .left {
        z-index: 1;
        width: $sidebar-width;
        position: absolute;
    }

    .right {
        width: 100%;
        padding-left: $sidebar-width !important;
    }
}

.container-right {
    width: 100%;
    display: inline-block;

    >:first-child() {
        width: 100%;
    }
}

.home-base {
    margin-bottom: 60px;
}
/* sidebar */

.broken-image {
    width: 320px;
    height: 160px;
    background-image: url('../images/static/broken-clock.png');
}

.velocity-icon {
    width: 150px;
    height: 150px;
    background-image: url('../images/static/v-icon.png');
}

.error-page {
    padding-top: 30vh;
}

.custom-circle {
    width: 56px;
    height: 54px;
    padding: 14px;
    font-size: 20px;
    color: #21a179;
    border-radius: 50%;
    text-align: center;
    background: white;
    display: inline-block;
    vertical-align: middle;
    border: 2px solid #21a179;
    font: 18px "josefin sans", arial;
}

body::after {
    /* dark overlay layer - visible when we fire .cd-quick-view */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(71, 55, 78, 0.8);
    opacity: 0;
    transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-quick-view {
    top: 50px;
    left: 22%;
    width: 734px;
    z-index: 11;
    padding: 40px;
    display: block;
    position: fixed;
    max-width: 900px;
    max-height: 1000px;
    background-color: #fff;
    // transition: box-shadow .3s;
    // -moz-transition: box-shadow .3s;
    // -webkit-transition: box-shadow .3s;
    box-shadow: 0 0 30px rgba(0,0,0,.2);

    transform: translateZ(0);
    backface-visibility: hidden;
    will-change: left, top, width;
    -webkit-backface-visibility: hidden;

    .cd-slider li.selected img {
        width: 317px;
        height: 397px;
        display: inline-block !important;
    }

    .cd-slider img {
        display: none;
    }

    .close-btn {
        top: -25px;
        right: -15px;
        position: absolute;
    }

    .action-buttons {
        padding-top: 20px;

        > span {
            font-size: 24px;
            margin-left: 24px;
        }
    }
}

.container {
    max-width: 1300px !important;
}

.remove-padding-margin {
    width: 100% !important;
    margin: 0px !important;
    padding: 0px !important;
}

.demo {
    border: 1px solid red;
}