
/* @author Shubham Mehrotra */
body {
    overflow-x: hidden;
    scroll-behavior: smooth;

    .container-margin {
        margin: auto 20px;
    }
}

.account-modal {
    @extend .modal-dialog;

    right: 10px;
    z-index: 100;
    width: 350px !important;
    position: absolute !important;
}

.category-list-container {
    padding-left: 0px;
    display: inline-block;
    box-shadow: inset -1px 0 0 0 $border-light;

    .category {
        @extend .cursor-pointer;

        width: 100%;
        line-height: 2.5rem;
        display: inline-block;

        span {
            top: -4px;
            position: relative;
        }
    }
}

.category-list-container li {
    padding: 7px 0 5px 15px;
}

.category-list-container li:hover {
    background: $border-light;
}

.category-list-container {
    .sub-categories {
        top: 0px;
        left: 100%;
        width: 240px;
        z-index: 100;
        height: 100%;
        display: none;
        padding: 10px 20px;
        position: absolute;
        background: $light-color;
        box-shadow: inset -1px 0 0 0 $border-light;
    }
}

.root-category-menu {
    border-bottom: solid 1px #d8e6ed;
}

.angle-right-icon {
    width: 22px;
    height: 20px;
    float: right;
    margin-right: 11px;
    background-image: url("../images/Icon-Arrow-Right.svg");
}

.banner-icon {
    height: 450px;
    display: inline-block;
}

.card-product-image-container {
    height: 300px;
    min-height: 100px;
    max-height: 300px;

    img {
        width: 100%;
        height: 100%;
    }

    .background-image-group {
        @extend .full-back-size;

        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
}


.hide-text {
    white-space: nowrap;
    width: 100%;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden !important;
}

.card-bottom-container {
    margin-top: 12px;
}

.card-actual-price {
    text-decoration: line-through;
}

.card-discount {
    color: rgba(38, 163, 124, 0.83);
}

.no-border-shadow {
    border: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.card-bottom-container .rango-heart {
    float: right;
    margin-top: 8px;
    cursor: pointer;
    font-size: 20px;
}

#header-search-icon {
    min-width: 40px;
    background-color: $theme-color;

    i {
        color: $btn-text-color;
    }
}
#header-search-icon .material-icons {
    color: white;
    padding-top: 5px;
}

header #search-form > *:focus {
    outline: none;
    box-shadow: none;
}

.disable-active:active,
.disable-active:focus {
    outline: none;
    box-shadow: none;
}

.container-margin > .container-fluid {
    margin-bottom: 60px;
}

.v-mr-20 {
    margin-right: 2rem;
}

.popular-product-categories .active {
    color: #4D7EA8;
    padding: 0 10px 5px 10px;
    display: inline-block;
    border-bottom: 2px solid;
}

.popular-product-categories .switch-buttons {
    top: -3px;
    position: relative;
}

.align-vertical-top {
    vertical-align: top;
}

.card-sale-btn {
    top: 5px;
}

.star-rating > * {
    font-size: 14px;
}

.container-fluid > .row:first-child() {
    margin-bottom: 20px;
}

/* advertisement-one */
.advertisement-one {
    .offers-lt-panel {
        @extend .full-back-size;

        height: 400px;
        background-image: url('../images/big-sale-banner.png');
    }

    .offers-ct-panel {
        > .row {
            padding: 0 10px;
        }

        .offers-ct-top {
            @extend .bg-image;
            @extend .no-padding;
            @extend .full-back-size;

            height: 145px;
            background-image: url('../images/seasons.png');
        }

        .offers-ct-bottom {
            @extend .bg-image;
            @extend .no-padding;
            @extend .full-back-size;

            height: 245px;
            background-image: url('../images/deals.png');
        }
    }

    .offers-rt-panel {
        @extend .bg-image;
        @extend .full-back-size;

        height: 400px;
        background-image: url('../images/kids.png');
    }
}
/* advertisement-one */

/* advertisement-two */
.advertisement-two-container {
    max-width: 100%;

    .ad-2-lt {
        @extend .bg-image;
        @extend .no-padding;
        @extend .full-back-size;

        height: 450px;
        background-position: top;
        background-image: url('../images/headphones.png');
    }

    .ad-2-rt {
        @extend .ml15;

        .top-container {
            > div {
                @extend .bg-image;
                @extend .no-margin;
                @extend .full-back-size;
                @extend .back-pos-rt;

                height: 185px;
                background-position: top;
                background-image: url('../images/watch.png');
            }
        }

        .bottom-container {
            > div {
                @extend .bg-image;
                @extend .no-margin;
                @extend .back-pos-rt;
                @extend .full-back-size;

                bottom: 0px;
                height: 185px;
                position: absolute;
                background-position: top;
                background-image: url('../images/kids-2.png');
            }
        }
    }
}
/* advertisement-two */

/* advertisement-three */
.advertisement-three-container {
    .ad-3-lt {
        height: 400px;
        background-size: 100% 100%;
        background-image: url('../images/toster.png');
    }

    .ad-3-rt {
        height: 400px;
        background-size: 100% 100%;
        background-image: url('../images/trimmer.png');
    }
}
/* advertisement-three */

.recetly-viewed-items {
    padding-left: 10px !important;
    padding: 0px !important;
}

/* product policy section */
.product-policy-container {
    .card {
        border: none;
        padding: 20px;
        background: #FFFFFF;

        .col-sm-10 {
            line-height: 3.5rem;
        }
    }
}
/* product policy section */

/* category with custom option */

.category-with-custom-options {

    .row:nth-child(1) {
        margin-bottom: 0px;

        .category-image {
            height: 350px;
        }

        > div {
            padding: 0;
            background-repeat: no-repeat;

            &:first-child() {
                max-height: 345px;
                background-size: cover;
                background-image: url('../images/girl.png');
            }

            &:nth-child(3) {
                max-height: 345px;
                background-size: cover;
                background-image: url('../images/man.png');
            }
        }
    }

    .row:nth-child(2) {
        .category-image {
            height: 350px;
        }

        > div {
            padding: 0;
            background-repeat: no-repeat;

            &:nth-child(2) {
                max-height: 345px;
                background-size: cover;
                background-image: url('../images/man.png');
            }

            &:nth-child(4) {
                max-height: 345px;
                background-size: cover;
                background-image: url('../images/girl.png');
            }
        }
    }

    .categories-collection {
        height: 100%;
        min-height: 330px;
        max-height: 345px;
        padding-left: 36px;
        background:#2B2B2B;

        h2 {
            color: white;
        }

        li {
            color: rgba(255,255,255,0.83);
        }

        .category-text-content {
            top: 50%;
            position: relative;
            transform: translateY(-50%);
        }
    }
}

/* category with custom option */

/* hot & popular categories */

.hot-categories-container {
    .col-sm-3 {
        padding-top: 15px;

        .card {
            height: 100%;
            padding: 20px;
            border: none;
            box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.14);
            -webkit-box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.14);
        }
    }
}

.hot-categories-container,
.popular-categories-container {
    ul {
        line-height: 2.5rem;
    }

    li {
        font-size: 16px;
    }
}

.popular-categories-container {
    .card-image {
        height: 180px;
        background-size: 100% 100%;
        background-image: url('../images/man.png');
    }

    .card-description {
        padding: 25px;
        margin-top: 15px;
    }
}

/* hot & popular categories */

/* Customer Reviews */
.reviews-container {
    .card {
        border: none;
        height: 100%;
        padding: 20px;
        padding-left: 15px;
        padding-right: 15px;

        .customer-info {
            > div {
                padding: 0;
                display: inline-block;
            }

            > div:first-child() {
                width: 60px;
                margin-right: 10px;
            }

            > div:last-child() {
                width: calc(100% - 75px);
            }
        }

        .review-info {
            height: 100%;
            padding: 20px 25px;
            box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.14);

            > div:not(:last-child) {
                margin-bottom: 15px;
            }
        }
    }

    .product-info {
        display: inline-block;
    }
}
/* Customer Reviews */

/* sidebar */
.categories-sidebar-container {
    @extend .fs14;

    margin: 0;
    margin-bottom: 60px;
    display: inline-block;

    .main-category {
        border-bottom: 1px solid $border-common;
    }
}

.container-right {
    width: 100%;
    display: inline-block;

    >:first-child() {
        width: 100%;
    }
}
.content-list {
    margin: 0;
    width: 100%;
    padding: 5px;
    height: auto;
    min-height: 40px;
    text-align: left;
    list-style: none;
    position: relative;
    vertical-align: top;
    display: inline-block;
    background-color: #4D7EA8;

    li {
        a {
            display: block;
            cursor: pointer;
            font-size: 16px;
            color: #FFFFFF;
            letter-spacing: 0;
            position: relative;
            text-decoration: none;
            font-family: SourceSansPro-Semibold;
            padding: 5px 20px 5px 5px;
        }
    }
}
.home-base {
    margin-bottom: 60px;
}
/* sidebar */

.broken-image {
    width: 320px;
    height: 160px;
    background-image: url('../images/static/broken-clock.png');
}

.velocity-icon {
    width: 150px;
    height: 150px;
    background-image: url('../images/static/v-icon.png');
}

.error-page {
    padding-top: 30vh;
}

.custom-circle {
    width: 56px;
    height: 54px;
    padding: 14px;
    font-size: 20px;
    color: #21a179;
    border-radius: 50%;
    text-align: center;
    background: white;
    display: inline-block;
    vertical-align: middle;
    border: 2px solid #21a179;
    font: 18px "josefin sans", arial;
}

.quick-view-btn-container {
    display: none;
    position: relative;

    span {
        left: 32%;
        top: -26px;
        z-index: 1000;
        font-size: 16px;
        color: #FFFFFF;
        position: absolute;
    }

    button {
        left: 30%;
        top: -36px;
        border: none;
        color: white;
        font-size: 16px;
        padding: 5px 10px 7px 24px;
        position: absolute;
        background-color: #0D2438;
    }
}








body::after {
    /* dark overlay layer - visible when we fire .cd-quick-view */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(71, 55, 78, 0.8);
    opacity: 0;
    transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-quick-view {
    top: 50px;
    left: 22%;
    width: 734px;
    z-index: 11;
    padding: 40px;
    display: block;
    position: fixed;
    max-width: 900px;
    max-height: 1000px;
    background-color: #fff;
    // transition: box-shadow .3s;
    // -moz-transition: box-shadow .3s;
    // -webkit-transition: box-shadow .3s;
    box-shadow: 0 0 30px rgba(0,0,0,.2);

    transform: translateZ(0);
    backface-visibility: hidden;
    will-change: left, top, width;
    -webkit-backface-visibility: hidden;

    .cd-slider li.selected img {
        width: 317px;
        height: 397px;
        display: inline-block !important;
    }

    .cd-slider img {
        display: none;
    }

    .close-btn {
        top: -25px;
        right: -15px;
        position: absolute;
    }

    .action-buttons {
        padding-top: 20px;

        > span {
            font-size: 24px;
            margin-left: 24px;
        }
    }
}

.container {
    max-width: 1440px !important;
}

