.velocity-small-screen {
    display: none;
}

@media only screen and (max-width: 1100px) {
    .footer {
        .footer-content {
            .newsletter-subscription {
                .newsletter-wrapper {
                    .social-icons {
                        width: 100%;
                        padding: 5px 0;
                        text-align: center !important;
                    }

                    .subscribe-newsletter {
                        width: 100%;
                        padding: 10px 0;
                        text-align: center;
                    }
                }
            }

            .footer-statics {
                > div:not(:last-child) {
                    margin-bottom: 30px;
                }
            }
        }
    }
}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 768px) {
    // body {
    //     display: none;
    // }
}

@media only screen and (max-width: 576px) {
    // body {
    //     display: block;
    // }

    .velocity-divide-page {
        position: static;

        .left {
            position: static;
        }

        .right {
            padding-left: 0;
        }
    }

    .general-container {
        .vc-header {
            > div {
                display: none;
            }

            > div.velocity-small-screen {
                display: block;

                img {
                    width: 100%;
                    height: 100%;
                    max-height: 50px;
                }
            }

            .right-vc-header {
                height: 50px;
                display: table;

                * {
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }

    }

    #top {
        display: none;

        + header {
            display: none;
        }

        // + .categories-sidebar-container {
        //     display: none;
        // }
    }
}