.vc-small-screen {
    display: none !important;
}

@media only screen and (max-width: 1100px) {
    .footer {
        .footer-content {
            .newsletter-subscription {
                .newsletter-wrapper {
                    .social-icons {
                        width: 100%;
                        padding: 5px 0;
                        text-align: center !important;
                    }

                    .subscribe-newsletter {
                        width: 100%;
                        padding: 10px 0;
                        text-align: center;
                    }
                }
            }

            .footer-statics {
                > div:not(:last-child) {
                    margin-bottom: 30px;
                }
            }
        }
    }
}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 768px) {
    .modal-container {
        left: 10%;
        max-width: 80%;
        margin-left: 0px;
    }

    .footer .footer-list-container {
        padding-left: 0px !important;
    }
    .footer .currency {
        display: block !important;
    }
}

@media only screen and (max-width: 992px) {
    $header-height: 50px;

    .vc-small-screen {
        display: block !important;
    }

    .main-content-wrapper {
        position: relative;

        .vc-header {
            top: 0;
            margin: 0;
            padding: 0;
            z-index: 100;
            position: sticky;
            background-color: $white-color;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

            > div {
                display: none;
            }

            > div.vc-small-screen {
                display: block;

                img {
                    width: 100%;
                    height: 100%;
                    max-height: $header-height;
                }

                .hamburger-wrapper {
                    display: inline-block;
                    height: $header-height;

                    .hamburger {
                        top: 12px;
                        font-size: 24px;
                        position: relative;
                    }
                }

                .right-vc-header {
                    text-align: right;
                    height: $header-height;

                    > a {
                        width: 24px;
                        margin-top: 13px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }

    #top {
        display: none;
    }

    .product-card-new {
        .cart-wish-wrap {
            .wishlist-icon {
                text-align: left;
            }
        }
    }

    .advertisement-four-container {
        .offers-ct-panel {
            padding: 8px 0;

            a:first-child {
                padding-bottom: 10px !important;
            }
        }
    }

    .advertisement-three-container {
        .top-container,
        .bottom-container {
            img {
                padding: 0px;
                height: unset;
            }
        }

        .second-panel {
            padding-top: 10px;
        }
    }

    .advertisement-two-container {
        a:nth-of-type(2) {
            padding: 15px 0 0 0;
        }
    }

    .category-with-custom-options {
        display: none;

        &.vc-small-screen {
            display: block;

            .smart-category-container {
                .col-12 {
                    padding: 0;
                }
            }

            .smart-category-container:not(:first-child) {
                padding-top: 20px;
            }
        }
    }

    .footer {
        .footer-content {
            .newsletter-subscription {
                padding: 10px 20px;

                .newsletter-wrapper {
                    input.subscribe-field {
                        width: 200px;
                    }

                    .subscribe-newsletter {
                        text-align: left;

                        .subscriber-form-div {
                            text-align: center;
                        }
                    }
                }
            }

            .footer-statics {
                padding: 30px 50px;
            }
        }
    }

    .popular-categories-container {
        .popular-category-wrapper {
            padding: 0px;

            .card {
                .category-image {
                    height: 100%;
                }
            }
        }
    }

    .main-content-wrapper {
        margin-bottom: 25px;
    }

    .slides-container {
        .VueCarousel {
            .VueCarousel-pagination {
                button {
                    width: 5px !important;
                    height: 5px !important;
                }

                .VueCarousel-dot {
                    padding: 2px !important;
                }
            }
        }
    }

    .account-content {
        .sidebar {
            display: none;
        }

        .account-layout {
            &.right {
                padding-left: 20px !important;
            }
        }
    }

    .mini-cart-container {
        display: none;
    }

    .vc-small-screen {
        .searchbar {
            padding-left: 100px !important;
        }
    }

    .carousel-products {
        &.vc-full-screen {
            display: none;
        }

        &.vc-small-screen {
            display: block !important;
        }
    }

    .reviews-container {
        .review-wrapper,
        .review-wrapper:nth-of-type(1),
        .review-wrapper:nth-last-of-type(1),
        .review-wrapper:nth-last-of-type(2) {
            padding: 0px;
        }

        .review-wrapper:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    .product-policy-wrapper {
        padding: 0px !important;
    }

    .product-policy-wrapper:not(:last-child) {
        margin-bottom: 10px;
    }

    .main-product-image {
        display: none;
    }

    .product-detail {
        #product-form {
            .form-container {
                .left {
                    top: 0px;
                    padding: 0px;
                    position: relative;
                    margin-bottom: 20px;
                }

                .right {
                    padding: 0px;
                }
            }
        }

        .customer-rating {
            > .row {
                > div {
                    margin-bottom: 30px;
                }
            }
        }
    }

    .review-page-container {
        > div:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    .nav-container {
        top: 0px;
        left: 0px;
        z-index: 10;
        height: 100vh;
        position: fixed;
        font-size: 16px;
        overflow-y: scroll;
        box-shadow: 0 2px 8px 0;
        width: 300px !important;
        background-color: $white-color;

        .wrapper {
            .category-title {
                width: 100%;
                display: table;
                padding-left: 10px;
                display: none;
                margin : 13px 0px 13px 0px;

                > i {
                    font-size: 26px;
                    display: table-cell;
                    vertical-align: middle;
                }

                span {
                    font-size: 20px;
                    display: table-cell;
                    vertical-align: top;

                    i {
                        float: left !important;
                        margin: 2px 2px 0px 0px !important;
                    }
                }
            }

            .greeting {
                width: 100%;
                display: table;

                > i {
                    font-size: 26px;
                    display: table-cell;
                    vertical-align: middle;
                }

                span {
                    font-size: 20px;
                    display: table-cell;
                    vertical-align: top;
                }
            }

            ul {
                color: black;
                border-top: 1px solid $border-common;

                li {
                    font-size: 16px;
                    padding: 10px 0px 10px 20px;

                    &:hover {
                        background-color: $border-light;
                    }

                    .category-logo {
                        width: 18px;
                        height: 18px;
                        margin-right: 5px;
                        display: inline-block;
                    }

                    .rango-arrow-right {
                        float: right;
                        padding-right: 15px;
                    }
                }
            }
        }

        .drawer-section {
            padding: 15px;
        }
    }
}