@media only screen and (max-width: 1100px) {
    .footer {
        .footer-content {
            .newsletter-subscription {
                .newsletter-wrapper {
                    .social-icons {
                        width: 100%;
                        padding: 5px 0;
                    }

                    .subscribe-newsletter {
                        width: 100%;
                        padding: 10px 0;
                        text-align: center;
                    }
                }
            }

            .footer-statics {
                > div:not(:last-child) {
                    margin-bottom: 30px;
                }
            }
        }
    }
}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 768px) {
    // body {
    //     display: none;
    // }
}

@media only screen and (max-width: 576px) {
    // body {
    //     display: block;
    // }
}