.product-view {
    padding: 20px;

    .left {
        .main-product-image {
            @extend .mb10;
            @extend .no-padding;

            width: 465px;
            height: 450px;
        }

        .product-more-images {
            img {
                height: 109px;

                &.active {
                    border: 1px solid $theme-color;
                }
            }
        }

        .move-btn {
            z-index: 10;
            width: 25px;
            height: 109px;
            cursor: pointer;
            font-size: 22px;
            font-weight: 700;
            padding-left: 7px;
            line-height: 10rem;
            position: absolute;
            background: #D6D6D6;
            color: rgba(0,0,0,0.53);

            &.left {
                left: -20px;
            }

            &.right {
                right: 0px;
            }
        }
    }

    .right {
        @extend .fs16;

        > div:not(:first-child) {
            @extend .ml0;
        }

        > div {
            @extend .mb20;

            border-bottom: 1px solid $border-common;
        }

        .category-breadcrumb {
            margin-left: 0;
            padding: 0 15px;
        }

        .reviews {
            > div {
                display: inline-block;
            }
        }

        .info {
            @extend .mb15;

            > * {
                margin-bottom: 10px;
            }

            h2 {
                @extend .fw7;
                @extend .fs24;
            }

            .price {
                @extend .fw6;
                @extend .fs30;
            }

            .availability {
                button {
                    border: none;
                    color: white;
                    font-weight: 600;
                    padding: 2px 11px;
                    background: #4D7EA8;
                }
            }
        }

        .options {
            > * {
                @extend .mb20;
            }

            label {
                @extend .display-block;
            }

            .quantity > label {
                @extend .mr15;
                @extend .display-inbl;
            }

            .box {
                width: 32px;
                height: 32px;
                display: inline-block;
                background-color: $border-common;
            }

            .buttons {
                *:not(:last-child) {
                    @extend .mr15;
                }
            }
        }

        h3 {
            @extend .fw6;
            @extend .fs18;
            @extend .no-padding;
        }

        h4 {
            @extend .fw6;
        }

        .row {
            &.reviews {
                .reviews-text {
                    line-height: 3rem;
                }
            }
        }

        .customer-reviews {
            .row {
                @extend .mb30;
            }
        }
    }
}

.product-detail {
    padding-top: 20px;

    .magnifier {
        > img {
            height: 450px;
        }
    }

    img {
        width: 100%;
        height: 100%;
    }

    .right {
        @extend .fs16;

        > div {
            @extend .mb20;

            border-bottom: 1px solid $border-common;
        }

        > div:not(:first-child) {
            @extend .ml0;
        }

        .category-breadcrumb {
            margin-left: 0;
            padding: 0 15px;
        }

        .reviews {
            > div {
                display: inline-block;
            }
        }

        .info {
            @extend .mb15;
            margin-left: 0px;

            > h2, div {
                padding-left: 0px;
            }

            > * {
                margin-bottom: 10px;
            }

            h2 {
                @extend .fw7;
                @extend .fs24;
            }

            .price {
                @extend .fw6;
                @extend .fs20;

                .card-current-price {
                    @extend .fs30;
                }
            }

            .availability {
                button {
                    border: none;
                    color: white;
                    font-weight: 600;
                    padding: 2px 11px;
                    background: $button-danger;

                    &.active {
                        background: $link-color;
                    }
                }
            }
        }

        .options {
            > * {
                @extend .mb20;
            }

            label {
                @extend .display-block;
            }

            .quantity > label {
                @extend .mr15;
                @extend .display-inbl;
            }

            .box {
                width: 32px;
                height: 32px;
                display: inline-block;
                background-color: $border-common;
            }

            .buttons {
                *:not(:last-child) {
                    @extend .mr15;
                }
            }
        }

        h3 {
            @extend .fw6;
            @extend .fs18;
            @extend .no-padding;

            margin-bottom: 0px;
        }

        h4 {
            @extend .fw6;
        }

        .row {
            &.reviews {
                .reviews-text {
                    line-height: 3rem;
                }
            }
        }

        .customer-reviews {
            .row {
                @extend .mb30;
            }
        }

        .add-to-cart-btn {
            padding: 0px;

            button {
                padding: 10px 15px;
                text-transform: uppercase;

                span {
                    font-size: 16px;
                }
            }
        }

        .product-price {
            .sticker {
                display: none;
            }
        }
    }

    .thumb-list {
        left: 15px;
        z-index: 1000;
        padding: 0px;
        margin-top: 10px;
        position: relative;

        .arrow {
            height: 100%;
            z-index: 1001;
            opacity: 0.50;
            cursor: pointer;
            position: absolute;
            background: $border-dark;

            &.left {
                left: 0px;
                line-height: 10em;
            }

            &.right {
                right: 0px;
                line-height: 13rem;
            }
        }

        .thumb-frame {
            padding: 1px;

            &.active {
                border: 1px solid $theme-color;
            }

            > .bg-image {
                width: 100%;
                height: 110px;
                background-size: 100% 100%;
                background-position-y: center;
            }
        }
    }

    .wishlist-icon {
        height: 46px;
        display: table;

        i {
            display: table-cell;
            vertical-align: middle;
        }
    }
}