body {
    &.rtl {
        text-align: right;

        .velocity-divide-page {
            .right {
                padding-left: 0 !important;
                padding-right: 230px !important;
            }
        }

        header {
            #search-form {
                .btn-group {
                    select {
                        border-left: 0;
                        border-right: 1px solid $theme-color;
                    }

                    .selectdiv {
                        .select-icon {
                            left: 8px;
                        }
                    }
                }
            }

            &.sticky-header {
                img {
                    float: right;
                }
            }
        }

        .main-content-wrapper {
            .main-category {
                text-align: right;

                i {
                    float: right;
                    margin-left: 10px;
                }
            }
        }

        .mini-cart-container {
            #mini-cart {
                .badge {
                    top: -14px;
                    right: -38px;
                }

                .cart-text {
                    left: 24px;
                    vertical-align: top;
                }
            }
        }

        .form-container {
            .container {
                .heading {
                    h2 {
                        float: right;
                    }

                    a {
                        float: left;
                    }
                }
            }
        }

        .subscriber-form-div {
            text-align: left;
        }

        .footer {
            .footer-content {
                .newsletter-subscription {
                    .newsletter-wrapper {
                        input {
                            &.subscribe-field {
                                left: -4px;
                                position: relative;
                            }
                        }
                    }
                }
            }
        }

        #top {
            #account {
                .welcome-content {
                    i {
                        text-align: left;
                    }
                }

                + .account-modal {
                    left: 0;
                    right: 0;
                    margin-left: 0;
                }
            }

            .locale-icon {
                ~ .select-icon-container {
                    right: 20px;
                }
            }
        }

        #cart-modal-content {
            left: 0;
        }

        .category-list-container{
            .sub-categories {
                left: -100%;
            }

            li {
                a {
                    padding: 7px 15px 5px 15px;
                }
            }
        }

        .filters-container {
            .view-mode {
                > div {
                    padding-right: 6px;
                }
            }
        }

        .filters-container {
            .toolbar-wrapper {
                > div {
                    label {
                        margin-right: 0px;
                        margin-left: 10px;
                    }
                }
            }
        }

        .filter-attributes-content {
            margin-left: 7px;
            margin-right: 0px;
        }
        .filter-attributes-item {
            input[type=checkbox] {
                + span {
                    margin-right: 10px;
                }
            }

            .filter-input {
                margin-right: 0;
            }
        }

        .product-card-new {
            .card-body {
                .cart-wish-wrap {
                    margin-right: 0 !important;

                    .add-to-cart-btn {
                        padding-left: 35px !important;
                    }
                }

                .wishlist-icon {
                    left: 0;
                    right: unset;
                }

                .product-name {
                    width: unset;
                }
            }
        }

        .account-content {
            .account-layout {
                &.right {
                    width: calc(100% - 20px);
                    padding-right: 250px !important;
                }

                .account-table-content {
                    .address-holder {
                        > div {
                            padding-right: 0px;
                            padding-left: 15px;
                        }
                    }
                }
            }

            .sidebar {
                .customer-sidebar {
                    border-left: 1px solid $border-general;

                    .navigation {
                        li i.icon {
                            padding-right: 0;
                            padding-left: 5px;
                        }
                    }
                }
            }
        }

        // product page
        .product-detail {
            .right {
                .info {
                    margin-right: 0px;

                    > h2, div {
                        padding-right: 0px;
                    }
                }
            }

            .thumb-list {
                left: 0;
                margin-right: 0;
            }

            .wishlist-icon {
                padding-right: 10px;
            }
        }

        // Shared
        .text-right {
            text-align: left !important;
        }
        .text-left {
            text-align: right !important;
        }
        .pl0 {
            padding-right: 0px !important;
        }
        .pl10 {
            padding-right: 10px !important;
        }
        .rango-arrow-right::before {
            content: "\E907";
        }
        .styled-select {
            + .select-icon-container {
                .select-icon {
                    left: 6px;
                    right: unset;
                }
            }
        }
        .ml15 {
            margin-right: 15px !important;
        }
    }
}