.padding-15 {
    padding: 15px;
}

.padding-10 {
    padding: 15px;
}

.fw5 {
    font-weight: 500;
}
.fw6 {
    font-weight: 600;
}
.fw7 {
    font-weight: 700;
}

.fs13 {
    font-size: 13px !important;
}
.fs14 {
    font-size: 14px;
}
.fs15 {
    font-size: 15px;
}
.fs16 {
    font-size: 16px;
}
.fs16i {
    font-size: 16px !important;
}
.fs17 {
    font-size: 17px;
}
.fs18 {
    font-size: 18px;
}
.fs19 {
    font-size: 19px;
}
.fs20 {
    font-size: 20px;
}
.fs24 {
    font-size: 24px;
}
.fs30 {
    font-size: 30px;
}
.fs40 {
    font-size: 40px;
}

.pt0 {
    padding-top: 0px !important;
}
.pt10 {
    padding-top: 10px !important;
}
.pt15 {
    padding-top: 15px !important;
}
.pt20 {
    padding-top: 20px !important;
}
.pt42 {
    padding-top: 42px !important;
}
.pl0 {
    padding-left: 0px !important;
}
.pl15 {
    padding-left: 15px !important;
}
.pl10 {
    padding-left: 10px !important;
}
.pl20 {
    padding-left: 20px !important;
}
.pl30 {
    padding-left: 30px !important;
}
.pl40 {
    padding-left: 40px !important;
}
.pr0 {
    padding-right: 0px !important;
}
.pr15 {
    padding-right: 15px !important;
}
.pr40 {
    padding-right: 40px !important;
}
.pb0 {
    padding-bottom: 0px !important;
}
.pb10 {
    padding-bottom: 10px !important;
}
.pb15 {
    padding-bottom: 15px !important;
}
.pb30 {
    padding-bottom: 30px !important;
}
.mt5 {
    margin-top: 5px !important;
}
.mt10 {
    margin-top: 10px;
}
.mt15 {
    margin-top: 15px;
}
.mr5 {
    margin-right: 5px;
}
.mr7 {
    margin-right: 7px;
}
.mr10 {
    margin-right: 10px;
}
.mr15 {
    margin-right: 15px;
}
.mr20 {
    margin-right: 20px;
}
.mb10 {
    margin-bottom: 10px !important;
}
.mb15 {
    margin-bottom: 15px;
}
.mb20 {
    margin-bottom: 20px;
}
.mb25 {
    margin-bottom: 25px;
}
.mb30 {
    margin-bottom: 30px;
}
.ml0 {
    margin-left: 0px !important;
}
.ml5 {
    margin-left: 5px;
}
.ml0 {
    margin-left: 0px;
}
.ml10 {
    margin-left: 10px !important;
}
.ml15 {
    margin-left: 15px !important;
}
.body-blur {
    filter: blur(4px);
    -webkit-filter: blur(4px);
}

.no-margin {
    margin: 0px !important;
}

.no-padding {
    padding: 0px !important;
}

.flex-wrap {
    flex-wrap: nowrap;
}

.cursor-pointer {
    cursor: pointer;
}

.grey {
    color: rgb(158, 158, 158);
}
.clr-light {
    color: rgba(0,0,0,0.53);
}
.clr-dark {
    color: rgba(255,255,255,0.52);
}

.display-inbl {
    display: inline-block !important;
}
.display-block {
    display: block !important;
}

.align-vertical-top {
    vertical-align: top;
}
.align-vertical-middle {
    vertical-align: middle;
}

.full-width {
    width: 100%;
    display: block;
}

.full-image {
    width: 100%;
    height: 100%;
}

.full-back-size {
    background-size: 100% 100% !important;
}

.max-width-100 {
    max-width: 100% !important;
}

.no-border {
    border: none !important;
}

.back-pos-rt {
    background-position: right;
}

.theme-btn {
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    vertical-align: top;
    color: $light-color !important;
    background-color: $theme-color !important;

    &.light {
        color: $theme-color !important;
        background-color: $light-color !important;
        box-shadow: 0 1px 0 0 #CFCFCF;
        border: 1px solid rgba(0,0,0,0.12);
    }
}
.norm-btn {
    border: 1px solid $border-common;
    font-size: 14px;
    padding: 9px 20px;
    border-radius: 2px;
    vertical-align: top;
    color: $dark-color !important;
    background-color: $light-color !important;
}

.sale-btn {
    z-index: 10;
    border: none;
    color: white;
    font-size: 14px;
    padding: 3px 10px;
    position: absolute;
    border-radius: 12px;
    background-color: $theme-color;
}

.bg-image {
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;

}

.material-icons {
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

.unselectable {
    * {
        -webkit-user-select: none; /* Chrome/Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+ */

        /* Rules below not implemented in browsers yet */
        -o-user-select: none;
        user-select: none;
    }
}

.card-arrow-container {
    .card-arrow {
        z-index: 10;
        width: 20px;
        height: 20px;
        display: block;
        position: absolute;
        background-color: #2B2B2B;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -webkit-box-shadow: 0 0 0 1px rgba(39, 44, 48, 0.05), 0 2px 7px 1px rgba(39, 44, 48, 0.16);
        box-shadow: 0 0 0 1px rgba(39, 44, 48, 0.05), 0 2px 7px 1px rgba(39, 44, 48, 0.16);
    }

    .card-arrow-tp {
        left: 50%;
        top: -10px;
    }

    .card-arrow-rt {
        top: 50%;
        right: -10px;
    }

    .card-arrow-bt {
        left: 50%;
        top: calc(100% - 10px);
    }

    .card-arrow-lt {
        top: 50%;
        left: -7px;
    }
}

.lg-card-container {
    cursor: pointer;

    a {
        color: $font-color;
        text-decoration: none;
    }

    #quick-view-btn-container {
        :hover {
            color: white !important;
        }
    }

    .background-image-group {
        background-size: contain !important;
    }

    &.grid-card,
    &.list-card {
        .card-current-price {
            font-size: 18px;
        }

        .product-rating {
            .stars {
                display: inline-block;
            }

            span {
                vertical-align: middle;
            }
        }

        .product-information {
            > div:not(:last-child) {
                margin-bottom: 5px;
            }
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    &.list-card {
        margin-left: 0px;

        .background-image-group {
            height: 100%;
        }

        .product-image {
            float: left;
            width: 30%;
            height: 270px;
            max-width: 150px;
            max-height: 150px;
            background: #f2f2f2;
        }

        .product-information {
            width: 70%;
            float: right;
            padding-left: 20px;
        }

        .product-rating {
            .stars {
                display: inline-block;
            }

            span {
                vertical-align: middle;
            }
        }

        .product-information {
            height: 150px;
            display: table;

            > div {
                display: table-cell;
                vertical-align: middle;
            }
        }

        .product-price {
            .sticker {
                display: block;
            }
        }
    }

    &.grid-card {
        padding: 15px;

        .product-image {
            max-height: 350px;
            max-width: 280px;
            margin-bottom: 10px;
            background: #f2f2f2;

            img {
                display: block;
                height: 100%;
            }
        }
    }

    &.list-card:not(:first-child) {
        margin-top: 20px;
    }
}

.general-container {
    cursor: pointer;
}

.lg-card-container {
    > .product-card {
        border: none;
    }
}
#product-card-new:hover,
.lg-card-container:hover,
.general-container:hover {
    box-shadow: 0 6px 14px 0 rgba(0,0,0,0.14);
}

.lg-card-container:hover {
    .quick-view-btn-container {
        display: block;
    }
}

.text-nowrap {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.small-card-container {
    cursor: pointer;
    margin-bottom: 10px;

    .product-image-container {
        padding: 0;
        display: inline-block;
    }

    .product-image {
        @extend .bg-image;

        height: 100%;
    }

    .card-body {
        width: 50%;
        display: inline-block;
        padding: 10px 0 !important;
    }
}

.small-card-container:hover {
    box-shadow: 0 6px 14px 0 rgba(0,0,0,0.14);
}

.text-up {
    top: -6px;
    position: relative;
}
.text-down-3 {
    top: 3px;
    position: relative;
}
.text-down-4 {
    top: 4px;
    position: relative;
}
.text-up-4 {
    top: -4px;
    position: relative;
}
.text-up-14 {
    top: -14px;
    position: relative;
}

ul.circle-list {
    padding-top: 10px;
    text-align: center;

    li.circle {
        width: 10px;
        height: 10px;
        cursor: pointer;
        border-radius: 50%;
        display: inline-block;
        border: 1px solid #D8D8D8;

        &.fill {
            background: #D8D8D8;
        }
    }

    li.circle:not(:last-child) {
        margin-right: 6px;
    }
}

.hide {
    display: none;
}

.category-breadcrumb {
    font-size: 16px;
}

.link-color {
    color: $link-color;
}

a {
    &.unset {
        color: unset !important;
        text-decoration: none !important;
    }

    &.remove-decoration {
        text-decoration: none;
    }

    &.remove-decoration:hover {
        text-decoration: none;
    }
}

.dropdown-icon::after {
    display: inline-block;
    margin-left: 1rem;
    vertical-align: middle;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

input:focus,
select:focus,
.disable-box-shadow,
.disable-box-shadow:focus,
.disable-box-shadow:active {
    outline: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -moz-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -o-box-shadow: 0 5px 15px rgba(0,0,0,0);
    box-shadow: 0 5px 15px rgba(0,0,0,0);
}

.control-error {
    color: $color-danger;
}

a {
    &.default {
        color: $font-color !important;
        text-decoration: none !important;
    }
}

.VueCarousel {
    width: 100%;
    cursor: pointer;
}

.navigation-hide {
    .VueCarousel-navigation {
        display: none;
    }
}

.pagination-hide {
    .VueCarousel-pagination {
        display: none;
    }
}

.scrollable {
    max-height: 100vh;
    overflow-y: scroll;
}

.scrollable::-webkit-scrollbar {
    width: 0 !important
}

button[disabled] {
    opacity: 0.50;
    cursor: not-allowed;
}

.max-sm-img-dimention {
    max-width: 110px;
    max-height: 110px;

    img {
        width: 100%;
        height: 100%;
    }
}

.max-width {
    width: 1440px !important;
    margin: 0 auto !important;
}

.styled-select {
    appearance:none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
}

.select-icon {
    top: 1px;
    left: -7px;
    font-size: 16px;
    position: relative;
}