.qty-btn {
    height: 36px;
    display: inline-block;

    > * {
        height: 36px;
        padding: 0px 10px;
        border: 1px solid $border-common;
        vertical-align: top;
        line-height: 3.5rem;
        display: inline-block;
    }

    > *:not(:first-child) {
        border-left: none;
        position: relative;
    }

    > *:not(:nth-child(2)) {
        @extend .cursor-pointer;
    }

    > *:nth-child(2) {
        left: -4px;
    }

    > *:nth-child(3) {
        left: -7px;
    }
}

.btn-add-to-cart {
    padding: 3px 14px !important;
    border-radius: 0px !important;
    color: $white-color !important;
    border-color: $theme-color !important;
    background-color: $theme-color !important;

    &.large {
        padding: 12px 18px;
    }

    .rango-cart-1 {
        padding-right: 5px;
    }
}

.accordian {
    .accordian-header {
        i.rango-arrow {
            float: right;
            font-size: 24px;
        }

        i.rango-arrow::before {
            content: "\E908";
        }
    }

    &.active {
        .accordian-header {
            i.rango-arrow::before {
                content: "\E906";
            }
        }
    }
}

.accordian {
    .accordian-header {
        width: 100%;
        font-size: 18px;
        cursor: pointer;
        color: #3a3a3a;
        margin-top: -1px;
        padding-bottom: 20px;
        display: inline-block;
    }

    .accordian-content {
        width: 100%;
        display: none;
        padding-bottom: 10px;
    }

    &.active {
        .accordian-header {
            padding-bottom: 10px;
        }

        .accordian-content {
            display: inline-block;
        }
    }
}

.grid-container {
    display: block;
    width: 100%;
}

.filter-row-one {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .dropdown-filters {
        position: absolute;
        right: 25px;
    }

    .per-page {
        right: 250px;

        .per-page-label {
            position: absolute;
            right: 120px;
            width: 100%;
            top: 8px;
        }
    }
}

.nav-container {
    position: absolute;
    height: 100vh;
    background-color: white;
    display: inline-block;
    border: 1px solid red;
    margin-left: -16px;
    z-index: 2;

    .wrapper {
        width: 250px !important;
        margin-left: 13px;
        .greeting {

        }

        .offers {
            color: rgba(0,0,0,0.83);
            line-height: 20px;
            font-weight: 530;
            border-top: 1px solid rgba(0,0,0,0.24);
            li {
                font-size: 16px;
                margin :13px 13px 0px 13px;
            }
        }

        .layered-category{
            border-top: 1px solid rgba(0,0,0,0.24);
            li {
                font-size: 14px;
                margin :13px 13px 0px 13px;
            }
        }
    }
}