.qty-btn {
    height: 36px;
    display: inline-block;

    > * {
        height: 36px;
        padding: 0px 10px;
        border: 1px solid $border-common;
        vertical-align: top;
        line-height: 3.5rem;
        display: inline-block;
    }

    > *:not(:first-child) {
        border-left: none;
        position: relative;
    }

    > *:not(:nth-child(2)) {
        @extend .cursor-pointer;
    }

    > *:nth-child(2) {
        left: -4px;
    }

    > *:nth-child(3) {
        left: -7px;
    }
}

.btn-add-to-cart {
    padding: 3px 14px !important;
    border-radius: 0px !important;
    color: $white-color !important;
    border-color: $theme-color !important;
    background-color: $theme-color !important;

    &.large {
        padding: 12px 18px;
    }

    .rango-cart-1 {
        padding-right: 5px;
    }
}

.accordian {
    .accordian-header {
        i.rango-arrow {
            float: right;
            font-size: 24px;
        }

        i.rango-arrow::before {
            content: "\E908";
        }
    }

    &.active {
        .accordian-header {
            i.rango-arrow::before {
                content: "\E906";
            }
        }
    }
}

.accordian {
    .accordian-header {
        width: 100%;
        font-size: 18px;
        cursor: pointer;
        color: #3a3a3a;
        margin-top: -1px;
        padding-bottom: 20px;
        display: inline-block;
    }

    .accordian-content {
        width: 100%;
        display: none;
        padding-bottom: 10px;
    }

    &.active {
        .accordian-header {
            padding-bottom: 10px;
        }

        .accordian-content {
            display: inline-block;
        }
    }
}

.grid-container {
    display: block;
    width: 100%;
}

.filter-row-one {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .dropdown-filters {
        position: absolute;
        right: 25px;
    }

    .per-page {
        right: 250px;

        .per-page-label {
            position: absolute;
            right: 120px;
            width: 100%;
            top: 8px;
        }
    }
}

.nav-container {
    position: fixed;
    width: 300px !important;
    height: 100vh;
    background-color: white;
    margin-left: -16px;
    z-index: 2;

    .wrapper {
        margin-top : 15px;

        .category-title {
            display: table;
            width: 100%;
            padding-left: 10px;
            margin : 13px 0px 13px 0px;
            display: none;
            > i {
                display: table-cell;
                vertical-align: middle;
                font-size: 26px;
            }

            span {
                display: table-cell;
                vertical-align: top;
                font-size: 20px;
                i {
                    float: left !important;
                    margin: 2px 2px 0px 0px !important;
                }
            }
        }

    //    can work with layered navigation class
        // .sub-category {
        //     border: 1px solid blue;
        //     border-top: 1px solid rgba(0,0,0,0.24);
        //     border-bottom: 1px solid rgba(0,0,0,0.24);
        //     font-weight: 520;
        //     display: none;
        //     letter-spacing: 0.2px;

        //     .category-icon {
        //         width: 25px;
        //         height: 20px;
        //         padding-right: 5px;
        //         display: inline-block;

        //         img {
        //             width: 100%;
        //             height: 100%;
        //             vertical-align: text-top;
        //         }
        //     }

        //     li {
        //         font-size: 14px;
        //         margin : 16px 0px 16px 15px;
        //         font-weight: 400px;
        //         i {
        //             float: right;
        //             font-size: 16px;
        //             margin: 3px 20px 0px 0px;


        //         }
        //     }
        // }

        .greeting {
            display: table;
            width: 100%;
            padding-left: 10px;
            margin : 13px 0px 13px 0px;
            > i {
                display: table-cell;
                vertical-align: middle;
                font-size: 26px;
            }

            span {
                display: table-cell;
                vertical-align: top;
                font-size: 20px;
                i {
                    float: right !important;
                    margin: 2px 20px 0px 0px !important;
                }


            }
        }

        .offers {
            color: rgba(0,0,0,0.83);
            line-height: 20px;
            font-weight: 530;
            border-top: 1px solid rgba(0,0,0,0.24);
            border-bottom: 1px solid rgba(0,0,0,0.24);

            li {
                font-size: 16px;
                margin : 16px 0px 16px 15px;
            }
        }

        .layered-category{
            font-weight: 501;
            letter-spacing: 0.2px;
            margin: 16px 0px 0px 0px;

            .category-icon {
                width: 36px;
                height: 20px;
                padding-left: 12px;
                display: inline-block;

                img {
                    width: 100%;
                    height: 100%;
                    vertical-align: text-top;
                }
            }

            li {
                margin: 18px 0px 18px 5px;
                font-size: 17px;
                a {
                    span {
                        color: black;
                        font-size: 14px;
                        margin : 16px 0px 16px 15px !important;
                        font-weight: 400px;
                    }
                }


                i {
                    float: right;
                    font-size: 16px;
                    margin: 3px 20px 0px 0px;
                }
            }
        }
    }
}