@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500");

html {
    font-family: "montserrat", sans-serif;
}

::placeholder {
    font-family: "montserrat", sans-serif;
}

.mt-30 {
    margin-top: 30px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-90 {
    margin-top: 90px;
}

.form-container {
    width: 420px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;

    .brand-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .step-one, .step-two, .step-three {
        button {
            width: 150px;
            margin-left: calc(50% - 75px);
        }
    }
}

.registration {
    .control-group .control {
        width: 100%;
    }
}

.step-navigator {
    margin-top: 30px;
    margin-bottom: 15px;
    width: 100%;
}

.step-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .step-item {
        cursor: pointer;
        height: 64px;
        width: 64px;
        border: 1px solid #c7c7c7;
        border-radius: 50%;
        text-align: center;
        padding-top: 24px;
    }

    .step-item.active {
        border: 1px solid blue;
    }
}

.content {
    padding: 25px;
}