// Fonts
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500");

// Variables
@import "variables";
@import "mixins";

body {
    margin: 0;
    color: $font-color;
    font-family: $font-family;
    font-size: $font-size-base;
    font-weight: 500;
    position: static;
    min-height: 100%;
}

.navbar-top {
    height: 60px;
    background: #ffffff;
    font-size: 0;
    @include box-shadow(0 3px 6px 0 rgba(0, 0, 0, 0.05));
    border-bottom: 1px solid $border-color;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 5;

    .navbar-top-left {
        width: 50%;
        height: 60px;
        display: inline-block;
        vertical-align: middle;

        .brand-logo {
            padding: 10px;
        }
    }

    .navbar-top-right {
        width: 50%;
        height: 60px;
        text-align: right;
        display: inline-block;
        vertical-align: middle;

        .profile-info {
            display: inline-block;
            vertical-align: middle;
            text-align: left;
            min-width: 50px;
            position: relative;
            padding: 12px 0px;
            margin: 0px 25px 0px 30px;
            font-size: 15px;
            cursor: pointer;
            position: relative;

            .dropdown-list {
                top: 63px;
            }

            .name {
                color: #000311;
                display: block;
                text-align: left;
            }
            .role {
                font-size: 14px;
                color: #8e8e8e;
                display: block;
                text-align: left;
            }

            i.icon {
                margin-left: 10px;
            }
        }
    }
}

.navbar-left {
    position: absolute;
    top: 60px;
    bottom: 0;
    width: 90px;
    padding-top: 20px;
    height: auto;
    border-right: 1px solid $border-color;
    z-index: 2;

    ul.menubar {
        li.menu-item {
            height: 90px;
            padding: 10px 5px;
            font-size: 11px;
            text-align: center;
            text-transform: uppercase;

            a {
                color: #a2a2a2;
            }

            &.active {
                a {
                    color: #0041ff;
                }
            }
        }
    }
}

.content-container {
    padding-left: 90px;
    position: absolute;
    margin-top: 60px;
    top: 0px;
    right: 0;
    left: 0;
    bottom: 0px;
    overflow-x: hidden;
    overflow-y: auto;

    .aside-nav {
        width: 280px;
        position: fixed;
        top: 60px;
        bottom: 0;
        border-right: 1px solid $border-color;
        background: #f8f9fa;
        padding-top: 10px;
        overflow-y: auto;
        z-index: 4;

        a {
            padding: 15px;
            display: block;
            color: #000311;
        }

        .active {
            a {
                background: #ffffff;
                border-top: 1px solid $border-color;
                border-bottom: 1px solid $border-color;
            }

            i {
                float: right;
            }
        }
    }

    .content-wrapper {
        padding: 25px 25px 25px 305px;
        // overflow-y: auto;
    }

    .content {
        padding: 25px 0;

        &.full-page {
            padding: 25px;
        }

        .page-header {
            display: inline-block;
            margin-bottom: 20px;
            width: 100%;

            .page-title {
                float: left;

                h1 {
                    margin-bottom: 0;
                    vertical-align: middle;
                    display: inline-block;
                }
            }

            .page-action {
                float: right;
            }

            .control-group {
                width: 180px;
                display: inline-block;
                margin-bottom: 0;
                margin-left: 20px;
            }

            .control {
                width: 100%;
                margin: 0;
            }
        }

        .page-content {
            width: 100%;
            display: inline-block;
        }
    }
}

.control-group {
    label {
        width: 70%;

        .locale {
            float: right;
            color: #8E8E8E;
        }
    }
}

//style for dummy datagrid
// .page-content {
//     .table-container {
//         .search-filter-wrapper {
//             display: inline-block;
//             box-sizing: border-box;

//             width: 100%;
//             padding-top: 7px;
//             padding-bottom: 7px;

//             .search-products {
//                 width: 300px;
//                 border: 2px solid $border-color;
//                 border-radius: 3px;
//                 height: 30px;
//                 padding-left: 5px;
//             }

//             .icon-wrapper {
//                 margin: 0px;
//                 display: inline-block;
//                 vertical-align: middle;
//                 border: 1px solid #c7c7c7;
//                 border-radius: 4px;
//                 padding-left: 5px;
//                 padding-right: 5px;

//                 .search-icon {
//                     height: 24px;
//                     width: 24px;
//                 }
//             }
//         }
//     }
// }



// admin dashboard css

.dashboard-content {

    .dashboard-stats {
        display: flex;
       
    }

    .graph-category {
        display: flex;
        margin-top: 25px;
    }

    .sale-stock {
        display: flex;
        margin-top: 25px;
    }

}

// admin dashboard css ends here


// customer oder css for admin start here

.order-place-detail {

    .order-account-information {
        margin-left: 10px;
    }

    .address {
        margin-left: 10px;
    }

    .payment-shipping{
        margin-left: 10px;
    }

    .order-products{
        margin-left: 10px;
    }
}


// customer oder css for admin end here
