// Fonts
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500");

// Variables
@import "variables";
@import "mixins";

body {
    margin: 0;
    color: $font-color;
    font-family: $font-family;
    font-size: $font-size-base;
    font-weight: 500;
    position: static;
    min-height: 100%;
}

.navbar-top {
    height: 60px;
    background: #ffffff;
    font-size: 0;
    @include box-shadow(0 3px 6px 0 rgba(0, 0, 0, 0.05));
    border-bottom: 1px solid $border-color;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 5;

    .navbar-top-left {
        width: 50%;
        height: 60px;
        display: inline-block;
        vertical-align: middle;

        .brand-logo {
            padding: 10px;
        }
    }

    .navbar-top-right {
        width: 50%;
        height: 60px;
        text-align: right;
        display: inline-block;
        vertical-align: middle;

        .profile-info {
            display: inline-block;
            vertical-align: middle;
            text-align: left;
            min-width: 50px;
            position: relative;
            padding: 12px 0px;
            margin: 0px 25px 0px 30px;
            font-size: 15px;
            cursor: pointer;
            position: relative;

            .dropdown-list {
                top: 63px;
            }

            .name {
                color: #000311;
                display: block;
                text-align: left;
            }
            .role {
                font-size: 14px;
                color: #8e8e8e;
                display: block;
                text-align: left;
            }

            i.icon {
                margin-left: 10px;
            }
        }
    }
}

.navbar-left {
    position: absolute;
    top: 60px;
    bottom: 0;
    width: 90px;
    padding-top: 20px;
    height: auto;
    border-right: 1px solid $border-color;
    z-index: 2;

    ul.menubar {
        li.menu-item {
            height: 90px;
            padding: 10px 5px;
            font-size: 11px;
            text-align: center;
            text-transform: uppercase;

            a {
                color: #a2a2a2;
            }

            &.active {
                a {
                    color: #0041ff;
                }
            }
        }
    }
}

.content-container {
    padding-left: 90px;
    position: absolute;
    margin-top: 60px;
    top: 0px;
    right: 0;
    left: 0;
    bottom: 0px;
    overflow-x: hidden;
    overflow-y: auto;

    .aside-nav {
        width: 280px;
        position: fixed;
        top: 60px;
        bottom: 0;
        border-right: 1px solid $border-color;
        background: #f8f9fa;
        padding-top: 10px;
        overflow-y: auto;
        z-index: 4;

        a {
            padding: 15px;
            display: block;
            color: #000311;
        }

        .active {
            a {
                background: #ffffff;
                border-top: 1px solid $border-color;
                border-bottom: 1px solid $border-color;
            }

            i {
                float: right;
            }
        }
    }

    .content-wrapper {
        padding: 25px 25px 25px 305px;
        // overflow-y: auto;
    }

    .content {
        padding: 25px 0;

        &.full-page {
            padding: 25px;
        }

        .page-header {
            display: inline-block;
            margin-bottom: 20px;
            width: 100%;

            .page-title {
                float: left;

                h1 {
                    margin-bottom: 0;
                    vertical-align: middle;
                    display: inline-block;
                }
            }

            .page-action {
                float: right;

                * {
                    display: inline-block;
                }
            }

            .control-group {
                width: 180px;
                display: inline-block;
                margin-bottom: 0;
                margin-left: 20px;
            }

            .control {
                width: 100%;
                margin: 0;
            }
        }

        .page-content {
            width: 100%;
            display: inline-block;
        }
    }
}

.control-group {
    label {
        width: 70%;

        .locale {
            float: right;
            color: #8E8E8E;
        }
    }
}

//style for dummy datagrid
// .page-content {
//     .table-container {
//         .search-filter-wrapper {
//             display: inline-block;
//             box-sizing: border-box;

//             width: 100%;
//             padding-top: 7px;
//             padding-bottom: 7px;

//             .search-products {
//                 width: 300px;
//                 border: 2px solid $border-color;
//                 border-radius: 3px;
//                 height: 30px;
//                 padding-left: 5px;
//             }

//             .icon-wrapper {
//                 margin: 0px;
//                 display: inline-block;
//                 vertical-align: middle;
//                 border: 1px solid #c7c7c7;
//                 border-radius: 4px;
//                 padding-left: 5px;
//                 padding-right: 5px;

//                 .search-icon {
//                     height: 24px;
//                     width: 24px;
//                 }
//             }
//         }
//     }
// }



// admin dashboard css

.dashboard-content {

    .dashboard-stats {
        display: flex;
       
    }

    .graph-category {
        display: flex;
        margin-top: 25px;
    }

    .sale-stock {
        display: flex;
        margin-top: 25px;
    }

}

// admin dashboard css ends here


// admin dashboard component  
.dashboard-card {
    height: 100px;
    width: 22%;
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    box-shadow: 0 5px 10px 2px rgba(0,0,0,0.08);
    border-radius: 5px;

    .visitor-content {
        padding: 15px;

        .title {
        
            span {
                padding-top:10px;
                font-size: 14px;
                color: #A2A2A2;
                letter-spacing: -0.26px;
            }
        }
        
        .data {
            padding-top: 3px;
            
            span {
                font-size: 32px;
                color: #0041FF;
                letter-spacing: -0.6px;

                img {
                    margin-left: 75px;
                    height: 24px;
                    width:24px;
                }
            }

            span.right {
                padding-top: 12px;
                float: right;
                font-size: 14px;
                color: #8E8E8E;
                letter-spacing: -0.7px;
            }
        }
    }
}

.dashboard-card:nth-last-child(1) {
    margin-left: 30px;
} 
    
.dashboard-card:nth-last-child(2) {
    margin-left: 30px;
} 
    
.dashboard-card:nth-last-child(3) {
    margin-left: 30px;
} 
    
    
.dashboard-graph {
    height: 413px;
    width: 70.5%;
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    box-shadow: 0 5px 10px 2px rgba(0,0,0,0.08);
    border-radius: 2px;
}

.sale {
    height: 465px;
    width: 30.1%;
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    box-shadow: 0 5px 10px 2px rgba(0,0,0,0.08);
    border-radius: 2px;

    .top-sale {
        margin-left: 20px;
        margin-top: 27px;
    
        .title {

            span {
                font-size: 14px;
                color: #A2A2A2;
                letter-spacing: -0.26px;
            }
        }

        .sale-info {

            ul {

                li {

                    .pro-attribute{
                        display: flex;
                        margin-top: 10px;

                        .pro-img {
                            height: 60px;
                            width: 60px;
                            border: 1px solid green;
                        }
    
                        .product-description {
                            margin-left: 15px;
                            margin-top: 8px;
                            width: 75%;

                            .product-name {

                                span {
                                    font-size: 14px;
                                    color: #0041FF;
                                    letter-spacing: -0.26px;
                                }

                                .right-side {
                                    float: right;
                                    margin-top: 10px;
                                    height: 20px;
                                    width: 20px;
                                }
                            }

                            .product-info {

                                span {
                                    font-size: 14px;
                                    color: #3A3A3A;
                                    letter-spacing: -0.26px;
                                }
                            }
                        }
                    }

                    .horizontal-rule {
                        border: .5px solid #A2A2A2;
                        opacity: 0.2;
                        margin-top: 10px;
                    }
                }

                li:last-child {
                    .horizontal-rule {
                        display: none;
                    } 
                }
            }
        }
    }
}
    
.sale:nth-last-child(1) {
    margin-left: 31px;
} 

.sale:nth-last-child(2) {
    margin-left: 31px;
} 
// admin dashboard css ends here
    
.performing-category {
    height: 413px;
    width: 22%;
    margin-left: 30px;
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    box-shadow: 0 5px 10px 2px rgba(0,0,0,0.08);
    border-radius: 2px;

    .category {
        margin-left: 20px;
        margin-top: 20px;

        .title {

            span {
                font-size: 14px;
                color: #A2A2A2;
                letter-spacing: -0.26px;
            }
        }

        .category-info {
            margin-top: 30px;
            

            ul {

                li {

                    .category-list {
                        margin-top: 10px;

                        .cat-name {

                            span {
                                font-size: 16px;
                                color: #0041FF;
                                letter-spacing: -0.3px;

                            }

                            .right-side {
                                float: right;
                                margin-right: 12px;
                                margin-top: 10px;
                                height: 20px;
                                width: 20px;
                            }
                        }

                        .product-info {
                            margin-top: 5px;

                            span {
                                font-size: 16px;
                                color: #3A3A3A;
                                letter-spacing: -0.3px;
                            }
                        }

                        .horizon-rule {
                            margin-top: 8px;
                            border: .7px solid #D8D8D8;
                        }
                    }
                }

                li:last-child {
                    
                    .category-list {
                        .horizon-rule {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
    
// customer oder css for admin start here
.sale-container {
    .sale-section {
        font-size: 16px;

        .secton-title {
            font-size: 18px;
            color: #8E8E8E;
            padding: 15px 0;
            border-bottom: 1px solid $border-color;
        }

        .section-content {
            display: block;
            padding: 20px 0;

            .row {
                display: block;
                padding: 7px 0;

                .title {
                    width: 200px;
                    color: $font-color;
                    letter-spacing: -0.26px;
                    display: inline-block;
                }

                .value {
                    color: $font-color;
                    letter-spacing: -0.26px;
                    display: inline-block;
                }
            }
        }
    }

    .table {
        .qty-row {
            display: block;
            margin-bottom: 5px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .sale-summary {
        margin-top: 2%;
        height: 130px;
        float: right;

        tr {

            td {
                padding: 5px 8px;
            }

            &.bold {
                font-weight: 600;
                font-size: 15px;
            }

            &.border {
                td {
                    border-bottom: 1px solid $border-color;
                }
            }
        }
    }
}
// customer oder css for admin end here