//shop variables
$font-name: "Montserrat", sans-serif;
$background-color: #f2f2f2;
$list-heading-color: rgba(165, 165, 165, 1);
$list-color: #242424;
$subscribe-btn-color: black;
$logo-color: #0031f0;
$border-color: #c7c7c7;
$offer-color: #ff6472;
//shop variables ends here

//customer variables
$sign-up-text-color: #5e5e5e;
$login-text: #3a3a3a;
$background-color: #ffffff;
$border-color: #ffe8e8e8;
$forgot-password-color: #0031f0;
$profile-content-color: #5e5e5e;
//customer variables ends here
