//shop variables
$font-color: #242424;
$font-size-base: 16px;
$font-name: "Montserrat", sans-serif;
$background-color: #f2f2f2;
$footer-back: #f2f2f2;
$list-heading-color: rgba(165, 165, 165, 1);
$list-color: #242424;
$subscribe-btn-color: black;
$logo-color: #0031f0;
$border-color: #c7c7c7;
$offer-color: #ff6472;
//shop variables ends here

//customer variables
$sign-up-text-color: #5e5e5e;
$login-text: #3a3a3a;
$background-color: #ffffff;
$color-black : black;
$forgot-password-color: #0031f0;
$profile-content-color: #5e5e5e;
$horizontal-rule-color: #E8E8E8;
//customer variables ends here

//product
$real-price:#A5A5A5;
$product-font-color: #242424;
$product-special-price-color:  #FF6472;
$product-price-color:  #FF6472;
$dark-blue-shade: #0031F0;
$bar-color: #D8D8D8;
$gray-shade: #5E5E5E;