@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500");
//shop variables
$font-color: #242424;
$border-color: #E8E8E8;
$border-color1: #C7C7C7;
$brand-color: #0031F0;
$font-color-light: #A5A5A5;
$link-color: #2650EF;
$background-color: #F2F2F2;
$dark-background: #121212;
$disc-price: #FF6472;
$disc-price-pro: #A5A5A5;
$other-font-color: #5E5E5E;
//shop variables ends here