@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500");

@import "icons";
@import "mixins";
@import "variables";

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.header {
    margin-top: 16px;
    margin-bottom: 21px;

    .header-top {
        margin-bottom: 16px;
        display: flex;
        max-width: 80%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        justify-content: space-between;

        div.left-content {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            ul.logo-container {
                margin-right: 12px;

                li {
                    display: flex;
                }
            }

            ul.search-container {
                li.search-group {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;

                    .search-field {
                        height: 38px;
                        border: 2px solid $border-color;
                        border-radius: 3px;
                        border-right: none;
                        border-top-right-radius: 0px;
                        border-bottom-right-radius: 0px;
                        padding-left: 12px;
                        font-family: "Montserrat", sans-serif;
                        font-size: 14px;
                    }

                    .q-c {
                        box-sizing: border-box;
                        height: 38px;
                        width: 38px;
                        border: 2px solid $border-color;
                        border-top-right-radius: 3px;
                        border-bottom-right-radius: 3px;

                        .search-icon {
                            margin-top: 4px;
                            margin-left: 4px;
                            height: 24px;
                            width: 24px;
                        }
                    }
                }
            }
        }

        div.right-content {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;

            ul.account-dropdown-container {
                float: right;
                border-right: 2px solid $border-color;

                li.account-dropdown {
                    display: flex;
                    flex-direction: row;
                    margin-right: 14px;

                    .account-icon {
                        cursor:  pointer;
                        margin-right: 8px;
                        height: 24px;
                        width: 24px;
                    }
                    .account {
                        cursor:  pointer;
                        padding-top: 3px;
                        padding-right: 5px;
                        margin-left: 8px;
                    }
                    .icon.arrow-down-icon {
                        cursor:  pointer;
                        margin-top: 10px;
                    }
                }
            }

            ul.product-dropdown-container {
                float: right;

                li.product-dropdown {
                    display: flex;
                    flex-direction: row;
                    margin-left: 14px;

                    .cart-icon {
                        margin: 0;
                        height: 24px;
                        width: 24px;
                        margin-right: 8px;
                    }
                    .cart {
                        padding-top: 3px;
                        padding-right: 5px;
                        .cart-count {
                            color: #0031f0;
                            padding-right: 3px;
                        }
                    }
                    .icon.arrow-down-icon {
                        margin-top: 10px;
                    }
                }
            }
        }

        .right-responsive {
            display: none;
            ul.right-wrapper {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;

                li:not(:last-child) {
                    margin-right: 7px;

                    span.icon {
                        margin: 0;
                        height: 24px;
                        width: 24px;
                    }
                }
            }
        }
    }

    .header-bottom {
        height: 48px;
        margin-left: auto;
        margin-right: auto;
        border-top: 1px solid lightgrey;
        border-bottom: 1px solid lightgrey;
        font-size: 16px;
        display: block;

        // .menu-bar {
        //     display: flex;
        //     flex-direction: row;
        //     justify-content: flex-start;
        //     align-items: center;
        //     height: 48px;
        //     width: 80%;
        //     margin-left: auto;
        //     margin-right: auto;

        //     li {
        //         display: flex;
        //         flex-direction: row;
        //         align-items: center;
        //         justify-content: center;
        //         // background-color: blue;
        //         height: 100%;
        //         margin: 2.5%;
        //     }
        //     li:last-child {
        //         margin-left: auto;
        //         color: $offer-color;
        //     }
        // }

        ul.nav {
            display: block;
            font-size:16px;
            height: 48px;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }

        .nav ul {
            margin: 0;
            padding:0;
            border: 1px solid #B1B1B1;
            box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.40);
        }

        .nav a {
            display:block;
            color: #242424;
            text-decoration: none;
            padding: 0.8em 0.3em 0.8em 0.5em;
            text-transform: uppercase;
            letter-spacing: 2px;
            position: relative;
        }

        .nav{
            vertical-align: top;
            display: inline-block;
        }

        .nav li {
            position: relative;
            height:45px;
        }

        .nav > li {
            float: left;
            margin-right: 1px;
        }

        .nav > li > a {
            margin-bottom: 1px;
        }

        .nav > li:last-child {
            display:flex; align-items:center;
            border-radius: 0 0 4px 0;
            float:right;

            img {
                margin-right:6px;
            }
        }

        .nav > li:last-child > a {
            border-radius: 0 4px 0 0;
        }

        .nav li li a {
            margin-top: 1px;
        }

        .nav li a:first-child:nth-last-child(2):before {
            content: "";
            position: absolute;
            height: 0;
            width: 0;
            border: 5px solid transparent;
            top: 50% ;
            right:5px;
        }

        /* submenu positioning*/

        .nav ul {
            position: absolute;
            white-space: nowrap;
            border: 1px solid #B1B1B1;
            background-color:white;
            z-index: 1;
            left: -99999em;
        }

        .nav > li:hover > ul {
            left: auto;
            min-width: 100%;
        }

        .nav > li li:hover > ul {
            left: 100%;
            margin-left: 1px;
            top: -1px;
        }

        .nav > li:hover > a:first-child:nth-last-child(2):before {
            margin-top:-5px
        }

        .nav li li > a:first-child:nth-last-child(2):before {
            margin-top: -5px
        }

        .nav li li:hover > a:first-child:nth-last-child(2):before {
            right: 10px;
        }
    }
}

.slider-block {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;

    .slider-content {
        ul.slider-images {
            li img {
                width: 100%;
                height: 500px;
                object-fit: fill;
            }
            .slider-control {
                display: inline-block;
                vertical-align: middle;
                position: absolute;
                right: 10%;
                margin-top: -60px;
                margin-right: 10px;

                .dark-left-icon {
                    background-color: white;
                    height: 48px;
                    width: 48px;
                    max-height: 100%;
                    max-width: 100%;
                }

                .light-right-icon {
                    background-color: black;
                    height: 48px;
                    width: 48px;
                    max-height: 100%;
                    max-width: 100%;
                }
            }
        }
    }
}

.main-container-wrapper {
    margin-left: 10%;
    margin-right: 10%;

    .product-card {
        display: flex;
        flex-flow: column;
        justify-content: center;

        .product-image img {
            // order: -1;
            align-self: center;
            width: 100%;
            margin-bottom: 14px;
        }
        .product-name {
            font-size: 16px;
            margin-bottom: 14px;
            width: 100%;
        }
        .product-price {
            font-size: 16px;
            margin-bottom: 14px;
            width: 100%;
        }
        .product-ratings {
            width: 100%;
            margin-bottom: 14px;
        }
        .cart-fav-seg {
            display: inline-flex;
            width: 100%;
            align-items: center;

            .addtocart {
                border-radius: 0px;
                margin-right: 10px;
                text-transform: uppercase;
            }
        }
    }

    section.featured-products {
        display: block;
        margin-bottom: 5%;

        .featured-heading {
            width: 100%;
            text-align: center;
            text-transform: uppercase;
            font-size: 18px;
            margin-bottom: 20px;

            .featured-separator {
                color: lightgray;
            }
        }
        .featured-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            grid-gap: 10px;
        }
    }

    section.news-update {
        display: block;
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 5%;

        .news-update-grid {
            display: grid;
            grid-template-columns: 58.5% 40%;
            grid-gap: 20px;

            .block1 {
                display: block;
                box-sizing: border-box;

                img {
                    display: flex;
                    height: 100%;
                    width: 100%;
                }
            }

            .block2 {
                display: block;
                box-sizing: border-box;

                display: grid;
                grid-template-rows: repeat(2, minmax(50%, 1fr));
                grid-row-gap: 20px;

                .sub-block1 {
                    display: block;
                    box-sizing: border-box;

                    img {
                        width: 100%;
                    }
                }

                .sub-block2 {
                    display: block;
                    box-sizing: border-box;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.footer {
    background-color: $background-color;
    padding-left: 10%;
    padding-right: 10%;

    .footer-content {
        .footer-list-container {
            display: grid;
            padding-top: 40px;
            padding-bottom: 40px;
            padding-left: 10px;
            padding-right: 10px;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            grid-auto-rows: auto;
            grid-row-gap: 1vh;

            .list-container {
                .list-heading {
                    font-size: 16px;
                    letter-spacing: -0.26px;
                    text-transform: uppercase;
                    color: $list-heading-color;
                }

                .list-group {
                    padding-top: 25px;

                    li {
                        margin-bottom: 12px;
                        color: $list-color;
                        list-style-type: none;
                        text-transform: uppercase;

                        span.icon-wrapper {
                            display: inline-block;
                            vertical-align: middle;
                            margin-right: 5px;
                            height: 24px;
                            width: 24px;

                            span.icon {
                                height: 24px;
                                width: 24px;
                            }
                        }
                    }
                }

                .form-container {
                    padding-top: 10px;

                    .control-group {
                        margin: 0;

                        .subscribe-field {
                            width: 100%;
                        }

                        .subscribe-field::-webkit-input-placeholder {
                            font-family: "montserrat", sans-serif;
                        }

                        .subscribe-field::-moz-placeholder {
                            font-family: "montserrat", sans-serif;
                        }

                        .btn-primary {
                            background-color: $subscribe-btn-color;
                            margin-top: 8px;
                            border-radius: 0px;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

//customers page css goes here

.content {
    padding-top: 15%;
    padding-bottom: 15%;

    .sign-up-text {
        margin-bottom: 2%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 18px;
        color: $sign-up-text-color;
        letter-spacing: -0.29px;
        text-align: center;
    }
    .login-form {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        background: $background-color;
        border: 1px solid $border-color;
        flex-direction: column;
        max-width: 530px;
        min-width: 380px;
        min-height: 345px;
        padding-left: 25px;
        padding-right: 25px;

        .login-text {
            font-size: 24px;
            font-weight: bold;
            color: $login-text;
            letter-spacing: -0.23px;
            margin-top: 5%;
            margin-bottom: 3%;
        }

        .control-group {
            margin-bottom: 15px !important;
            .control {
                width: 100% !important;
            }
        }

        .forgot-password-link {
            font-size: 17px;
            color: $forgot-password-color;
            letter-spacing: -0.11px;
            margin-bottom: 5%;
        }
        .signup-confirm {
            letter-spacing: -0.11px;
            margin-bottom: 5%;
        }

        .btn-primary {
            width: 100%;
            text-transform: uppercase;
            border-radius: 0px;
            height: 45px;
            margin-bottom: 4%;
        }
    }
}

//customer pages styles goes here
//account layout
.account-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 5.5%;
    margin-bottom: 5.5%;

    .account-side-menu {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: flex-start;
        border: 1px solid #e8e8e8;
        background: #ffffff;
        width: 25%;
        height: 100%;
        text-transform: capitalize;
        font-size: 16px;
        color: #5e5e5e;

        li {
            font-size: 16px;
            width: 95%;
            height: 50px;
            margin-left: 5%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            border-bottom: 1px solid $border-color;
            text-align: center;
        }
        li:first-child {
            border-top: none;
        }
        li:last-child {
            border-bottom: none;
        }
        li.active {
            color: #0031f0;
        }
    }

    .profile {
        margin-left: 5.5%;
        margin-top: 1%;
        width: 100%;

        .section-head {
            .profile-heading {
                font-size: 28px;
                color: #242424;
                text-transform: capitalize;
                text-align: left;
            }

            .profile-edit {
                font-size: 17px;
                margin-top: 1%;
                color: #0031f0;
                letter-spacing: -0.11px;
                float: right;
            }

            .horizontal-rule {
                margin-top: 1.1%;
                width: 100%;
                height: 1px;
                vertical-align: middle;
                background: #e8e8e8;
            }
        }
    }

    .profile-content {
        font-size: 16px;
        color: $profile-content-color;
        margin-top: 1.4%;

        table {
            tbody {
                tr {
                    height: 45px;

                    td {
                        width: 250px;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
    //edit form
    .edit-form-content {
        margin-left: 5.5%;
        margin-top: 1%;
        width: 100%;

        .edit-text {
            margin-bottom: 2%;
            margin-left: auto;
            margin-right: auto;
            font-size: 24px;
        }

        .edit-form {
            // margin-left: auto;
            // margin-right: auto;
            display: flex;
            background: $background-color;
            border: 1px solid $border-color;
            flex-direction: column;
            // max-width: 530px;
            // min-width: 380px;
            min-height: 345px;
            padding: 25px;

            .control-group {
                input,
                select {
                    font-family: "Montserrat", sans-serif;
                    width: 100%;
                }
            }
        }
    }
    //edit form ends
}
//account ends here

//customers page css ends here

@media all and (max-width: 480px) {
    .header {
        // border: 1px solid black;
        margin-top: 16px;
        margin-bottom: 21px;

        .header-top {
            margin-bottom: 16px;
            display: flex;
            max-width: 92%;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            // border: 1px solid indigo;
            align-items: center;
            justify-content: space-between;

            div.left-content {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;

                ul.logo-container {
                    margin-right: 12px;

                    li {
                        display: flex;
                    }
                }

                ul.search-container {
                    li.search-group {
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;

                        .search-field {
                            height: 38px;
                            border: 2px solid $border-color;
                            border-radius: 3px;
                            border-right: none;
                            border-top-right-radius: 0px;
                            border-bottom-right-radius: 0px;
                        }

                        input.search-field::-moz-placeholder {
                            font-family: "montserrat", sans-serif;
                            padding-left: 10px;
                        }
                        input.search-field::-webkit-input-placeholder {
                            font-family: "montserrat", sans-serif;
                            padding-left: 10px;
                        }

                        .q-c {
                            box-sizing: border-box;
                            height: 38px;
                            width: 38px;
                            border: 2px solid $border-color;
                            border-top-right-radius: 3px;
                            border-bottom-right-radius: 3px;

                            .search-icon {
                                margin-top: 4px;
                                margin-left: 4px;
                                height: 24px;
                                width: 24px;
                            }
                        }
                    }
                }
            }

            div.right-content {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;

                ul.account-dropdown-container {
                    float: right;
                    border-right: 2px solid $border-color;

                    li.account-dropdown {
                        display: flex;
                        flex-direction: row;

                        .icon-account {
                            margin: 0;
                            height: 24px;
                            width: 24px;
                        }
                        .account {
                            padding-top: 3px;
                        }
                    }
                }

                ul.product-dropdown-container {
                    float: right;

                    li.product-dropdown {
                        display: flex;
                        flex-direction: row;

                        .icon-cart {
                            margin: 0;
                            height: 24px;
                            width: 24px;
                        }
                        .cart {
                            padding-top: 3px;
                        }
                    }
                }
            }

            .right-responsive {
                display: none;
                ul.right-wrapper {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    align-items: center;

                    li:not(:last-child) {
                        margin-right: 7px;

                        span.icon {
                            margin: 0;
                            height: 24px;
                            width: 24px;
                        }
                    }
                }
            }
        }

        .header-bottom {
            height: 48px;
            margin-left: auto;
            margin-right: auto;
            border-top: 1px solid lightgrey;
            border-bottom: 1px solid lightgrey;
            display: block;

            .menu-bar {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                height: 48px;
                width: 80%;
                margin-left: auto;
                margin-right: auto;

                li {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    // background-color: blue;
                    height: 100%;
                    margin: 2.5%;
                }
                li:last-child {
                    margin-left: auto;
                    color: $offer-color;
                }
            }
        }
    }
    .slider-block {
        display: block;
        width: 100%;
        margin-bottom: 5%;

        .slider-content {
            ul.slider-images {
                li img {
                    width: 100%;
                    object-fit: fill;
                }
            }
        }
    }
    .main-container-wrapper {
        margin-left: 4%;
        margin-right: 4%;

        .product-card {
            display: flex;
            flex-flow: column;
            justify-content: center;

            .product-image img {
                // order: -1;
                align-self: center;
                width: 100%;
                margin-bottom: 14px;
            }
            .product-name {
                font-size: 16px;
                margin-bottom: 14px;
                width: 100%;
            }
            .product-price {
                font-size: 16px;
                margin-bottom: 14px;
                width: 100%;
            }
            .product-ratings {
                width: 100%;
                margin-bottom: 14px;
            }
            .cart-fav-seg {
                display: inline-flex;
                width: 100%;
                align-items: center;

                .addtocart {
                    border-radius: 0px;
                    margin-right: 10px;
                    text-transform: uppercase;
                }
            }
        }

        section.featured-products {
            display: block;
            margin-bottom: 5%;

            .featured-heading {
                width: 100%;
                text-align: center;
                text-transform: uppercase;
                font-size: 18px;
                margin-bottom: 20px;

                .featured-separator {
                    color: lightgray;
                }
            }
            .featured-grid {
                display: grid;
                grid-template-columns: 48% 48%;
                grid-gap: 10px;
            }
        }

        section.news-update {
            display: block;
            box-sizing: border-box;
            width: 100%;
            margin-bottom: 5%;

            .news-update-grid {
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: auto;
                grid-gap: 20px;

                .block1 {
                    display: block;
                    box-sizing: border-box;

                    img {
                        display: flex;
                        height: 100%;
                        width: 100%;
                    }
                }

                .block2 {
                    display: block;
                    box-sizing: border-box;

                    display: grid;
                    grid-template-rows: repeat(2, minmax(50%, 1fr));
                    grid-row-gap: 20px;

                    .sub-block1 {
                        display: block;
                        box-sizing: border-box;

                        img {
                            width: 100%;
                        }
                    }

                    .sub-block2 {
                        display: block;
                        box-sizing: border-box;

                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .footer {
        background-color: $background-color;
        padding-left: 10%;
        padding-right: 10%;

        .footer-content {
            .footer-list-container {
                display: grid;
                padding-top: 40px;
                padding-bottom: 40px;
                padding-left: 10px;
                padding-right: 10px;
                grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                grid-auto-rows: auto;
                grid-row-gap: 1vh;

                .list-container {
                    .list-heading {
                        font-size: 16px;
                        letter-spacing: -0.26px;
                        text-transform: uppercase;
                        color: $list-heading-color;
                    }

                    .list-group {
                        padding-top: 25px;

                        li {
                            margin-bottom: 12px;
                            color: $list-color;
                            list-style-type: none;
                            text-transform: uppercase;

                            span.icon-wrapper {
                                display: inline-block;
                                vertical-align: middle;
                                margin-right: 5px;
                                height: 24px;
                                width: 24px;

                                span.icon {
                                    height: 24px;
                                    width: 24px;
                                }
                            }
                        }
                    }

                    .form-container {
                        padding-top: 10px;

                        .control-group {
                            margin: 0;

                            .subscribe-field {
                                width: 100%;
                            }

                            .subscribe-field::-webkit-input-placeholder {
                                font-family: "montserrat", sans-serif;
                            }

                            .subscribe-field::-moz-placeholder {
                                font-family: "montserrat", sans-serif;
                            }

                            .btn-primary {
                                background-color: $subscribe-btn-color;
                                border-radius: 0px;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media all and (min-width: 481px) and (max-width: 920px) {
    .header {
        // border: 1px solid black;
        margin-top: 16px;
        margin-bottom: 21px;

        .header-top {
            margin-bottom: 16px;
            display: flex;
            max-width: 92%;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            // border: 1px solid indigo;
            align-items: center;
            justify-content: space-between;

            div.left-content {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;

                ul.logo-container {
                    margin-right: 12px;

                    li {
                        display: flex;
                    }
                }

                ul.search-container {
                    li.search-group {
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;

                        .search-field {
                            height: 38px;
                            border: 2px solid $border-color;
                            border-radius: 3px;
                            border-right: none;
                            border-top-right-radius: 0px;
                            border-bottom-right-radius: 0px;
                        }

                        input.search-field::-moz-placeholder {
                            font-family: "montserrat", sans-serif;
                            padding-left: 10px;
                        }
                        input.search-field::-webkit-input-placeholder {
                            font-family: "montserrat", sans-serif;
                            padding-left: 10px;
                        }

                        .q-c {
                            box-sizing: border-box;
                            height: 38px;
                            width: 38px;
                            border: 2px solid $border-color;
                            border-top-right-radius: 3px;
                            border-bottom-right-radius: 3px;

                            .search-icon {
                                margin-top: 4px;
                                margin-left: 4px;
                                height: 24px;
                                width: 24px;
                            }
                        }
                    }
                }
            }

            div.right-content {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;

                ul.account-dropdown-container {
                    float: right;
                    border-right: 2px solid $border-color;

                    li.account-dropdown {
                        display: flex;
                        flex-direction: row;

                        .icon-account {
                            margin: 0;
                            height: 24px;
                            width: 24px;
                        }
                        .account {
                            padding-top: 3px;
                        }
                    }
                }

                ul.product-dropdown-container {
                    float: right;

                    li.product-dropdown {
                        display: flex;
                        flex-direction: row;

                        .icon-cart {
                            margin: 0;
                            height: 24px;
                            width: 24px;
                        }
                        .cart {
                            padding-top: 3px;
                        }
                    }
                }
            }

            .right-responsive {
                display: none;
                ul.right-wrapper {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    align-items: center;

                    li:not(:last-child) {
                        margin-right: 7px;

                        span.icon {
                            margin: 0;
                            height: 24px;
                            width: 24px;
                        }
                    }
                }
            }
        }

        .header-bottom {
            height: 48px;
            margin-left: auto;
            margin-right: auto;
            border-top: 1px solid lightgrey;
            border-bottom: 1px solid lightgrey;
            display: block;

            .menu-bar {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                height: 48px;
                width: 80%;
                margin-left: auto;
                margin-right: auto;

                li {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    // background-color: blue;
                    height: 100%;
                    margin: 2.5%;
                }
                li:last-child {
                    margin-left: auto;
                    color: $offer-color;
                }
            }
        }
    }
    .slider-block {
        display: block;
        width: 92%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5%;

        .slider-content {
            ul.slider-images {
                li img {
                    width: 100%;
                    object-fit: fill;
                }
            }
        }
    }
    .main-container-wrapper {
        margin-left: 4%;
        margin-right: 4%;

        .product-card {
            display: flex;
            flex-flow: column;
            justify-content: center;

            .product-image img {
                // order: -1;
                align-self: center;
                width: 100%;
                margin-bottom: 14px;
            }
            .product-name {
                font-size: 16px;
                margin-bottom: 14px;
                width: 100%;
            }
            .product-price {
                font-size: 16px;
                margin-bottom: 14px;
                width: 100%;
            }
            .product-ratings {
                width: 100%;
                margin-bottom: 14px;
            }
            .cart-fav-seg {
                display: inline-flex;
                width: 100%;
                align-items: center;

                .addtocart {
                    border-radius: 0px;
                    margin-right: 10px;
                    text-transform: uppercase;
                }
            }
        }

        section.featured-products {
            display: block;
            margin-bottom: 5%;

            .featured-heading {
                width: 100%;
                text-align: center;
                text-transform: uppercase;
                font-size: 18px;
                margin-bottom: 20px;

                .featured-separator {
                    color: lightgray;
                }
            }
            .featured-grid {
                display: grid;
                // grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                grid-template-columns: 49% 49%;
                grid-gap: 10px;
            }
        }

        section.news-update {
            display: block;
            box-sizing: border-box;
            width: 100%;
            margin-bottom: 5%;

            .news-update-grid {
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: auto;
                grid-gap: 20px;

                .block1 {
                    display: block;
                    box-sizing: border-box;

                    img {
                        display: flex;
                        height: 100%;
                        width: 100%;
                    }
                }

                .block2 {
                    display: block;
                    box-sizing: border-box;

                    display: grid;
                    grid-template-rows: repeat(2, minmax(50%, 1fr));
                    grid-row-gap: 20px;

                    .sub-block1 {
                        display: block;
                        box-sizing: border-box;

                        img {
                            width: 100%;
                        }
                    }

                    .sub-block2 {
                        display: block;
                        box-sizing: border-box;

                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .footer {
        background-color: $background-color;
        padding-left: 4%;
        padding-right: 4%;

        .footer-content {
            .footer-list-container {
                display: grid;
                padding-top: 40px;
                padding-bottom: 40px;
                padding-left: 10px;
                padding-right: 10px;
                grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                grid-auto-rows: auto;
                grid-row-gap: 1vh;

                .list-container {
                    .list-heading {
                        font-size: 16px;
                        letter-spacing: -0.26px;
                        text-transform: uppercase;
                        color: $list-heading-color;
                    }

                    .list-group {
                        padding-top: 25px;

                        li {
                            margin-bottom: 12px;
                            color: $list-color;
                            list-style-type: none;
                            text-transform: uppercase;

                            span.icon-wrapper {
                                display: inline-block;
                                vertical-align: middle;
                                margin-right: 5px;
                                height: 24px;
                                width: 24px;

                                span.icon {
                                    height: 24px;
                                    width: 24px;
                                }
                            }
                        }
                    }

                    .form-container {
                        padding-top: 10px;

                        .control-group {
                            margin: 0;

                            .subscribe-field {
                                width: 100%;
                            }

                            .subscribe-field::-webkit-input-placeholder {
                                font-family: "montserrat", sans-serif;
                            }

                            .subscribe-field::-moz-placeholder {
                                font-family: "montserrat", sans-serif;
                            }

                            .btn-primary {
                                background-color: $subscribe-btn-color;
                                border-radius: 0px;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}


.layered-filter-wrapper {
    width: 20%;

    .filter-title {
        border-bottom: 1px solid #E8E8E8;
        font-size: 16px;
        color: #242424;
        padding: 10px 0;
    }

    .filter-attributes {
        .filter-attributes-item {
            border-bottom: 1px solid #E8E8E8;
            padding-bottom: 10px;

            .filter-attributes-title {
                padding: 10px 40px 0 10px;
                font-size: 16px;
                color: #5E5E5E;
                cursor: pointer;
                position: relative;

                .icon {
                    background-image: url('../images/arrow-down.svg') !important;
                    width: 10px;
                    height: 10px;
                    position: absolute;
                    right: 15px;
                    top: 14px;
                }
            }

            .filter-attributes-content {
                padding: 10px;
                display: none;

                ol.items {
                    padding: 0;
                    margin: 0;
                    list-style: none none;

                    li.item {
                        padding: 8px 0;
                        font-size: 16px;
                        color: #5E5E5E;

                        .checkbox {
                            margin: 0;
                            
                            .checkbox-view {
                                height: 16px;
                                width: 16px;
                                background-image: url("../images/checkbox.svg");
                            }

                            input:checked + .checkbox-view {
                                background-image: url("../images/checkbox-checked.svg");
                            }
                        }
                    }
                }

                .price-range-wrapper {
                    margin-top: 21px;
                }
            }

            &.active {
                .filter-attributes-content {
                    display: block;
                }

                .filter-attributes-title .icon {
                    background-image: url('../images//arrow-up.svg') !important;
                }
            }
        }
    }

}