@import "variables";
@import "icons";
@import "mixins";
@import "components";
@import "override";

//main store front layouting
.main-container-wrapper {
    max-width: 1300px;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    .content-container {
        display: block;
    }

    .product-list {
        .product-card {
            width: 100%;
            display: inline-block;
            margin-bottom: 20px;

            .product-image {
                float: left;
                width: 30%;
                height: 350px;

                img {
                    height: 100%;
                }
            }

            .product-information {
                float: right;
                width: 70%;
                padding-left: 30px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    section.featured-products {
        display: block;
        margin-bottom: 5%;

        .featured-heading {
            width: 100%;
            text-align: center;
            text-transform: uppercase;
            font-size: 18px;
            margin-bottom: 20px;

            .featured-separator {
                color: lightgray;
            }
        }
    }

    section.news-update {
        display: block;
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 5%;

        .news-update-grid {
            display: grid;
            grid-template-columns: 58.5% 40%;
            grid-gap: 20px;

            .block1 {
                display: block;
                box-sizing: border-box;

                img {
                    display: flex;
                    height: 100%;
                    width: 100%;
                }
            }

            .block2 {
                display: block;
                box-sizing: border-box;
                display: grid;
                grid-template-rows: repeat(2, minmax(50%, 1fr));
                grid-row-gap: 20px;

                .sub-block1 {
                    display: block;
                    box-sizing: border-box;

                    img {
                        width: 100%;
                    }
                }

                .sub-block2 {
                    display: block;
                    box-sizing: border-box;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

//slider styles
section.slider-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;

    div.slider-content {
        position: relative;
        height: 500px;
        margin-left: auto;
        margin-right: auto;


        ul.slider-images {

            li{
                position: absolute;
                visibility: hidden;
            }

            li.show {
                display:block;
                visibility: visible;
                width: 100%;
                animation-name: example;
                animation-duration: 4s;
            }

            @keyframes example {
                0%   {opacity: 0.1;}
                100% {opacity: 1;}
            }

            li img {
                height: 500px;
                width:100%;
            }
        }

        div.slider-control {
            display: block;
            position: absolute;
            user-select: none;
            bottom: 2%;
            right: 2%;


            .dark-left-icon {
                background-color: #f2f2f2;
                height: 48px;
                width: 48px;
                max-height: 100%;
                max-width: 100%;
            }

            .light-right-icon {
                background-color: #000;
                height: 48px;
                width: 48px;
                max-height: 100%;
                max-width: 100%;
            }
        }
    }
}

//responsive css for slider
@media only screen and (max-width: 770px) {

    section.slider-block {

        div.slider-content {

            div.slider-control {
                display: flex;
                justify-content:space-between;
                bottom: 48%;
                right: 0%;
                width:100%;

                .dark-left-icon {
                   margin-left: 15px;
                }

                .light-right-icon {
                   margin-right: 15px;
                }
            }
        }
    }

}

//header navigation
.header {
    margin-top: 16px;
    margin-bottom: 21px;
    user-select: none;

    .search-suggestion {
        display: none;
    }

    .header-top {
        margin-bottom: 16px;
        display: flex;
        max-width: 100%;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        justify-content: space-between;

        div.left-content {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            ul.logo-container {
                margin-right: 12px;

                li {
                    display: flex;
                }
            }

            ul.search-container {
                li.search-group {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;

                    .search-field {
                        height: 38px;
                        border: 2px solid $border-color;
                        border-radius: 3px;
                        border-right: none;
                        border-top-right-radius: 0px;
                        border-bottom-right-radius: 0px;
                        padding-left: 12px;
                        font-family: "Montserrat", sans-serif;
                        font-size: 14px;
                    }

                    .search-icon-wrapper {
                        box-sizing: border-box;
                        height: 38px;
                        width: 38px;
                        border: 2px solid $border-color;
                        border-top-right-radius: 3px;
                        border-bottom-right-radius: 3px;

                        .search-icon {
                            margin-top: 4px;
                            margin-left: 4px;
                            height: 24px;
                            width: 24px;
                        }
                    }
                }
            }
        }

        div.right-content {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            cursor: pointer;

            ul.account-dropdown-container {
                float: right;
                border-right: 2px solid $border-color;

                li.account-dropdown {
                    display: flex;
                    flex-direction: row;
                    margin-right: 14px;

                    .account-icon {
                        cursor:  pointer;
                        margin-right: 8px;
                        height: 24px;
                        width: 24px;
                    }

                    .account {
                        cursor:  pointer;
                        padding-top: 3px;
                        padding-right: 5px;
                        margin-left: 8px;
                    }

                    .icon.arrow-down-icon {
                        cursor:  pointer;
                        margin-top: 10px;
                    }
                }
            }

            ul.cart-dropdown-container {
                float: right;
                margin-left: 10px;

                li.cart-dropdown {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;

                    .cart-icon {
                        margin-right: 8px;
                        height: 24px;
                        width: 24px;
                    }

                    .icon.arrow-down-icon {
                        margin-top: 10px;
                    }

                    .dropdown-list {
                        width: 387px;
                    }

                    .dropdown-list .dropdown-container {
                        padding: 10px 18px 10px 18px;
                        max-height: 410px;
                        overflow-y: auto;

                        .dropdown-cart {
                            color: #242424;
                        }
                        .dropdown-cart > .dropdown-header {
                            width: 100%;
                        }

                        .dropdown-cart > .dropdown-header p{
                            display: inline;
                            line-height: 25px;
                        }

                        .dropdown-cart > .dropdown-header i{
                            cursor: pointer;
                            float: right;
                            height: 22px;
                            width: 22px;
                        }

                        .dropdown-cart > .dropdown-header p.heading {
                            font-weight: lighter;
                        }

                        .dropdown-content {
                            padding-top: 8px;
                            padding-bottom: 10px;
                        }

                        .dropdown-content .item{
                            display: flex;
                            flex-direction: row;
                            border-bottom: 1px solid #E8E8E8;
                            padding-top: 8px;
                            padding-bottom: 8px;
                        }

                        .dropdown-content .item img{
                            height: 75px;
                            width: 75px;
                            margin-right: 8px;
                        }

                        .dropdown-content .item-details{
                            height: 75px;
                        }

                        .item-details .item-name {
                            font-size: 16px;
                            font-weight: bold;
                            margin-bottom: 8px;
                        }

                        .item-details .item-price {
                            margin-bottom: 8px;
                        }

                        .item-details .item-qty {
                            font-weight: lighter;
                            margin-bottom: 8px;
                        }

                        .dropdown-footer {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;
                            margin-bottom: 8px;
                        }

                        .dropdown-footer button {
                            border-radius: 0px;
                            width: 130px;
                        }
                    }
                }
            }
        }
        ul.right-responsive {
            display: none;

            li {
                margin-right : 5px;
            }

            li:last-child {
                margin-right: 0px;
            }

            ul {
                margin-right : 5px;
            }

            ul:last-child {
                margin-right: 0px;
            }
        }
    }

    .header-bottom {
        height: 48px;
        margin-left: auto;
        margin-right: auto;
        border-top: 1px solid lightgrey;
        border-bottom: 1px solid lightgrey;
        display: block;

        ul.nav {
            display: block;
            font-size:16px;
            height: 48px;
            max-width: 100%;
            width: auto;
            margin-left: auto;
            margin-right: auto;
        }

        .nav ul {
            margin: 0;
            padding:0;
            border: 1px solid #B1B1B1;
            box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.40);
        }

        .nav a {
            display:block;
            color: $font-color;
            text-decoration: none;
            padding: 0.8em 0.3em 0.8em 0.5em;
            text-transform: uppercase;
            letter-spacing: 2px;
            position: relative;
        }

        .nav {
            vertical-align: top;
            display: inline-block;
        }

        .nav li {
            position: relative;
            height:45px;
        }

        .nav > li {
            float: left;
            margin-right: 1px;

        }

        .nav > li > a {
            margin-bottom: 1px;
        }

        .nav > li:last-child {
            display:flex; align-items:center;
            border-radius: 0 0 4px 0;
            float:right;

            img {
                margin-right:6px;
            }
        }

        .nav > li:last-child > a {
            border-radius: 0 4px 0 0;
        }

        .nav li li a {
            margin-top: 1px;
        }

        .nav li a:first-child:nth-last-child(2):before {
            content: "";
            position: absolute;
            height: 0;
            width: 0;
            border: 5px solid transparent;
            top: 50% ;
            right:5px;
        }

        /* submenu positioning*/

        .nav ul {
            position: absolute;
            white-space: nowrap;
            border: 1px solid #B1B1B1;
            background-color:white;
            z-index: 1;
            left: -99999em;
        }

        .nav > li:hover > ul {
            left: auto;
            min-width: 100%;
        }

        .nav > li li:hover > ul {
            left: 100%;
            margin-left: 1px;
            top: -2px;
        }

        .nav > li:hover > a:first-child:nth-last-child(2):before {
            margin-top:-5px
        }

        .nav li li > a:first-child:nth-last-child(2):before {
            margin-top: -5px
        }

        .nav li li:hover > a:first-child:nth-last-child(2):before {
            right: 10px;
        }
    }
}

@media all and (max-width: 720px) {
    .header-bottom {
        display: none !important;
    }

    ul.search-container {
        display: none !important;
    }

    ul.account-dropdown-container {
        display: none !important;
    }

    ul.cart-dropdown-container {
        display: none !important;
    }

    ul.right-responsive {
        display: flex !important;
    }

}

//footer responsive with out media query.
.footer {
    background-color: #f2f2f2;
    padding-left: 10%;
    padding-right: 10%;

    .footer-content {
        .footer-list-container {
            display: grid;
            padding-top: 40px;
            padding-bottom: 40px;
            padding-left: 10px;
            padding-right: 10px;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            grid-auto-rows: auto;
            grid-row-gap: 1vh;

            .list-container {
                .list-heading {
                    letter-spacing: -0.26px;
                    text-transform: uppercase;
                    color: rgba(165, 165, 165, 1);
                }

                .list-group {
                    padding-top: 25px;

                    li {
                        margin-bottom: 12px;
                        list-style-type: none;
                        text-transform: uppercase;

                        span.icon-wrapper {
                            display: inline-block;
                            vertical-align: middle;
                            margin-right: 5px;
                            height: 24px;
                            width: 24px;

                            span.icon {
                                height: 24px;
                                width: 24px;
                            }
                        }
                    }
                }

                .form-container {
                    padding-top: 10px;

                    .control-group {
                        margin: 0;

                        .subscribe-field {
                            width: 100%;
                        }

                        .subscribe-field::-webkit-input-placeholder {
                            font-family: "montserrat", sans-serif;
                        }

                        .subscribe-field::-moz-placeholder {
                            font-family: "montserrat", sans-serif;
                        }

                        .btn-primary {
                            background-color: #000;
                            margin-top: 8px;
                            border-radius: 0px;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

//category page
.main {
    .category-container {
        display: flex;
        flex-direction: row;
        width: 100%;

        .category-block {
            width: 80%;
            display: block;

            .hero-image {
                border: 1px solid green;
                display:block;
                visibility: visible;
                width: auto;

                img {
                    height: 400px;
                    width:100%;
                }
            }
        }
    }

    .top-toolbar {
        width: 100%;
        display: inline-block;

        .page-info {
            float: left;
            color: $font-color;
            line-height: 45px;

            span:first-child {
                display: inline;
            }

            span:last-child {
                display: none;
            }
        }

        .pager {
            float: right;

            label {
                margin-right: 5px;
            }

            select {
                background: #FFFFFF;
                border: 1px solid #C7C7C7;
                border-radius: 3px;
                color: $font-color;
                padding: 10px;
            }

            .view-mode {
                display: inline-block;
                margin-right: 20px;

                a, span {
                    display: inline-block;
                    vertical-align: middle;

                    &.grid-view {
                        margin-right: 10px;
                    }
                }

                .sort-filter {
                    display: none;
                }
            }

            .sorter {
                display: inline-block;
                margin-right: 10px;
            }

            .limiter {
                display: inline-block;
            }
        }
    }

    .reponsive-sorter-limiter {
        display: none;
    }

    .bottom-toolbar {
        display: block;
        margin-top: 40px;
        margin-bottom: 40px;
        text-align: center;
    }
}

//customers page css goes here
.content {
    padding-top: 15%;
    padding-bottom: 15%;

    .sign-up-text {
        margin-bottom: 2%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 18px;
        color: #5e5e5e;
        letter-spacing: -0.29px;
        text-align: center;
    }

    .login-form {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        background: #f2f2f2;
        border: 1px solid $border-color;
        flex-direction: column;
        max-width: 530px;
        min-width: 380px;
        min-height: 345px;
        padding-left: 25px;
        padding-right: 25px;

        .login-text {
            font-size: 24px;
            font-weight: bold;
            color: #3a3a3a;
            letter-spacing: -0.23px;
            margin-top: 5%;
            margin-bottom: 3%;
        }

        .control-group {
            margin-bottom: 15px !important;

            .control {
                width: 100% !important;
            }
        }

        .forgot-password-link {
            font-size: 17px;
            color: $brand-color;
            letter-spacing: -0.11px;
            margin-bottom: 5%;
        }
        .signup-confirm {
            letter-spacing: -0.11px;
            margin-bottom: 5%;
        }

        .btn-primary {
            width: 100%;
            text-transform: uppercase;
            border-radius: 0px;
            height: 45px;
            margin-bottom: 4%;
        }
    }
}

//customer pages styles goes here
//account layout
.account-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 5.5%;
    margin-bottom: 5.5%;

    .account-side-menu {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: flex-start;
        border: 1px solid $border-color;
        background: #f2f2f2;
        width: 25%;
        height: 100%;
        text-transform: capitalize;
        color: #5e5e5e;

        li {
            width: 95%;
            height: 50px;
            margin-left: 5%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            border-bottom: 1px solid $border-color;
            text-align: center;
        }

        li:first-child {
            border-top: none;
        }

        li:last-child {
            border-bottom: none;
        }

        li.active {
            color: $brand-color;
        }
    }

    .profile {
        margin-left: 5.5%;
        margin-top: 1%;
        width: 100%;

        .section-head {
            .profile-heading {
                font-size: 28px;
                color: $font-color;
                text-transform: capitalize;
                text-align: left;
            }

            .profile-edit {
                font-size: 17px;
                margin-top: 1%;
                color: $brand-color;
                letter-spacing: -0.11px;
                float: right;
            }

            .horizontal-rule {
                margin-top: 1.1%;
                width: 100%;
                height: 1px;
                vertical-align: middle;
                background: $border-color;
            }
        }
    }

    .profile-content {
        color: $profile-content-color;
        margin-top: 1.4%;

        table {
            tbody {
                tr {
                    height: 45px;

                    td {
                        width: 250px;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }

    //edit form
    .edit-form-content {
        margin-left: 5.5%;
        margin-top: 1%;
        width: 100%;

        .edit-text {
            margin-bottom: 2%;
            margin-left: auto;
            margin-right: auto;
            font-size: 24px;
        }

        .edit-form {
            display: flex;
            background: #f2f2f2;
            border: 1px solid $border-color;
            flex-direction: column;
            min-height: 345px;
            padding: 25px;
        }
    }
    //edit form ends
}
//account ends here
//customers page css ends here

// product pages css starts here
section.product-detail {
    color: $font-color;

    div.category-breadcrumbs {
        display: inline;
    }

    div.layouter {
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;

        form {
            display: flex;
            flex-direction: row;
            // justify-content: space-between;
            width: 100%;

            div.product-image-group {
                margin-right: 36px;

                div {
                    display: flex;
                    flex-direction: row;

                    .thumb-list {
                        display: flex;
                        flex-direction: column;
                        margin-right: 4px;
                        height: 480px;
                        width: 120px;
                        overflow: hidden;
                        position: relative;
                        justify-content: flex-start;

                        .thumb-frame {
                            border: 2px solid transparent;
                            background: #F2F2F2;
                            max-width: 120px;
                            width: auto;
                            height: 120px;

                            &.active {
                                border-color: #979797;
                            }

                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }

                        .gallery-control {
                            width: 100%;
                            position: absolute;
                            text-align: center;
                            cursor: pointer;
                            z-index: 1;

                            .overlay {
                                opacity: 0.3;
                                background: #000000;
                                width: 100%;
                                height: 18px;
                                position: absolute;
                                left: 0;
                                z-index: -1;
                            }

                            .icon {
                                z-index: 2;
                            }

                            &.top {
                                top: 0;
                            }

                            &.bottom {
                                bottom: 0;
                            }
                        }
                    }

                    .product-hero-image {
                        display: block;
                        position: relative;
                        background: #F2F2F2;
                        width: 100%;
                        max-height: 480px;

                        img {
                            width: 100%;
                            height: 480px;
                            max-height: 480px;
                        }

                        .whishlist-icon {
                            margin-top: -480px;
                            float: right;
                            margin-right: 10px;
                        }

                        .share-icon {
                            margin-top: -480px;
                            float: right;
                            margin-right: 40px;
                        }

                        .wishlist {
                            position: absolute;
                            top: 10px;
                            right: 12px;
                        }

                        .share {
                            position: absolute;
                            top: 10px;
                            right: 45px;
                        }
                    }
                }

                .cart-fav-seg {
                    display: block;
                    margin-top: 10px;

                    .addtocart {
                        border-radius: 0px;
                        width: 49%;
                        background: black;
                    }

                    .buynow {
                        border-radius: 0px;
                        width: 49%;
                        float:right;
                    }
                }
            }

            .details {
                width: 47.5%;

                .product-price {
                    margin-bottom: 14px;
                }

                .product-ratings {
                    margin-bottom: 20px;

                    .icon {
                        width: 16px;
                        height: 16px;
                    }

                    .total-reviews {
                        display: inline-block;
                        margin-left: 15px;
                    }
                }

                .product-heading {
                    font-size: 24px;
                    color: $font-color;
                    margin-bottom: 15px;
                }

                .product-price {
                    margin-bottom: 15px;
                    font-size: 24px;

                    .special-price {
                        font-size: 24px;
                    }
                }

                .stock-status {
                    margin-bottom: 15px;
                }

                .description {
                    margin-bottom: 15px;
                    padding-bottom: 15px;
                    border-bottom: solid 1px rgba(162, 162, 162, 0.2)
                }

                .full-specifications {
                    td {
                        padding: 10px 0;
                        color: #5E5E5E;

                        &:first-child {
                            padding-right: 40px;
                        }
                    }
                }

                .accordian .accordian-header {
                    padding-left: 0;
                    font-weight: 600;
                }

                .accordian .accordian-content {
                    padding: 20px 0px;
                }

                .attributes {
                    display: block;
                    width: 100%;
                    border-bottom: solid 1px rgba(162, 162, 162, 0.2);
                }
            }
        }
    }
}
// product pages css ends here

//rating and reviews of product pages
.rating-reviews {

    .rating-header {
        font-weight: 600;
        padding: 20px 0;
    }

    .stars {
        .icon {
            width: 16px;
            height: 16px;
        }
    }

    .overall {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .review-info {
            .number {
                font-size: 34px;
            }

            .total-reviews {
                margin-top: 10px;
            }
        }
    }

    .reviews {
        margin-top: 40px;
        margin-bottom: 40px;

        .review {
            margin-bottom: 25px;

            .title {
                margin-bottom: 5px;
            }

            .stars {
                margin-bottom: 15px;
                display: inline-block;
            }

            .message {
                margin-bottom: 10px;
            }

            .reviewer-details {
                color: #5E5E5E;
            }
        }

        .view-all {
            margin-top:15px;
            color: $brand-color;
            margin-bottom:15px;
        }
    }
}

/* cart pages and elements css begins here */
section.cart {
    width: 100%;
    color: $font-color;
    margin-bottom: 80px;
    margin-top: 20px;

    .title {
        font-size: 24px;
    }

    .cart-content {
        margin-top: 20px;
        width: 100%;
        display: inline-block;

        .left-side {
            width: 70%;
            float: left;

            .misc-controls {
                width: 100%;
                display: inline-flex;
                align-items: center;
                justify-content: space-between;

                margin-top: 20px;

                a.link {
                    margin-right: 15px;
                }
            }
        }

        .right-side {
            width: 30%;
            display: inline-block;
            padding-left: 40px;
        }
    }
}

.cart-item-list {
    margin-top: 21px;
    padding: 1px;

    .item {
        padding: 10px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        border: 1px solid $border-color;
        border-radius: 3px;

        .item-image {
            height: 160px;
            width: 160px;
        }

        .item-details {
            display: flex;
            flex-direction: column;

            .item-title {
                font-size: 18px;
                margin-bottom: 10px;
                font-weight: 600;
            }

            .price {
                margin-bottom: 10px;
                font-size: 18px;
                font-weight: 600;
            }

            .summary {
                margin-bottom: 17px;
            }

            .misc {
                display: inline-flex;
                align-items: center;
                justify-content: flex-start;

                div.qty-text {
                    color: #5E5E5E;
                    margin-right: 10px;
                }

                input.box {
                    height: 38px;
                    width: 60px;
                    font-size: 16px;
                    text-align: center;
                    line-height: 38px;
                    border: 1px solid $border-color;
                    border-radius: 3px;
                    margin-right: 30px;
                    border-radius: 0px;
                }

                .remove {
                    color: $brand-color;
                    margin-right: 30px;
                }

                .towishlist {
                    color : $brand-color;
                }

            }
        }
    }
}

.order-summary {
    h3 {
        font-size: 16px;
        margin-top: 0;
    }

    .item-detail {
        margin-top:12px;

        label {
            &.right {
                float: right;
            }
        }
    }

    .payble-amount {
        margin-top: 17px;
        border-top: 1px solid $border-color;
        padding-top: 12px;

        label {
            font-weight: bold;

            &.right {
                float:right;
            }
        }
    }
}

// checkout starts here
.checkout-process {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;

    .col-main {
        width: 65%;
        padding-right: 40px;

        ul.checkout-steps {
            width: 100%;
            display: inline-flex;
            justify-content: space-between;
            width: 100%;
            padding-bottom: 15px;
            border-bottom: 1px solid $border-color;

            li {
                height: 48px;
                display:flex;

                .decorator {
                    height: 48px;
                    width: 48px;
                    border: 1px solid black;
                    border-radius: 50%;
                    display: inline-flex;
                    border: 1px solid $border-color;
                    background-repeat: no-repeat;
                    background-position: center;

                    &.address-info {
                        background-image: url('../images/address.svg');
                    }

                    &.shipping {
                        background-image: url('../images/shipping.svg');
                    }

                    &.payment {
                        background-image: url('../images/payment.svg');
                    }

                    &.review {
                        background-image: url('../images/finish.svg');
                    }
                }

                &.completed {
                    cursor: pointer;

                    .decorator {
                        background-image: url('../images/complete.svg');
                    }
                }

                span {
                    margin-left: 7px;
                    margin-top: auto;
                    margin-bottom: auto;
                }

                &.active {
                    color: #2650EF;

                    .decorator {
                        border: 1px solid #2650EF;
                    }
                }
            }
        }

        .step-content {
            padding-top: 20px;

            .form-header {
                width: 100%;
                display: inline-block;

                h1 {
                    float: left;
                }

                .btn {
                    float: right;
                }
            }

            .form-container {
                border-bottom: 1px solid $border-color;
                padding-top: 20px;
                padding-bottom: 20px;
            }

            .shipping-methods {
                h4 {
                    margin: 0;
                }
            }

            .payment-methods {
                .radio {
                    font-weight: 600;
                }

                .control-info {
                    margin-left: 28px;
                }
            }

            .address {
                display: inline-block;
                width: 100%;

                .address-card {
                    width: 50%;
                    float: left;

                    .card-title span {
                        font-weight: 600;
                    }

                    .card-content {
                        margin-top: 15px;
                        color: #121212;
                        line-height: 25px;

                        .horizontal-rule {
                            margin: 12px 0;
                            display: block;
                            width: 25px;
                            background: #121212;
                        }
                    }
                }
            }

            .cart-item-list {
                .item {
                    .row {
                        .title {
                            width: 100px;
                            display: inline-block;
                            color: #5E5E5E;
                            font-weight: 500;
                            margin-bottom: 10px;
                        }

                        .value {
                            font-size: 18px;
                            font-weight: 600;
                        }
                    }
                }
            }

            .order-description {
                display: inline-block;
                width: 100%;

                .shipping {
                    margin-bottom: 25px;
                }

                .decorator {
                    height: 48px;
                    width: 48px;
                    border-radius: 50%;
                    border: 1px solid $border-color;
                    vertical-align: middle;
                    display: inline-block;
                    text-align: center;

                    .icon {
                        margin-top: 7px;
                    }
                }

                .text {
                    font-weight: 600;
                    vertical-align: middle;
                    display: inline-block;

                    .info {
                        font-weight: 500;
                        margin-top: 2px;
                    }
                }
            }
            // complete page end here
        }
    }

    .col-right {
        width: 35%;
        padding-left: 40px;
    }
}
// checkout ends here

// checkout responsive start here
@media only screen and (max-width: 770px) {

    .checkout-process {
        .col-main {
            width: 100%;
            padding-right: 0px;

            ul.checkout-steps{
                border-bottom: none;

                span {
                    display: none;
                }

                .line{
                    flex-grow: 1;
                    border-bottom: 1px solid $border-color;
                    margin-left: 5px;
                    margin-right: 5px;
                }
            }
        }

        .step-content {
            .control-group .control {
                width:100%;
            }
        }

        .col-right {
            display: none;
        }
    }

}
// checkout responsive end here

.attached-products-wrapper {
    margin-bottom: 80px;

    .title {
        margin-bottom: 40px;
        font-size: 18px;
        color: $font-color;
        text-align: center;
        position: relative;

        .border-bottom {
            border-bottom: 1px solid rgba(162, 162, 162, 0.2);
            display: inline-block;
            width: 100px;
            position: absolute;
            top: 40px;
            left: 50%;
            margin-left: -50px;
        }
    }

    .horizontal-rule {
        height: 1px;
        background: $horizontal-rule-color;
        width: 148px;
        margin-bottom: 24px;
        margin-left:auto;
        margin-right:auto;
    }
}

// review page start here
section.review {
    color: $font-color;

    .category-breadcrumbs {
        display: inline;
    }

    .review-layouter {
        display: flex;
        flex-flow: row;
        margin-top: 20px;

        .product-info {

            .image {
                border:1px solid red;

                img {
                    height: 280px;
                    width: 280px;
                }
            }

            .heading {
                margin-top: 20px;

                span {
                    font-size: 24px;
                    letter-spacing: -0.58px;
                }
            }

            .price {
                margin-top: 10px;

                .pro-price {
                    font-size: 24px;
                    color: #FF6472;
                    letter-spacing: -0.58px;
                }

                .pro-price-not {
                    margin-left: 10px;
                    color: #A5A5A5;
                    letter-spacing: -0.26px;
                }

                .offer {
                    margin-left: 10px;
                    letter-spacing: -0.26px;
                }
            }
        }

        .review-info {
            margin-left: 20px;
            width: 49%;

            .heading {
                margin-top: 10px;

                span {
                    letter-spacing: -0.26px;
                }

                .btn.btn-primary.right {
                   float: right;
                   margin-top: -10px;
                }
            }

            .rating {
                margin-top : 25px;
                color: #5E5E5E;
                letter-spacing: -0.12px;

                span {
                    display: inline;
                }
            }

            .stars {

                width: 270px;
                display: inline-block;

                label.star {
                font-size: 36px;
                color: #d4d4d4;
                transition: all .2s;
                }

                label.star:before {
                    content: '\2605';
                }

            }

            .write-review {
                margin-top: 25px;

                .control-group {
                    margin-bottom: 0px;

                    textarea {
                        margin-top: 5px;
                        border: 2px solid #C7C7C7;
                        border-radius: 3px;
                        width: 600px;
                        height: 120px;
                    }
                }
            }

            .submit-button {
                margin-top: 10px;

                button {
                    background: $brand-color;
                    font-size: 14px;
                    color: #FFFFFF;
                    letter-spacing: -0.26px;
                    text-align: center;
                    width: 120px;
                    height: 38px;
                    border: none;
                }
            }

            .review-detail{
                height: 150px;
                border: 1px solid firebrick;
                margin-top: 30px;
                display: flex;
                flex-direction: row;

                .rating-review {
                    margin-top: 40px;
                    margin-left: 20px;
                    width: 48%;

                    .avg-rating-count{

                        span {
                            font-size: 34px;
                            letter-spacing: -0.82px;
                            text-align: center;
                        }
                    }
                }

                .rating-calculate {

                    .progress-only {
                        width:20px;
                        border: 1px solid blue;
                    }
                }
            }
        }
    }
}
// review page end here


// customer section css start here
.cusomer-section {
    margin-left: 50px;
    width:100%;

    .customer-section-info {
        display: flex;
        flex-direction: row;
        border-top: 1px solid $border-color;

        .pro-img {
            margin-top: 10px;
            margin-bottom: 5px;

            img {
               height: 125px;
               width: 100px;
            }
        }

        .pro-discription {
            margin-left: 20px;
            width: 100%;

            .title {
                color: $brand-color;
                margin-top: 15px;
            }

            .rating {
                margin-top: 10px;

                .icon {
                    height: 16px;
                    width: 16px;
                }
            }

            .discription {
                margin-top: 15px;
            }
        }
    }

    .customer-section-info:last-child {
        border-bottom: 1px solid $border-color;
    }
}
// customer section css end here