.product-card {

    .product-image {
        max-height: 350px;
        max-width: 280px;
        margin-bottom: 10px;
        background: #F2F2F2;

        img {
            display: block;
            width: 100%;
        }
    }

    .product-name {
        margin-bottom: 14px;
        width: 100%;
        color: $font-color;

        a {
            color: $font-color;
        }
    }

    .product-description {
        display: none;
    }

    .product-ratings {
        width: 100%;

        .icon {
            width: 16px;
            height: 16px;
        }
    }

    .cart-wish-wrap {
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        height: 40px;

        .addtocart {
            margin-right: 10px;
            text-transform: uppercase;

        }

        .add-to-wishlist {
            margin-top: 5px;
        }
    }
}

// product card, requires no changes for responsiveness.
.product-grid-4 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
    grid-auto-rows: auto;
    grid-column-gap: 48px;
    grid-row-gap: 15px;
}

.product-grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
    grid-gap: 27px;
    grid-auto-rows: auto;
}

@media only screen and (max-width: 854px) {
    .product-grid-4 {
        grid-template-columns: 29.5% 29.5% 29.5%;
        grid-column-gap: 35px;
    }
}

@media only screen and (max-width: 653px) {
    .product-grid-4 {
        grid-template-columns: 48.5% 48.5%;
        grid-column-gap: 17px;
    }
}

@media only screen and (max-width: 425px) {
    .product-card {
        font-size: 90%;

        .btn.btn-md {
            padding: 5px;
        }
    }

    .product-grid-4 {
        grid-template-columns: 48.5% 48.5%;
        grid-column-gap: 10px;
    }
}


//wishlist icon hover properties
.add-to-wishlist {
    .wishlist-icon {
        &:hover {
            background-image: url('../images/wishadd.svg');
        }
    }
}

//product page price styles
.product-price {
    margin-bottom: 14px;
    width: 100%;
    font-weight: 600;

    .price-label {
        font-size: 14px;
        font-weight: 400;
    }

    .regular-price {
        color: #A5A5A5;
        text-decoration: line-through;
        margin-right: 10px;
    }

    .special-price {
        color: #FF6472;
    }
}

//horizontal rule
.horizontal-rule {
    width: 100%;
    height: 1px;
    background: $border-color;
}

//Customer account section header
.account-head {
    .account-heading {
        font-size: 28px;
        color: $font-color;
        text-transform: capitalize;
        text-align: left;
    }

    .account-action {
        font-size: 17px;
        margin-top: 1%;
        color: $brand-color;
        float: right;
    }

    .horizontal-rule {
        margin-top: 1.1%;
        width: 100%;
        height: 1px;
        vertical-align: middle;
        background: $border-color;
    }
}

//denotes the item card that are used in account pages
.account-item-card {
    display: flex;
    flex-direction:  row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 125px;

    .media-info {
        display: flex;
        flex-direction: row;

        .media {
            height: 125px;
            width: 125px;
        }

        .info {
            display: block;
            margin-left: 20px;
        }
    }

    .operations {
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        a {
            width: 100%;
            span {
                float: right;
            }
        }
    }
}

//Account items list
.account-items-list {
    display: block;
    width: 100%;
}

