// product card, requires no changes for responsiveness.
.product-grid-4 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 15px;
    grid-auto-rows: auto;
}

.product-grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-column-gap: 27px;
    grid-row-gap: 15px;
    grid-auto-rows: auto;
}

@media only screen and (max-width: 854px) {
    .product-grid-4 {
        grid-template-columns: 29.5% 29.5% 29.5%;
        grid-column-gap: 35px;
    }
}

@media only screen and (max-width: 653px) {
    .product-grid-4 {
        grid-template-columns: 48.5% 48.5%;
        grid-column-gap: 17px;
    }
}

@media only screen and (max-width: 425px) {
    .product-card {
        font-size: 90%;

        .btn.btn-md {
            padding: 5px;
        }
    }

    .product-grid-4 {
        grid-template-columns: 48.5% 48.5%;
        grid-column-gap: 10px;
    }
}

.product-card {

    .product-image {
        max-height: 350px;
        max-width: 280px;
        margin-bottom: 10px;
        background: #F2F2F2;

        img {
            display: block;
            width: 100%;
        }
    }

    .product-name {
        margin-bottom: 14px;
        width: 100%;
        color: $font-color;

        a {
            color: $font-color;
        }
    }

    .product-description {
        display: none;
    }

    .product-ratings {
        width: 100%;

        .icon {
            width: 16px;
            height: 16px;
        }
    }

    .cart-fav-seg {
        display: inline-flex;
        align-items: center;

        .addtocart {
            margin-right: 10px;
            text-transform: uppercase;
            white-space: nowrap;
        }

    }
}

//wishlist icon hover properties
.add-to-wishlist {
    .wishlist-icon {
        &:hover {
            background-image: url('../images/wishadd.svg');
        }
    }
}

//product page price styles
.product-price {
    margin-bottom: 14px;
    width: 100%;
    font-weight: 600;

    .price-label {
        font-size: 14px;
        font-weight: 400;
    }

    .regular-price {
        color: #A5A5A5;
        text-decoration: line-through;
        margin-right: 10px;
    }

    .special-price {
        color: #FF6472;
    }
}

