.icon {
    display: inline-block;
    background-size: cover;
}
.dropdown-right-icon{
    background-image:URL('../images/icon-dropdown-left.svg');
    width: 8px;
    height: 8px;
    margin-left:auto;
    margin-bottom: 2px;
}