.icon {
    display: inline-block;
    background-size: cover;
}

.dropdown-right-icon{
    background-image:URL('../images/icon-dropdown-left.svg');
    width: 8px;
    height: 8px;
    margin-left:auto;
    margin-bottom: 2px;
}

.grid-view-icon {
    background-image:URL('../images/icon-grid-view.svg');
    width: 24px;
    height: 24px;
}

.list-view-icon {
    background-image:URL('../images/icon-list-view.svg');
    width: 24px;
    height: 24px;
}

.whishlist-icon {
    background-image:URL('../images/wishlist.svg');
    width: 24px;
    height: 24px;
}

.share-icon {
    background-image:URL('../images/icon-share.svg');
    width: 24px;
    height: 24px;
}