body {
    margin: 0;
    padding: 0;
    font-weight: 500;
    max-width: 100%;
    width: auto;
    color: $font-color;
    font-size: $font-size-base;
}

* {
    font-family: "Montserrat", sans-serif;
}

.btn.btn-primary{
    border-radius: 0px;
}

//margin bottom classes
.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-35 {
    margin-bottom: 35px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-45 {
    margin-bottom: 45px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-70 {
    margin-bottom: 70px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-90 {
    margin-bottom: 90px;
}


//margin-top
.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-35 {
    margin-top: 35px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-45 {
    margin-top: 45px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-70 {
    margin-top: 70px;
}

.mt-80 {
    margin-top: 80px;
}

.mt-90 {
    margin-top: 90px;
}

@media only screen and (max-width: 551px) {
    .product-grid-3 {
        grid-template-columns: 48.5% 48.5%;
        grid-column-gap: 20px;
    }
}

@media only screen and (max-width: 840px) {

    .layered-filter-wrapper{
        display: none;
    }

    .main {

        .category-block {
            width: 100% !important;

            .top-toolbar {
                border-bottom: 1px solid $border-color;

                .page-info {

                    span:first-child {
                        display: none;
                    }

                    span:last-child {
                        display: inline;
                    }
                }

                .pager {

                    .view-mode {
                        margin-right: 0px;

                        .grid-view , .list-view {
                            display: none;
                        }

                        .sort-filter {
                            display: inline-block;
                            margin-top: 10px;
                        }
                    }

                    .sorter , .limiter{
                        display: none;
                    }
                }
            }

            .reponsive-sorter-limiter {
                display: none;

                select {
                    background: #FFFFFF;
                    border: 1px solid #C7C7C7;
                    border-radius: 3px;
                    color: #242424;
                    padding: 10px;
                }
            }
        }
    }

}

// @media only screen and (max-width: 660px) {
//     .product-grid-3 {
//         grid-template-columns: 48.5% 48.5%;
//         grid-column-gap: 20px;
//     }
// }

// @media only screen and (max-width: 480px) {
//     .product-grid-3 {
//         grid-template-columns: 47.5% 47.5%;
//     }
// }



//layered filter wrapper styles
.layered-filter-wrapper {
    width: 25%;
    float: left;
    padding-right: 20px;
    min-height: 1px;

    .filter-title {
        border-bottom: 1px solid $border-color;
        color: $font-color;
        padding: 10px 0;
    }

    .filter-attributes {
        .filter-attributes-item {
            border-bottom: 1px solid $border-color;
            padding-bottom: 10px;

            .filter-attributes-title {
                padding: 10px 40px 0 10px;
                color: #5E5E5E;
                cursor: pointer;
                position: relative;

                .remove-filter-link {
                    font-weight: 400;
                    color: $brand-color;
                    margin-right: 10px;
                }

                .icon {
                    background-image: url('../images/arrow-down.svg') !important;
                    width: 10px;
                    height: 10px;
                    position: absolute;
                    right: 15px;
                    top: 14px;
                }
            }

            .filter-attributes-content {
                padding: 10px;
                display: none;

                ol.items {
                    padding: 0;
                    margin: 0;
                    list-style: none none;

                    li.item {
                        padding: 8px 0;
                        color: #5E5E5E;

                        .checkbox {
                            margin: 0;

                            .checkbox-view {
                                height: 16px;
                                width: 16px;
                                background-image: url("../images/checkbox.svg");
                            }

                            input:checked + .checkbox-view {
                                background-image: url("../images/checkbox-checked.svg");
                            }
                        }
                    }
                }

                .price-range-wrapper {
                    margin-top: 21px;
                }
            }

            &.active {
                .filter-attributes-content {
                    display: block;
                }

                .filter-attributes-title .icon {
                    background-image: url('../images//arrow-up.svg') !important;
                }
            }
        }
    }
}

.responsive-layred-filter {
    @extend .layered-filter-wrapper;
    width: 100%;
    float: none;
    padding-right: 0px;
}