body {
    margin: 0;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: #000311;
    text-align: center;
    background: #fff;
    position: relative;
    height: 100%;
}

a { color: rgb(0, 65, 255); text-decoration: none;}

.initial-display{
    padding-top: 50px;
}

.initial-display .logo {
    width: 150px;
}

.initial-display p {
    font-size: 24px;
    color: #333333;
    text-align: center;
    font-weight: 600;
    margin-top: 25px;
}

.prepare-btn {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 0 8px 0 rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    border: none;
    cursor: pointer;
    font: inherit;
    display: inline-block;
    background: #0041FF;
    color: #ffffff;
    padding: 10px 20px;
    margin-top: 20px;
}

.warning {
    margin-left: 15%;
}

.footer {
    bottom: 0;
    position: absolute;
    width: 100%;
    padding-bottom: 20px;
}

.left-patern {
    position: absolute;
    left: 0;
    bottom: 0;
}

.right-patern {
    position: absolute;
    right: 0;
    bottom: 0;
}

.content {
    border-radius: 5px;
    box-shadow: 1px 8px 18px rgba(62, 85, 120, 0.45);
    min-height: 300px;
    width: 600px;
    margin-left: calc(50% - 300px);
    text-align: left;
    overflow-y: auto;
}

.requirements_list {
    width: 90%;
    list-style: none;
    margin-left: 5%;
    padding:0;
}

.requirements_list li { 
    padding: 0 8px 8px; 
    margin-bottom: 8px; 
    border-bottom: 1px dashed #dcdcdc; 
    line-height: normal; 
}

.requirements_list li:last-child { border-bottom: 0;}

.requirements_list small {
    font-size: 13px; 
    color:#9b9b9b;
}

.content .cp-round {
    position: auto !important;
}

.content .cp-round:before {
    border-radius: 50%;
    content: " ";
    width: 48px;
    height: 48px;
    display: inline-block;
    box-sizing: border-box;
    border-top: solid 6px #bababa;
    border-right: solid 6px #bababa;
    border-bottom: solid 6px #bababa;
    border-left: solid 6px #bababa;
    position: absolute;
    top: calc(40% - 14px);
    left: calc(50% - 24px);
}

.content .cp-round:after {
    border-radius: 50%;
    content: " ";
    width: 48px;
    height: 48px;
    display: inline-block;
    box-sizing: border-box;
    border-top: solid 6px #0041FF;
    border-right: solid 6px #bababa;
    border-bottom: solid 6px #bababa;
    border-left: solid 6px #bababa;
    position: absolute;
    top: calc(40% - 14px);
    left: calc(50% - 24px);
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.title {
    font-size: 16px;
    color: #151515;
    line-height: 30px;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}

span {
    font-size: 16px;
    color: #333333;
    line-height: 30px;
}

.welcome, .environment, .migration, .permission, .admin, .finish {
    display : none;
}

.control-group {
    display: block;
    margin-bottom: 15px;
    font-size: 15px;
    color: #333333;
    width: 750px;
    max-width: 100%;
    position: relative;
}

.control-group label {
    display: block;
    color: #3a3a3a;
}

.control-group .control {
    background: #fff;
    border: 2px solid #C7C7C7;
    border-radius: 3px;
    width: 100%;
    height: 36px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0px 10px;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.control-group label.required::after {
    content: "*";
    color: #FC6868;
    font-weight: 700;
    display: inline-block;
}

.form-error {
    color: #ff5656 !important;
}

.control-group.has-error .control {
    border-color: #FC6868 !important;
}

pre.bash {
    background-color: black;
    color: white;
    font-size: medium ;
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    width: 100%;
    display: inline-block;
    height: 100%;
}

.check {
    line-height: 35px;
    margin-left: 25%;
}

.composer {
    position: absolute;
    top: calc(50% + 24px);
    display: none;
}

.message {
    padding-left: 140px;
}

@media (min-width: 1281px) {
    .content {
        padding: 2rem 0;
    }

    .content {
        max-height: 484px;
        margin: 20px auto;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .initial-display{
        padding-top: 15px;
    }

    .content {
        padding: 1rem 0;
    }

    .content {
        max-height: 488px;
        margin: 30px auto;
    }

    .initial-display p {
        margin-top: 4px;
    }    
}