.bulk-upload-icon {
    width: 48px;
    height: 48px;
    display: inline-block;
    background-size: cover;
    background-image: url("../images/Icon-Bulk-Upload.svg");
}

.active {
    .bulk-upload-icon {
        width: 48px;
        height: 48px;
        display: inline-block;
        background-size: cover;
        background-image: url("../images/Icon-Bulk-Upload-Active.svg");
    }
}

progress {
    margin: 15px 0px 15px 34px;
    width: 70%;
    height: 15px;
}
